<section class="page-section">
	<div class="container-fluid narrow">
		<h4>Basic Example</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
		<div class="markup-panel">
			<div class="panel">
<a href="#" class="button button--ghost" data-tooltip="This is a tooltip" data-placement="left">left tooltip</a>
<a href="#" class="button button--ghost" data-tooltip="This is a tooltip" data-placement="top">top tooltip</a>
<a href="#" class="button button--ghost" data-tooltip="This is a tooltip" data-placement="bottom">bottom tooltip</a>
<a href="#" class="button button--ghost" data-tooltip="This is a tooltip" data-placement="right">right tooltip</a>
			</div>
			<pre><code class="language-markup"></code></pre>
		</div>
	</div>
</section>