<div class="page-section__sub-section">
	<h4>Basic Example</h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
	<div class="markup-panel">
		<div class="markup-panel__example">
<button role="button" class="ter-button ter-button--ghost" data-tooltip="This is a tooltip" data-direction="left">left tooltip</button>
<button role="button" class="ter-button ter-button--ghost" data-tooltip="This is a tooltip" data-direction="top">top tooltip</button>
<button role="button" class="ter-button ter-button--ghost" data-tooltip="This is a tooltip" data-direction="bottom">bottom tooltip</button>
<button role="button" class="ter-button ter-button--ghost" data-tooltip="This is a tooltip" data-direction="right">right tooltip</button>
		</div>
		<pre><code class="language-markup"></code></pre>
	</div>
</div>