<section class="hero hero--slim bg-trimble-gray-2">
	<div class="container-fluid narrow">
		<div class="row">
			<div class="col-md-12 col-lg-8">
				<h1>Button</h1>
				<p class="font-size-1">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.
				</p>
			</div>
		</div>
	</div>
</section>
<section class="page-section">
	<div class="container-fluid narrow">
		<h3>Component</h3>
		<h4>Primary Button</h4>
		<div class="panel">
			<a class="button" href="#">Primary Button</a>
			<a class="button" href="#" disabled>Primary Disabled</a>
		</div>
		<h4>Secondary Button</h4>
		<div class="panel">
			<a class="button--light-blue" href="#">Secondary Button</a>
			<a class="button--light-blue" href="#" disabled>Secondary Disabled</a>
		</div>
		<h4>Outline Button</h4>
		<div class="panel">
			<a class="button--outline" href="#">Outline Button</a>
			<a class="button--outline" href="#" disabled>Outline Disabled</a>
		</div>
	</div>
</section>
<section class="page-section">
	<div class="container-fluid narrow">
		<h3>SCSS</h3>
		<h4>Mixins</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
		<table class="table--border">
			<tr>
				<th>Name</th>
				<th>Parameters</th>
				<th>Description</th>
			</tr>
			<tr>
				<td><pre>button-base()</pre></td>
				<td>bgColor, color, borderColor, bgHoverColor, colorHover</td>
				<td>Defines the base styles that create all buttons</td>
			</tr>
		</table>
	</div>
</section>