body,
html {
  color: $body-font-color;
  background: $body-bg-color;
  height: 100%;
}

body {
  padding-top: 4rem;
  &.no-nav {
    padding-top: 0;
  }
}

a,
a:visited,
a:active,
a:focus {
  transition: all .4s ease;
  font-weight: font-weight(0);
  color: $link-color;
  text-decoration: none;
  &:hover {
    color: $link-hover-color;
    text-decoration: underline;
  }
}

hr {
  width: 100%;
  height: 1px;
  background-color: $ui-3;
  border: 0;
}