body,
html {
  color: $body-font-color;
  background: $body-bg-color;
  height: 100%;
}

body {
  // padding-top: 4rem;
  &.no-nav {
    padding-top: 0;
  }
}

a,
a:visited,
a:active,
a:focus {
  font-weight: font-weight(0);
  color: $link-color;
  transition: color 200ms ease;
  text-decoration: none;
  &:hover {
    color: $link-hover-color;
    text-decoration: none;
  }
}

p a {
  &:hover {
    @if $link-highlight {
      background: $link-highlight-color;
    }
  }
}

hr {
  width: 100%;
  height: 1px;
  background-color: neutral-color('gray-1');
  border: 0;
}

.hidden {
  display: none;
  visibility: hidden;
}

pre {
  margin: 0;
}

::selection {
  background: brand-color('accent-1');
}