/*

	Spacing scale

*/

:root {
    @each $size, $value in $spacing-scale {
        --spacing-#{$size}: #{$value};
    }
}

// padding all
@each $size, $value in $spacing-scale {

	// padding
    .padding-all-#{$size} {
        padding: $value;
    }
    .padding-h-#{$size} {
        padding-left: $value;
        padding-right: $value;
    }
    .padding-v-#{$size} {
        padding-top: $value;
        padding-bottom: $value;
    }
    .padding-top-#{$size} {
        padding-top: $value;
    }
    .padding-right-#{$size} {
        padding-right: $value;
    }
    .padding-bottom-#{$size} {
        padding-bottom: $value;
    }
    .padding-left-#{$size} {
        padding-left: $value;
    }

    //margin
    .margin-all-#{$size} {
        margin: $value;
    }
    .margin-h-#{$size} {
        margin-left: $value;
        margin-right: $value;
    }
    .margin-v-#{$size} {
        margin-top: $value;
        margin-bottom: $value;
    }
    .margin-top-#{$size} {
        margin-top: $value;
    }
    .margin-right-#{$size} {
        margin-right: $value;
    }
    .margin-bottom-#{$size} {
        margin-bottom: $value;
    }
    .margin-left-#{$size} {
        margin-left: $value;
    }

}