/*

  Typography

*/

//
// mixins

@mixin header-type-setting($level: 0, $weight: 'normal') {
	font-size: type-scale($level);
	line-height: map-get($type-scale, $level) * 1.25;
	font-weight: font-weight($weight);
	color: $header-font-color;
	display: block;
}

@mixin type-setting($level: 0, $weight: 'normal') {
	font-size: type-scale($level);
	line-height: map-get($type-scale, $level) * 1.5;
	font-weight: font-weight($weight);
}

@mixin font-size-paragraph {
	@include type-setting(0);
	margin: 0 0 $base-line-height 0;
}

@mixin font-size($size) {
	@include type-setting($size);
}


//
// global typography settings

body, html {
	@include font-sans-serif;
	@include type-setting(0);
}

p {
	@include font-size-paragraph;
}


//
// typography settings


//
// heading typography settings

// @mixin heading-mega {
// 	@include header-type-setting(6,'bold');
// 	padding-bottom: spacing(5);
// 	margin: 0;
// }

// .heading-mega {
// 	@include heading-mega;
// }

@mixin heading-1 {
	@include header-type-setting(4,'bold');
	padding-bottom: spacing(5);
	margin: 0;
}

h1,
.heading-1 {
	@include heading-1;
}

@mixin heading-2 {
	@include header-type-setting(3,'bold');
	padding-bottom: spacing(5);
	margin: 0;
}

h2,
.heading-2 {
	@include heading-2;
}

@mixin heading-3 {
	@include header-type-setting(2,'bold');
	padding-bottom: spacing(5);
	margin: 0;
}

h3,
.heading-3 {
	@include heading-3;
}

@mixin heading-4 {
	@include header-type-setting(1,'bold');
	padding-bottom: spacing(4);
	margin: 0;
}

h4,
.heading-4 {
	@include heading-4;
}

@mixin heading-5 {
	@include header-type-setting(0,'bold');
	padding-bottom: spacing(4);
	margin: 0;
}

h5,
.heading-5 {
	@include heading-5;
}

.font-size-micro {
	@include font-size(-2);
}

.font-size-mini,
small {
	@include font-size(-1);
}

.font-size-1 {
	@include font-size(1);
}

.font-size-2 {
	@include font-size(2);
}

.font-size-3 {
	@include font-size(3);
}

.font-size-4 {
	@include font-size(4);
}

.font-size-5 {
	@include font-size(5);
}