// Load Terra Design System
@import "../terra/scss/terra";

// Custom Organisms
@import "organisms/pricing-table";

// Insert Custom Styles

// logo container

@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}

@mixin transform-origin($transforms) {
    -moz-transform-origin: $transforms;
    -o-transform-origin: $transforms;
    -ms-transform-origin: $transforms;
    -webkit-transform-origin: $transforms;
    transform-origin: $transforms;
}

.navbar--terra {
    z-index: 901;
}

.navbar__brand.terra {
    $size: height(1);
    height: $size * 2;
    width: $size * 1.8;
    display: inline-block;
}

.markup-panel {
    div.flexbox,
    div.flexbox-inline {
        border: 1px solid grayscale('gray-1');
        padding: spacing(3);
        margin-bottom: spacing(3);
        > div {
            border: 1px solid darken(brand-color('brand-2'), 10%);
            padding: spacing(3);
            color: type-color('inverse');
            background-color: brand-color('brand-2');
        }
    }
}

.logo {
    $size: height(1);
    $color: grayscale('gray-3');
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: $size * 2;
    width: $size * 1.8;
    // cube container
    .cube {
        position: absolute;
        top: 50%;
        left: 50%;
        // inner cube
        &:nth-child(2) {
            @include transform(rotate(180deg) scale(.5));
        }
        // cube faces
        span {
            @include transform-origin(0 0);
            position: absolute;
            height: $size;
            width: $size;  
            // top
            &:nth-child(1) {
                @include transform(rotate(210deg) skewX(-30deg) scaleY(0.864));
                background: lighten($color, 16%);
            }
            // left
            &:nth-child(2) {
                @include transform(rotate(90deg) skewX(-30deg) scaleY(0.864));
                background: $color;
            }
            // right
            &:nth-child(3) {
                @include transform(rotate(-30deg) skewX(-30deg) scaleY(0.864));
                background: lighten($color, 8%);
            }
        }
    }
    // wireframe
    &.wireframe {
        $border-color: grayscale('gray-4');
        $border-width: $size * .05;
        opacity: 1;
        transition: opacity 225ms ease-in-out;
        &:hover {
            opacity: 0.85;
        }
        .cube {
            span {
                background: grayscale('dark-0');
                box-shadow: inset (-$border-width/4) (-$border-width/4) 0 $border-width $border-color;
            }
            &:nth-child(2) {
                span {
                    box-shadow: inset (-$border-width/2) (-$border-width/2) 0 $border-width*2 $border-color;
                }
            }
        }
    }
}

.color-swatch {
    @include box-shadow(1);
    width: 100%;
    margin-bottom: spacing(4);
    &__color {
        width: 100%;
        height: 0;
        padding-bottom: 40%;
        margin-bottom: spacing(2);
    }
    &__label {
        @include type-setting(-1, "bold");

        text-align: center;
    }
    &__hex {
        text-align: center;
        padding-bottom: spacing(2);
    }
}

.depth-box {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative;
    span {
        display: block;
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
    }
}

.structure-block {
    position: relative;
    margin-bottom: spacing(3);
    label {
        @include type-setting(-1, 'normal');
        display: inline-block;
        margin-right: spacing(3);
        position: absolute;
        top: 0;
    }
    &__box {
        display: inline-block;
        margin-left: 3em;
    }
    &--molecule {
        .structure-block__box {
            background: brand-color('brand-1');
        }

    }
    &--page {
        .structure-block__box {
            background: brand-color('brand-2');
        }
    }
}

code {
    color: #ff00ff;
    background: transparentize(#ff00ff, 0.9)
}

.grid-box {
    width: stretch;
    height: height(4);
    position: relative;
    border: 1px solid darken(brand-color('brand-2'), 10%);
    background: brand-color('brand-2');
    margin-bottom: spacing(5);
    span {
        display: block;
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        color: grayscale('white');
    }
}

.box {
    display: inline-block;
    border: 1px solid darken(brand-color('brand-2'), 10%);
    background-color: brand-color('brand-2');
    color: type-color('inverse');
}

.markup-panel {
    margin-bottom: spacing(7);
    &__example {
        margin-bottom: spacing(7);
    }
    :not(pre) > code[class*="language-"],
    pre[class*="language-"] {
        margin-top: 0;
        // background: grayscale("dark-0");
        // border: 1px solid grayscale("dark-0");
    }
}

.main-content {
    height: auto;
    @include for-size("tablet-portrait-up") {
        // margin-left: 17.5rem;
    }
}

.main-footer {
    @include type-setting(-1,'normal');
    padding: spacing(5) 0;
    border-top: 1px solid grayscale('gray-1');
    height: auto;
}

.side-nav {
    border-right: 1px solid grayscale('gray-1');
    background: grayscale("white");
    transition: transform 500ms ease-in-out;
    height: calc(100vh - 64px);
    position: sticky;
    top: $navbar-height;
    overflow: scroll;
    &__section {
        padding-top: spacing(6);
        padding-bottom: spacing(6);
    }
}

.navbar__right {
    @include for-size(tablet-landscape-up) {
        margin-left: 17.5rem;
    }
    .container-fluid {
        @include for-size(tablet-landscape-up) {
            display: flex;
        }
    }
}

.navbar__nav--collapse {
    > ul {
        @include for-size(tablet-landscape-up) {
            padding-left: 0;
            padding-right: 0;
        }
        li:first-child {
            @include for-size(tablet-landscape-up) {
                padding-left: 0;
            }
        }
        li:last-child {
            @include for-size(tablet-landscape-up) {
                padding-right: 0;
            }
        }
    }
}

.hero {
    padding-top: spacing(10);
    padding-bottom: spacing(10);
    &--intro {
        padding-top: spacing(10);
        padding-bottom: spacing(10);
        background-size: cover;
        background-position: center center;
        position: relative;
    }
    &--slim {
        padding-top: spacing(8);
        padding-bottom: spacing(8);
    }
}