// Load Terra Design System
@import '../terra/scss/terra';

// Custom Organisms
@import 'organisms/pricing-table';

// Insert Custom Styles

.color-swatch {
	@include box-shadow(1);
	width: 100%;
	margin-bottom: spacing(medium);
	&__color {
		width: 100%;
		height: 0;
		padding-bottom: 40%;
		margin-bottom: spacing(2);
	}
	&__label {
		@include type-setting(-1,'bold');
		text-align: center;
	}
	&__hex {
		text-align: center;
		padding-bottom: spacing(2);
	}
}

.depth-box {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
  span {
    display: block;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
  }
}
.grid-box {
  width: 100%;
  height: height(4);
  position: relative;
  background: neutral-color('gray-1');
  margin-bottom: spacing(5);
  span {
    display: block;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: neutral-color('white');
  }
}

.markup-panel {
  &__example {
    margin-bottom: spacing(7);
  }
  :not(pre) > code[class*="language-"],
  pre[class*="language-"] {
    margin-top: 0;
    background: neutral-color('light-1');
    border: 1px solid neutral-color('gray-1');
  }
}

.main-content {
  height: auto;
  @include for-size("tablet-portrait-up") {
    margin-left: 17.5rem;
  }
}

.main-footer {
  padding: spacing(5) 0;
  border-top: 1px solid neutral-color('gray-1');
  height: auto;
}

.side-nav {
  width: 17.5rem;
  position: fixed;
  left: 0;
  border-right: 1px solid neutral-color('gray-1');
  background: neutral-color('white');
  transform: translateX(-100%);
  transition: transform 500ms ease-in-out;
  overflow-y: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  @include for-size(tablet-portrait-up) {
    transform: translateX(0);
  }
  &__section {
    padding: spacing(6);
    border-bottom: 1px solid neutral-color('gray-1');
    &--fill-height {
      flex-grow: 1;
    }
  }
}
