<div class="page-section__sub-section">
    <h4>Basic Example</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
    <div class="markup-panel">
        <div class="markup-panel__example">
<nav class="navbar" role="navigation">
    <a href="/" class="navbar__brand">
        Brand
    </a>
    <button class="navbar__toggle" type="button" data-toggle="collapse" data-target=".collapse">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
    </button>
    <div class="navbar__nav">
        <ul class="navbar__menu">
            <li class="navbar__menu-item ter-dropdown">
                <a href="/" class="ter-dropdown__toggle">Dropdown</a>
                <ul class="ter-dropdown__menu">
                    <li class="ter-dropdown__item"><a href="#">Link</a></li>
                </ul>
            </li>
            <li class="navbar__menu-item"><a href="/documentation/getting-started">Documentation</a></li>
            <li class="navbar__menu-item"><a href="https://bitbucket.org/creativestrategy/terra_design_system/src/master/" class="ter-button ter-button--primary">Download</a></li>
        </ul>
    </div>
</nav>
        </div>
        <pre><code class="language-markup"></code></pre>
    </div>
</div>