<div class="page-section__sub-section">
    <h4>Basic Example</h4>
    <p>The <code>.ter-navbar</code> component by itself is fairly bare bones.</p>
    <h5>Important Settings</h5>
    <ul>
        <li>To fix the navbar to the top of the page, use <code>.is-fixed</code></li>
        <li>To contain the max-width of the navbar, use the <code>.wrap</code> class on the <code>.container-fluid</code> element</li>
    </ul>
    <h5>Nested Elements</h5>
    <ul>
        <li><code>.ter-navbar__brand</code> will encase your app's branding as an image logo or text logo</li>
        <li><code>.ter-navbar__toggle</code> is the mobile button that triggers the hidden <code>.ter-navbar__nav</code></li>
        <li><code>.ter-navbar__nav</code> will contain the actual navigation links, buttons, etc.</li>
        <li><code>.ter-navbar__form</code> will properly position inline forms in the navbar</li>
    </ul>
    <p>Below is a basic example that uses all of these nested elements:</p>
    <div class="markup-panel">
        <div class="markup-panel__example">
<nav class="ter-navbar" role="navigation">
    <div class="container-fluid">
        <a href="/" class="ter-navbar__brand">
            Brand
        </a>
        <button class="ter-navbar__toggle" type="button" data-toggle="collapse" data-target=".collapse">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </button>
        <div class="ter-navbar__nav">
            <ul class="ter-navbar__menu">
                <li class="ter-navbar__menu-item ter-dropdown">
                    <a href="/" class="ter-dropdown__toggle">Dropdown</a>
                    <ul class="ter-dropdown__menu">
                        <li class="ter-dropdown__item ter-dropdown__item--no-link">Products</li>
                        <li class="ter-dropdown__item"><a href="#">Software</a></li>
                        <li class="ter-dropdown__item"><a href="#">Hardware</a></li>
                        <li class="ter-dropdown__item ter-dropdown__item--separator"></li>
                        <li class="ter-dropdown__item"><a href="#">View All</a></li>
                    </ul>
                </li>
                <li class="ter-navbar__menu-item"><a href="/documentation/getting-started">Documentation</a></li>
                <li class="ter-navbar__menu-item"><a href="https://bitbucket.org/creativestrategy/terra_design_system/src/master/" class="ter-button ter-button--outline">Action</a></li>
            </ul>
            <form class="ter-navbar__form ter-search-bar flexbox flex-row flex-wrap align-items-center flex pad-left-3">
                <div class="ter-search-bar__input ter-input">
                    <div class="ter-input__wrap">
                        <input type="text" placeholder="search">
                    </div>
                </div>
                <button class="ter-search-bar__submit"><i class="fi flaticon-magnifying-glass"></i></button>
            </form>
        </div>
    </div>
</nav>
        </div>
        <pre><code class="language-markup"></code></pre>
    </div>
</div>
<div class="page-section__sub-section">
    <h4>Inverse Colors</h4>
    <p>To inverse the color scheme of the navbar, you can add the <code>.is-inverse</code> class to the top-level <code>.ter-navbar</code> component.</p>
    <div class="markup-panel">
        <div class="markup-panel__example">
<nav class="ter-navbar is-inverse" role="navigation">
    <div class="container-fluid">
        <a href="/" class="ter-navbar__brand">
            Brand
        </a>
        <button class="ter-navbar__toggle" type="button" data-toggle="collapse" data-target=".collapse">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </button>
        <div class="ter-navbar__nav">
            <ul class="ter-navbar__menu">
                <li class="ter-navbar__menu-item ter-dropdown">
                    <a href="/" class="ter-dropdown__toggle">Dropdown</a>
                    <ul class="ter-dropdown__menu">
                        <li class="ter-dropdown__item ter-dropdown__item--no-link">Products</li>
                        <li class="ter-dropdown__item"><a href="#">Software</a></li>
                        <li class="ter-dropdown__item"><a href="#">Hardware</a></li>
                        <li class="ter-dropdown__item ter-dropdown__item--separator"></li>
                        <li class="ter-dropdown__item"><a href="#">View All</a></li>
                    </ul>
                </li>
                <li class="ter-navbar__menu-item"><a href="/documentation/getting-started">Documentation</a></li>
                <li class="ter-navbar__menu-item"><a href="https://bitbucket.org/creativestrategy/terra_design_system/src/master/" class="ter-button ter-button--outline">Action</a></li>
            </ul>
            <form class="ter-navbar__form ter-search-bar flexbox flex-row flex-wrap align-items-center flex">
                <div class="ter-search-bar__input ter-input">
                    <div class="ter-input__wrap">
                        <input type="text" placeholder="search">
                    </div>
                </div>
                <button class="ter-search-bar__submit"><i class="fi flaticon-magnifying-glass"></i></button>
            </form>
        </div>
    </div>
</nav>
        </div>
        <pre><code class="language-markup"></code></pre>
    </div>
</div>
<div class="page-section__sub-section">
    <h4>Mega Menu</h4>
    <p>Mega menus are flexible, full-width navigation elements that display a wide variety of navigation items at once to a user. These are useful elements for sites with more complex site maps. Mega menus are used as children to menu items, essentially replacing dropdown menus.</p>
    <div class="markup-panel">
        <div class="markup-panel__example">
<nav class="ter-navbar is-inverse" role="navigation">
    <div class="container-fluid">
        <a href="/" class="ter-navbar__brand">
            Brand
        </a>
        <button class="ter-navbar__toggle" type="button" data-toggle="collapse" data-target=".collapse">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </button>
        <div class="ter-navbar__nav">
            <ul class="ter-navbar__menu">
                <li class="ter-navbar__menu-item">
                    <a href="#" class="ter-mega-menu__trigger">Solutions</a>
                    <div class="ter-mega-menu">
                        <ul class="ter-mega-menu__list">
                            <div class="container-fluid wrap">
                                <div class="row">
                                    <li class="col-sm">
                                        <ul>
                                            <li class="ter-mega-menu__list-head">List Head</li>
                                            <li><a href="#">Products</a></li>
                                            <li><a href="#">References</a></li>
                                            <li><a href="#">Services</a></li>
                                            <li><a href="#">About</a></li>
                                            <li><a href="#">Contact</a></li>
                                        </ul>
                                    </li>
                                    <li class="col-sm">
                                        <ul>
                                            <li class="ter-mega-menu__list-head">List Head</li>
                                            <li><a href="#">Products</a></li>
                                            <li><a href="#">References</a></li>
                                            <li><a href="#">Services</a></li>
                                            <li><a href="#">About</a></li>
                                            <li><a href="#">Contact</a></li>
                                        </ul>
                                    </li>
                                    <li class="col-sm">
                                        <ul>
                                            <li class="ter-mega-menu__list-head">List Head</li>
                                            <li><a href="#">Products</a></li>
                                            <li><a href="#">References</a></li>
                                            <li><a href="#">Services</a></li>
                                            <li><a href="#">About</a></li>
                                            <li><a href="#">Contact</a></li>
                                        </ul>
                                    </li>
                                    <li class="col-sm">
                                        <ul>
                                            <li class="ter-mega-menu__list-head">List Head</li>
                                            <li><a href="#">Products</a></li>
                                            <li><a href="#">References</a></li>
                                            <li><a href="#">Services</a></li>
                                            <li><a href="#">About</a></li>
                                            <li><a href="#">Contact</a></li>
                                        </ul>
                                    </li>
                                </div>
                            </div>
                        </ul>
                    </div>
                </li>
                <li class="ter-navbar__menu-item"><a href="#">About</a></li>
                <li class="ter-navbar__menu-item"><a href="#">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
        </div>
        <pre><code class="language-markup"></code></pre>
    </div>
</div>