<div class="page-section__sub-section">
    <h4>Basic Example</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
    <div class="markup-panel">
        <div class="markup-panel__example">
<nav class="ter-navbar container-fluid" role="navigation">
    <a href="/" class="ter-navbar__brand">
        Brand
    </a>
    <button class="ter-navbar__toggle" type="button" data-toggle="collapse" data-target=".collapse">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
    </button>
    <div class="ter-navbar__nav">
        <ul class="ter-navbar__menu">
            <li class="ter-navbar__menu-item ter-dropdown">
                <a href="/" class="ter-dropdown__toggle">Dropdown</a>
                <ul class="ter-dropdown__menu">
                    <li class="ter-dropdown__item ter-dropdown__item--no-link">Products</li>
                    <li class="ter-dropdown__item"><a href="#">Software</a></li>
                    <li class="ter-dropdown__item"><a href="#">Hardware</a></li>
                    <li class="ter-dropdown__item ter-dropdown__item--separator"></li>
                    <li class="ter-dropdown__item"><a href="#">View All</a></li>
                </ul>
            </li>
            <li class="ter-navbar__menu-item"><a href="/documentation/getting-started">Documentation</a></li>
            <li class="ter-navbar__menu-item"><a href="https://bitbucket.org/creativestrategy/terra_design_system/src/master/" class="ter-button ter-button--outline">Action</a></li>
        </ul>
        <form class="ter-navbar__form search-bar flexbox flex-row flex-wrap align-items-center flex pad-left-3">
            <div class="search-bar__input ter-input">
                <div class="ter-input__wrap">
                    <input type="text" placeholder="search">
                </div>
            </div>
            <button class="search-bar__submit"><i class="fi flaticon-magnifying-glass"></i></button>
        </form>
    </div>
</nav>
        </div>
        <pre><code class="language-markup"></code></pre>
    </div>
</div>
<div class="page-section__sub-section">
    <h4>Inverse Colors</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
    <div class="markup-panel">
        <div class="markup-panel__example">
<nav class="ter-navbar container-fluid inverse-color" role="navigation">
    <a href="/" class="ter-navbar__brand">
        Brand
    </a>
    <button class="ter-navbar__toggle" type="button" data-toggle="collapse" data-target=".collapse">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
    </button>
    <div class="ter-navbar__nav">
        <ul class="ter-navbar__menu">
            <li class="ter-navbar__menu-item ter-dropdown">
                <a href="/" class="ter-dropdown__toggle">Dropdown</a>
                <ul class="ter-dropdown__menu">
                    <li class="ter-dropdown__item ter-dropdown__item--no-link">Products</li>
                    <li class="ter-dropdown__item"><a href="#">Software</a></li>
                    <li class="ter-dropdown__item"><a href="#">Hardware</a></li>
                    <li class="ter-dropdown__item ter-dropdown__item--separator"></li>
                    <li class="ter-dropdown__item"><a href="#">View All</a></li>
                </ul>
            </li>
            <li class="ter-navbar__menu-item"><a href="/documentation/getting-started">Documentation</a></li>
            <li class="ter-navbar__menu-item"><a href="https://bitbucket.org/creativestrategy/terra_design_system/src/master/" class="ter-button ter-button--outline">Action</a></li>
        </ul>
        <form class="ter-navbar__form search-bar flexbox flex-row flex-wrap align-items-center flex">
            <div class="search-bar__input ter-input">
                <div class="ter-input__wrap">
                    <input type="text" placeholder="search">
                </div>
            </div>
            <button class="search-bar__submit"><i class="fi flaticon-magnifying-glass"></i></button>
        </form>
    </div>
</nav>
        </div>
        <pre><code class="language-markup"></code></pre>
    </div>
</div>
<div class="page-section__sub-section">
    <h4>Mega Menu</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
    <div class="markup-panel">
        <div class="markup-panel__example">
<nav class="ter-navbar container-fluid inverse-color" role="navigation">
    <a href="/" class="ter-navbar__brand">
        Brand
    </a>
    <button class="ter-navbar__toggle" type="button" data-toggle="collapse" data-target=".collapse">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
    </button>
    <div class="ter-navbar__nav">
        <ul class="ter-navbar__menu">
            <li class="ter-navbar__menu-item">
                <a href="#" class="mega-menu__trigger">Solutions</a>
                <div class="mega-menu">
                    <ul class="mega-menu__list">
                        <div class="container-fluid wrap">
                            <div class="row">
                                <li class="col-sm">
                                    <ul>
                                        <li>List Head</li>
                                        <li><a href="#">Products</a></li>
                                        <li><a href="#">References</a></li>
                                        <li><a href="#">Services</a></li>
                                        <li><a href="#">About</a></li>
                                        <li><a href="#">Contact</a></li>
                                    </ul>
                                </li>
                                <li class="col-sm">
                                    <ul>
                                        <li>List Head</li>
                                        <li><a href="#">Products</a></li>
                                        <li><a href="#">References</a></li>
                                        <li><a href="#">Services</a></li>
                                        <li><a href="#">About</a></li>
                                        <li><a href="#">Contact</a></li>
                                    </ul>
                                </li>
                                <li class="col-sm">
                                    <ul>
                                        <li>List Head</li>
                                        <li><a href="#">Products</a></li>
                                        <li><a href="#">References</a></li>
                                        <li><a href="#">Services</a></li>
                                        <li><a href="#">About</a></li>
                                        <li><a href="#">Contact</a></li>
                                    </ul>
                                </li>
                                <li class="col-sm">
                                    <ul>
                                        <li>List Head</li>
                                        <li><a href="#">Products</a></li>
                                        <li><a href="#">References</a></li>
                                        <li><a href="#">Services</a></li>
                                        <li><a href="#">About</a></li>
                                        <li><a href="#">Contact</a></li>
                                    </ul>
                                </li>
                            </div>
                        </div>
                    </ul>
                </div>
            </li>
            <li class="ter-navbar__menu-item"><a href="#">About</a></li>
            <li class="ter-navbar__menu-item"><a href="#">Contact</a></li>
        </ul>
    </div>
</nav>
        </div>
        <pre><code class="language-markup"></code></pre>
    </div>
</div>