<footer class="main-footer">
	<div class="container-fluid narrow">
		<div class="font-size-sm">What's New? <a href="#">v.1.2.8</a></a>
		<div class="font-size-sm">Copyright &copy; Terra Design System 2018</div>
	</div>
</footer>