<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<title>{{page.title}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link id="theme-switch" rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/prism.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	<script type="text/javascript" src="https://creative-strategy.atlassian.net/s/d41d8cd98f00b204e9800998ecf8427e-T/l24at6/b/0/a44af77267a987a660377e5c46e0fb64/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&collectorId=2c6cffaf"></script>


</head>
<body class="{{#if has-nav}}has-nav{{else}}{{/if}}">