<nav class="navbar {{#if stay-put}}stay-put{{else}}{{/if}} is-fixed navbar--terra">
	<a href="/" class="navbar__brand terra">
		<div class="logo wireframe">
			<div class="cube">
				<span></span>
				<span></span>
				<span></span>
			</div>
			<div class="cube">
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
	</a>
	<button class="navbar__toggle" type="button" data-toggle="collapse" data-target=".collapse">
		<span class="line"></span>
		<span class="line"></span>
		<span class="line"></span>
	</button>
	<div class="navbar__nav flex">
		<form class="search-bar input-group form-inline flexbox flex-row flex-wrap align-items-center flex pad-left-6 pad-right-6">
			<div class="search-bar__input">
				<div class="input-wrap">
			    	<input type="text" placeholder="search">
			    </div>
		    </div>
			<button class="search-bar__submit"><i class="fi flaticon-magnifying-glass"></i></button>
		</form>
		<ul class="navbar__menu">
			<li class="navbar__menu-item ter-dropdown">
				<a href="/" class="ter-dropdown__toggle">Dropdown</a>
				<ul class="ter-dropdown__menu">
					<li class="ter-dropdown__item"><a href="#">Link</a></li>
				</ul>
			</li>
			<li class="navbar__menu-item"><a href="/documentation/getting-started">Documentation</a></li>
			<li class="navbar__menu-item"><a href="https://bitbucket.org/creativestrategy/terra_design_system/src/master/" class="ter-button ter-button--primary">Download</a></li>
		</ul>
	</div>
</nav>