<nav class="ter-navbar {{#if auto-hide}}js-auto-hide{{else}}{{/if}} is-fixed ter-navbar--terra">
	<div class="container-fluid">
		<a href="/" class="ter-navbar__brand terra">
			<div class="logo wireframe">
				<div class="cube">
					<span></span>
					<span></span>
					<span></span>
				</div>
				<div class="cube">
					<span></span>
					<span></span>
					<span></span>
				</div>
			</div>
		</a>
		<button class="ter-navbar__toggle" type="button" data-toggle="collapse" data-target=".collapse">
			<span class="line"></span>
			<span class="line"></span>
			<span class="line"></span>
		</button>
		<div class="ter-navbar__nav">
			<form class="ter-navbar__form ter-search-bar ter-input form-inline d-flex flex-row flex-wrap align-items-center flex-1 pad-left-md pad-right-md pad-v-xs">
				<div class="ter-search-bar__input ter-input__wrap">
			    	<input type="text" placeholder="search">
			    </div>
				<button class="ter-search-bar__submit"><i class="fi flaticon-magnifying-glass"></i></button>
			</form>
			<ul class="ter-navbar__menu">
				<li class="ter-navbar__menu-item"><a href="/">Home</a></li>
				<li class="ter-navbar__menu-item"><a href="/documentation/getting-started">Documentation</a></li>
				<li class="ter-navbar__menu-item"><a href="https://bitbucket.org/creativestrategy/terra_design_system/src/master/" class="ter-button ter-button--primary">Download</a></li>
			</ul>
			{{!-- <ul class="ter-navbar__menu">
			    <li class="ter-navbar__menu-item">
			        <a href="#" class="ter-mega-menu__trigger">Products</a>
			        <div class="ter-mega-menu">
			            <ul class="ter-mega-menu__list">
			                <div class="container-fluid wrap">
			                    <div class="row">
			                        <li class="col-md-4 col-lg-5 hidden-sm hidden-xs">
			                            <h3>Think in 3D.<br />Draw in 3D.</h3>
			                            <p>Have some fun while you're at it.</p>
			                            <a class="ter-button ter-button--primary" href="/buy/pricing">Get SketchUp</a>
			                        </li>
			                        <li class="col-sm">
			                            <ul>
			                                <li class="ter-mega-menu__list-head">3D Modeling</li>
			                                <li><a href="#">SketchUp Free</a></li>
			                                <li><a href="#">SketchUp Pro</a></li>
			                                <li><a href="#">SketchUp for Schools</a></li>
			                            </ul>
			                        </li>
			                        <li class="col-sm">
			                            <ul>
			                                <li class="ter-mega-menu__list-head">Resources</li>
			                                <li><a href="#">3D Warehouse</a></li>
			                            </ul>
			                        </li>
			                        <li class="col-sm">
			                            <ul>
			                                <li class="ter-mega-menu__list-head">Communication</li>
			                                <li><a href="#">SketchUp Viewer</a></li>
			                            </ul>
			                        </li>
			                        <li class="col-sm">
			                            <ul>
			                                <li class="ter-mega-menu__list-head">Analysis</li>
			                                <li><a href="#">Sefaira</a></li>
			                            </ul>
			                        </li>
			                    </div>
			                </div>
			            </ul>
			        </div>
			    </li>
			    <li class="ter-navbar__menu-item"><a href="#">Case Studies</a></li>
			    <li class="ter-navbar__menu-item hidden-sm hidden-xs"><a href="#" class="ter-button ter-button--outline">Buy SketchUp</a></li>
			</ul> --}}
		</div>
	</div>
</nav>