<nav class="navbar {{#if stay-put}}stay-put{{else}}{{/if}}">
	<div class="container-fluid {{#if wrap}}wrap{{/if}}">
		<div class="navbar__branding">
			<a href="/">
				<strong>Terra</strong> Design System
			</a>
		</div>
		<button class="navbar__toggle" type="button" data-toggle="collapse" data-target=".collapse">
			<span class="line"></span>
			<span class="line"></span>
			<span class="line"></span>
		</button>
		<div class="navbar__nav navbar__nav--collapse">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/documentation/getting-started">Documentation</a></li>
				<li><a href="/" class="button button--info">Download</a></li>
			</ul>
		</div>
	</div>
</nav>