<nav class="navbar {{#if stay-put}}stay-put{{else}}{{/if}}">
	<a href="/" class="navbar__brand">
		<div class="logo wireframe">
			<div class="cube">
				<span></span>
				<span></span>
				<span></span>
			</div>
			<div class="cube">
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
	</a>
	<button class="navbar__toggle" type="button" data-toggle="collapse" data-target=".collapse">
		<span class="line"></span>
		<span class="line"></span>
		<span class="line"></span>
	</button>
	<div class="navbar__nav navbar__nav--collapse">
		<div class="search-bar input-group form-inline flexbox flex-row flex-wrap align-items-center flex pad-left-6 pad-right-6">
			<div class="search-bar__input">
				<div class="input-wrap">
			    	<input type="text" placeholder="search">
			    </div>
		    </div>
			<button class="search-bar__submit"><i class="fi flaticon-magnifying-glass"></i></button>
		</div>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/documentation/getting-started">Documentation</a></li>
			<li><a href="https://bitbucket.org/creativestrategy/terra_design_system/src/master/" class="button button--dark">Download</a></li>
		</ul>
	</div>
</nav>