<nav class="navbar {{#if stay-put}}stay-put{{else}}{{/if}}">
	<div class="container-fluid {{#if wrap}}wrap{{/if}}">
		<div class="navbar__branding">
			<a href="/">
				{{!-- <img src="/assets/sketchup/sketchup-logo.svg" alt="SketchUp" /> --}}
				<div class="font-size-2"><strong>Terra</strong> Design System</div>
			</a>
		</div>
		<button class="navbar__toggle" type="button" data-toggle="collapse" data-target=".collapse">
			<span class="line"></span>
			<span class="line"></span>
			<span class="line"></span>
		</button>
		<div class="navbar__nav navbar__nav--collapse">
			<ul>
				<li><a href="/documentation/getting-started">Documentation</a></li>
				<li><a href="#">Resources</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Dropdown<i class="fas fa-chevron-down"></i></a>
					<ul class="dropdown-menu dropdown-menu--left">
						<li><a href="#">Dropdown Item</a></li>
						<li><a href="#">Another Item</a></li>
						<li class="separator"></li>
						<li><a href="#">Dropdown Item</a></li>
					</ul>
				</li>
				{{!-- <li><a href="/documentation/getting-started" class="button button--success">Get Started</a></li>
				<li style="width:250px">
					<div class="input-group">
						<div class="input-wrap">
				        	<input type="text" placeholder="Search">
				            <i class="fi flaticon-magnifying-glass"></i>
				            <span class="focus-border"></span>
				        </div>
	        		</div>
	        	</li> --}}
			</ul>
		</div>
	</div>
</nav>