    <script src="/js/jquery.min.js"></script>
    <script src="/js/prism.js"></script>
    <script src="/js/scripts.js"></script>
    <script src="/terra/js/alert.js"></script>
    <script src="/terra/js/collapse.js"></script>
	<script src="/terra/js/dropdown.js"></script>
	<script src="/terra/js/input.js"></script>
	<script src="/terra/js/modal.js"></script>
	<script src="/terra/js/treeMenu.js"></script>
	<script src="/terra/js/select.js"></script>
	<script src="/terra/js/navigation.js"></script>
</body>
</html>