<nav class="side-nav">
{{!-- 	<div class="side-nav__section">
		<div class="input-group">
			<label>Select a Theme</label>
			<div class="select-wrap">
				<select>
					<option>Alpha</option>
					<option>Beta</option>
					<option>Delta</option>
				</select>
			</div>
        </div>
	</div> --}}
	<div class="side-nav__section side-nav__section--fill-height">
		<div class="side-nav__header heading-6 margin-bottom-xs">Documentation</div>
		<button class="side-nav__toggle" type="button" data-toggle="collapse" data-target=".side-nav__menu">
	        <span class="line"></span>
	        <span class="line"></span>
	        <span class="line"></span>
	    </button>
		<nav role="navigation" class="side-nav__menu ter-tree-menu">
			<ul class="ter-tree-menu__list">
				{{> global/menu }}
			</ul>
		</nav>
	</div>
</nav>