<nav class="side-nav">
{{!-- 	<div class="side-nav__section">
		<div class="input-group">
			<label>Select a Theme</label>
			<div class="select-wrap">
				<select>
					<option>Alpha</option>
					<option>Beta</option>
					<option>Delta</option>
				</select>
			</div>
        </div>
	</div> --}}
	<div class="side-nav__section side-nav__section--fill-height">
		<div class="heading-6 margin-bottom-5">Documentation</div>
		<nav role="navigation" class="tree-menu">
			<ul class="tree-menu__list">
				{{> global/menu }}
			</ul>
		</nav>
	</div>
</nav>