<nav class="side-nav">
	{{!-- {{#is page.name "Themes"}} --}}
	<div class="side-nav__section">
		<div class="ter-input">
			<h5 class="side-nav__header margin-bottom-xs pad-bottom-none">Terra Themes</h5>
			<div class="ter-input__wrap">
		    	<select id="theme-switcher" class="ter-select">
					<option value="style">Default</option>
					<option value="origin">Origin</option>
				</select>
		    </div>
		</div>
	</div>
	{{!-- {{else}}{{/is}} --}}
	<div class="side-nav__section side-nav__section--fill-height">
		<h5 class="side-nav__header margin-bottom-xs pad-bottom-none">Documentation</h5>
		<button class="side-nav__toggle" type="button" data-toggle="collapse" data-target=".side-nav__menu">
	        <span class="line"></span>
	        <span class="line"></span>
	        <span class="line"></span>
	    </button>
		<nav role="navigation" class="side-nav__menu ter-tree-menu">
			<ul class="ter-tree-menu__list">
				{{> global/menu }}
			</ul>
		</nav>
	</div>
</nav>