<nav class="side-nav">
	<div class="side-nav__logo">
		<a href="/">
			<img src="/assets/sketchup/sketchup-logo.svg" alt="SketchUp" />
		</a>
	</div>
	<ul class="side-nav__main-nav">
		<li><a href="#">Getting Started</a></li>
		<li><a href="#">Guidelines</a></li>
		<li><a href="#">Style</a></li>
		<li class="expandable">
			<a href="#">Components</a>
			<ul class="expandable-menu">
				<li><a href="/components/button">Button</a></li>
			</ul>
		</li>
	</ul>
</nav>