/**
 * Hidden
 * _hidden.scss
 */

@media (max-width: $breakpoint-xs) {
	.hidden-xs {
		display: none;
	}
}

@media (min-width: $breakpoint-xs) and (max-width: $breakpoint-sm) {
	.hidden-sm {
		display: none;
	}
}

@media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
	.hidden-md {
		display: none;
	}
}

@media (min-width: $breakpoint-md) {
	.hidden-lg {
		display: none;
	}
}