{{> global/header has-nav="true"}}

	{{> global/navbar }}

	<div class="page has-sidebar">

		{{> global/side-nav}}

		<div class="main-content">
{{> component/component-page }}
			{{> global/footer narrow="true" }}
		</div>

	</div>

{{> global/page-bottom}}