{{> global/header}}

	{{> global/side-nav}}

	<div class="main-content">
		<div class="page">

			{{> component/documentation-hero }}
			
			{{{ body }}}

			{{> component/media-queries }}

		</div>
		{{> global/footer narrow="true" }}
	</div>

{{> global/page-bottom}}