{{> global/header}}

	{{> global/navbar stay-put="true"}}

	{{> global/side-nav}}

	<div class="main-content">
		<div class="page">

{{> component/component-page }}

		</div>
		{{> global/footer narrow="true" }}
	</div>

{{> global/page-bottom}}