{{> global/header has-nav="true"}}

	{{> global/navbar }}

	<div class="page d-flex">

		{{> global/side-nav}}

		<div class="main-content flex-1">
{{> component/component-page }}
			{{> global/footer narrow="true" }}
		</div>

	</div>

{{> global/page-bottom}}