{{> global/docs-header}}

	{{> global/doc-side-nav}}

	<div class="main-content">
		<div class="page">

			{{> component/documentation-hero }}
			
			{{{ body }}}

		</div>
		{{> global/docs-footer}}
	</div>

{{> global/docs-page-bottom}}