{{> global/header has-nav="true"}}

	{{> global/navbar wrap="true" auto-hide="true" }}

	<nav class="ter-secondary-navbar container-fluid bg-white" data-trigger=".secondary-nav-trigger">
	</nav>

	<div class="page">
		
		{{{ body }}}

	</div>

	{{> global/footer}}

{{> global/page-bottom}}