<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

	{{> global/nav}}

	<div class="page">

	    {{{body}}}

	</div>

    {{> global/footer}}

    <script src="/js/jquery.min.js"></script>
	<script src="/js/dropdown.js"></script>
	<script src="/js/input.js"></script>
	<script src="/js/navigation.js"></script>
</body>
</html>
