<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>
<body>

	{{> global/nav}}

	<div class="page">

	    {{{body}}}

	</div>

    {{> global/footer}}

    <script src="/js/jquery.min.js"></script>
	<script src="/js/dropdown.js"></script>
	<script src="/js/input.js"></script>
	<script src="/js/navigation.js"></script>
</body>
</html>
