<nav class="ter-navbar ter-navbar--top is-fixed z-10 is-inverse">
    <div class="container-fluid wrap justify-content-flex-end">
        <div class="pad-v-xs d-inline">
            <span class="font-size-sm margin-right-xs"><b>Select a theme</b></span>
        </div>
        <div class="pad-v-xs d-inline width-25">
            <select id="theme-switcher" class="ter-select">
                <option value="style">Terra</option>
                <option value="trimble">Trimble</option>
                <option value="origin">Origin</option>
            </select>
        </div>
    </div>
</nav>
<nav class="ter-navbar">
    <div class="container-fluid wrap">
        <div class="ter-navbar__brand">
            <a href="/" title="Home" rel="home">
                <img src="https://dev8-www.sketchup.com/themes/sketchup_www_terra/images/SU_FullColor.png" alt="Home" width="170" />
            </a>
        </div>
        <button class="ter-navbar__toggle" type="button" data-toggle="collapse" data-target=".collapse">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
        </button>
        <div class="ter-navbar__nav">
            <ul class="ter-navbar__menu">
                <li class="ter-navbar__menu-item">
                    <a href="#" class="ter-mega-menu__trigger">Products</a>
                    <div class="ter-mega-menu">
                        <ul class="ter-mega-menu__list">
                            <div class="container-fluid wrap">
                                <div class="row">
                                    <li class="col-md-4 hidden-sm hidden-xs">
                                        <h3>Think in 3D.<br />Draw in 3D.</h3>
                                        <p>Have some fun while you're at it.</p>
                                        <a class="ter-button ter-button--primary" href="/buy/pricing">Get SketchUp</a>
                                    </li>
                                    <li class="col-sm">
                                        <ul>
                                            <li class="ter-mega-menu__list-head">3D Modeling</li>
                                            <li><a href="/products/sketchup-free">SketchUp Free</a></li>
                                            <li><a href="/products/sketchup-pro">SketchUp Pro</a></li>
                                            <li><a href="/products/sketchup-for-schools">SketchUp for Schools</a></li>
                                        </ul>
                                    </li>
                                    <li class="col-sm">
                                        <ul>
                                            <li class="ter-mega-menu__list-head">Resources</li>
                                            <li><a href="/products/3dwarehouse">3D Warehouse</a></li>
                                            <li><a href="/products/extension-warehouse">Extension Warehouse</a></li>
                                        </ul>
                                    </li>
                                    <li class="col-sm">
                                        <ul>
                                            <li class="ter-mega-menu__list-head">Communication</li>
                                            <li><a href="/products/sketchup-viewer">SketchUp Viewer</a></li>
                                        </ul>
                                    </li>
                                    <li class="col-sm">
                                        <ul>
                                            <li class="ter-mega-menu__list-head">Analysis</li>
                                            <li><a href="/products/sefaira">Sefaira</a></li>
                                        </ul>
                                    </li>
                                </div>
                            </div>
                        </ul>
                    </div>
                </li>
                <li class="ter-navbar__menu-item">
                    <a href="#" class="ter-mega-menu__trigger">Industries</a>
                    <div class="ter-mega-menu">
                        <ul class="ter-mega-menu__list">
                            <div class="container-fluid wrap">
                                <div class="row">
                                    <li class="col-sm">
                                        <ul>
                                            <!-- <li class="ter-mega-menu__list-head">Industries</li> -->
                                            <li><a href="/industries/architecture">Architecture</a></li>
                                            <li><a href="/industries/commercial-interiors">Commercial Interiors</a></li>
                                            <li><a href="/industries/construction">Construction</a></li>
                                            <!-- <li><a href="/industries/engineering">Engineering</a></li> -->
                                            <li><a href="/industries/kitchen-bath-and-interior-design">Kitchen, Bath, and Interior Design</a></li>
                                            <li><a href="/industries/landscape-architecture">Landscape Architecture</a></li>
                                            <li><a href="/industries/product-design">Product Design</a></li>
                                            <li><a href="/industries/3d-printing">3D Printing</a></li>
                                            <li><a href="/industries/residential-construction">Residential Construction</a></li>
                                            <li><a href="/industries/urban-planning">Urban Planning</a></li>
                                            <li><a href="/industries/woodworking">Woodworking</a></li>
                                        </ul>
                                    </li>
                                </div>
                            </div>
                        </ul>
                    </div>
                </li>
                <li class="ter-navbar__menu-item"><a href="/buy/pricing" class="ter-button ter-button--outline">Buy SketchUp</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="main-wrapper">

            
            
            
            
            
            
            <a id="main-content"></a>
            <div  role="article" about="/products/sketchup-for-schools" typeof="schema:WebPage" class="page full clearfix">
                
                <span property="schema:name" content="SketchUp for Schools - Product" class="hidden"></span>
                
                <div class="content">
                    
                    
                    <div id=""  class="paragraph--naming-layer paragraph--o-t1 pad-top-super pad-bottom-super bg-light-0">
                        <div class="container-fluid wrap pad-top-super">
                            <div class="row">
                                <div class="col-xs-12 col-sm-8 col-sm-offset-4 col-md-6 col-md-offset-6">
                                    <div class="ter-card box-shadow-3">
                                        <div class="ter-card__body">
                                            
                                            <div  class="paragraph--m-header pad-bottom- text-left">
                                                <h2  class="paragraph--m-header pad-bottom- text-left font-size-lg">SketchUp for Schools</h2>
                                            </div><div class="paragraph--m-text text-left">
                                            <p>Browser-based SketchUp for Primary and Secondary schools signed up with G Suite for Education.</p>
                                        </div>
                                        <div class="paragraph--m-cta-section text-left">
                                            <div class="cta-section--upper">
                                                <div class="block-display text-left">
                                                    
                                                    <a class="ter-button ter-button--primary ter-button--large" href="">Get Started</a>

                                                </div>
                                            </div>
                                            
                                            <div class="cta-section--lower pad-top-micro">
                                                <a class="sub-cta-link" href="">In Higher Education?</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="paragraph paragraph--naming-layer paragraph--o-a1 o-a1--default pad-top-xxl pad-bottom-xxl normal-color">
                    <div class="paragraph--container-layer">
                        <div class="container-fluid wrap">
                            <div class="row normal-row">
                                <div class="col-xs-12 col-sm-5 justify-content-center paragraph-content-section margin-bottom-lg margin-bottom-none-md">
                                    <div class="depth-3">
                                        <img src="https://dev8-www.sketchup.com/sites/www.sketchup.com/files/molecule_image/400x400_49_22.png" width="400" height="400" alt="fpo" typeof="foaf:Image" style="width: 100%; height: auto; display: block;" />
                                    </div>
                                </div>
                                <div class=" col-xs-12 col-sm-6 col-sm-offset-1 justify-content-center paragraph-content-section">
                                    <h2  class="paragraph--m-header pad-bottom- text-left font-size-lg"> What Is SketchUp for Schools?</h2>
                                    <p>SketchUp for Schools is the core SketchUp modeler now available in a web browser for any Primary or Secondary School signed up with <a href="https://eduproducts.withgoogle.com/products/g-suite/g-suite-for-education">G Suite for Education</a>.</p>
                                    <form>
                                        <fieldset class="ter-fieldset">
                                            <legend class="ter-fieldset__legend">Personal Information</legend>
                                            <div class="ter-input">
                                                <label class="ter-input__label">Name</label>
                                                <div class="ter-input__wrap">
                                                    <input type="text" placeholder="">
                                                </div>
                                            </div>
                                            <div class="ter-input">
                                                <label class="ter-input__label">Email</label>
                                                <div class="ter-input__wrap">
                                                    <input type="email" placeholder="">
                                                </div>
                                            </div>
                                        </fieldset>
                                        <div class="ter-input">
                                            <button class="ter-button ter-button--secondary">Send Message</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id=""  class="paragraph paragraph--naming-layer paragraph--o-a1 o-a1--default pad-top-xxl pad-bottom-xxl normal-color bg-light-0">
    <img class="svg-overlay position-" src="" typeof="foaf:Image" />
    <div class="paragraph--container-layer">
        <div class="container-fluid wrap">
            <div class="row">
                <div class="col-xs paragraph-content-section">

                </div>
            </div>
            
            <div class="row normal-row">
                <div class="col-xs-12 col-sm-6 justify-content-flex-start paragraph-content-section margin-bottom-lg margin-bottom-none-md">

                    <div  class="paragraph--m-header pad-bottom- text-center">
                        <h3  class="paragraph--m-header pad-bottom- text-center font-size-md">Got Feedback or Questions?</h3>
                    </div><div class="paragraph--m-text text-center">
                    <p>Please help us improve SketchUp for Schools: Tell us what you think or post a question to the discussion board.</p>
                </div>
                <div class="paragraph--m-cta-section text-center">
                    <div class="cta-section--upper">
                        <div class="inline-display">

                            
                            <a class="ter-button ter-button--outline ter-button--large" href="https://forums.sketchup.com/c/sketchup-for-schools">SketchUp for Schools Forum</a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-xs-12 col-sm-6 justify-content-flex-start paragraph-content-section">
                
                <div  class="paragraph--m-header pad-bottom- text-center">
                    <h3  class="paragraph--m-header pad-bottom- text-center font-size-md">Need Help?</h3>
                </div><div class="paragraph--m-text text-center">
                <p>Learn more about getting set up with SketchUp for Schools.</p>
            </div>
            <div class="paragraph--m-cta-section text-center">
                <div class="cta-section--upper">
                    <div class="inline-display">
                        
                        
                        <a class="ter-button ter-button--outline ter-button--large" href="https://help.sketchup.com/en/article/3000370">SketchUp for Schools Help Center</a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>

<footer class="footer" role="contentinfo">
        <section class="footer__bottom pad-v-md">
            <div class="container-fluid wrap">
                <div class="row">
                    <div class="col-xs">
                        <nav class="footer-links">
                            <ul class="footer-links__list list-inline list-inline--left">
                                <li class="footer-links__list-item"><a href="http://www.trimble.com/Corporate/Terms_of_Use.aspx">Terms of Use</a></li>
                                <li class="footer-links__list-item"><a href="http://www.trimble.com/Corporate/Privacy.aspx">Privacy Statement</a></li>
                                <li class="footer-links__list-item"><a href="http://www.trimble.com/trademarks.aspx">Trademark Information</a></li>
                                <li>&copy; 2018, Trimble Inc.</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
    </footer>

</div>
</div>