<div class="page-section__sub-section">
	<div class="page-section__sub-section">
		<h4>Introduction</h4>
		<div class="row">
			<div class="col-md-12 col-lg-8">
				<p>The majority of content on any given website is conveyed using body copy, so a design system should reflect this. Terra's entire sizing and spacing system is based off of our typographic rules, specifically, we started with paragraph text.</p>
			</div>
		</div>
	</div>
	<div class="page-section__sub-section">
		<h4>Typeface</h4>
		<div class="row">
			<div class="col-md-12 col-lg-8">
				<p>Terra uses Open Sans as its default font. Rules such as font weight, color, and more specific sizing rules will be defined at the theme level.</p>
			</div>
		</div>
	</div>
	<div class="page-section__sub-section">
		<h4>Type Scale</h4>
		<div class="row">
			<div class="col-md-12 col-lg-8">
				<p class="font-size-micro">
					12px / The quick brown fox jumps over the lazy dog
				</p>
				<p class="font-size-sm">
					16px / The quick brown fox jumps over the lazy dog
				</p>
				<p>
					20px / The quick brown fox jumps over the lazy dog
				</p>
				<p class="font-size-md">
					28px / The quick brown fox jumps over the lazy dog
				</p>
				<p class="font-size-lg">
					36px / The quick brown fox jumps over the lazy dog
				</p>
				<p class="font-size-xl">
					44px / The quick brown fox jumps over the lazy dog
				</p>
				<p class="font-size-super">
					52px / The quick brown fox jumps over the lazy dog
				</p>
				<p class="font-size-mega">
					72px / The quick brown fox jumps over the lazy dog
				</p>
			</div>
		</div>
	</div>
</div>