<div class="page-section__sub-section">
	<div class="page-section__sub-section">
		<h4>Introduction</h4>
		<div class="row">
			<div class="col-md-12 col-lg-8">
				<p>The majority of content on any given website is conveyed using body copy, so a design system should reflect this. Terra's entire sizing and spacing system is based off of our typographic rules, specifically, we started with paragraph text.</p>
			</div>
		</div>
	</div>
	<div class="page-section__sub-section">
		<h4>Typeface</h4>
		<div class="row">
			<div class="col-md-12 col-lg-8">
				<p>Terra uses <strong>Open Sans</strong> as its default font. Rules such as font weight, color, and more specific sizing rules will be defined at the theme level.</p>
			</div>
		</div>
	</div>
	<div class="page-section__sub-section">
		<h4>Headings</h4>
		<div class="row">
			<div class="col-xs">
				<table class="ter-table">
					<tr>
						<th>Heading</th>
						<th>Example</th>
					</tr>
					<tr>
						<td><pre>&lt;h1&gt;&lt;/h1&gt;</pre></td>
						<td><h1>h1 Heading</h1></td>
					</tr>
					<tr>
						<td><pre>&lt;h2&gt;&lt;/h2&gt;</pre></td>
						<td><h2>h2 Heading</h2></td>
					</tr>
					<tr>
						<td><pre>&lt;h3&gt;&lt;/h3&gt;</pre></td>
						<td><h3>h3 Heading</h3></td>
					</tr>
					<tr>
						<td><pre>&lt;h4&gt;&lt;/h4&gt;</pre></td>
						<td><h4>h4 Heading</h4></td>
					</tr>
					<tr>
						<td><pre>&lt;h5&gt;&lt;/h5&gt;</pre></td>
						<td><h5>h5 Heading</h5></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div class="page-section__sub-section">
		<h4>Type Scale</h4>
		<div class="row">
			<div class="col-xs">
				<table class="ter-table">
					<tr>
						<th>Markup</th>
						<th>Example</th>
					</tr>
					<tr>
						<td><pre>.font-size-micro</pre></td>
						<td><span class="font-size-micro">font size: micro</span></td>
					</tr>
					<tr>
						<td><pre>.font-size-xs</pre></td>
						<td><span class="font-size-xs">font size: xs</span></td>
					</tr>
					<tr>
						<td><pre>.font-size-sm</pre></td>
						<td><span class="font-size-sm">font size: sm</span></td>
					</tr>
					<tr>
						<td><pre>.font-size-base</pre></td>
						<td><span class="font-size-base">font size: base</span></td>
					</tr>
					<tr>
						<td><pre>.font-size-md</pre></td>
						<td><span class="font-size-md">font size: md</span></td>
					</tr>
					<tr>
						<td><pre>.font-size-lg</pre></td>
						<td><span class="font-size-lg">font size: lg</span></td>
					</tr>
					<tr>
						<td><pre>.font-size-xl</pre></td>
						<td><span class="font-size-xl">font size: xl</span></td>
					</tr>
					<tr>
						<td><pre>.font-size-super</pre></td>
						<td><span class="font-size-super">font size: super</span></td>
					</tr>
					<tr>
						<td><pre>.font-size-mega</pre></td>
						<td><span class="font-size-mega">font size: mega</span></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>