<div class="page-section__sub-section">
	<div class="page-section__sub-section">
		<h4>Introduction</h4>
		<div class="row">
			<div class="col-md-12 col-lg-8">
				<p>Typography is the backbone of Terra. It is used to communicate our ideas vis-à-vis the written language through visual hierarchies and pairing relevant information. The majority of content on any given website is conveyed using body copy, so a design system should reflect this. Terra's entire sizing and spacing system is based off of our typographic rules, specifically, we started with paragraph text.</p>
			</div>
		</div>
	</div>
	<div class="page-section__sub-section">
		<h4>Typeface</h4>
		<div class="row">
			<div class="col-md-12 col-lg-8">
				<p>Open Sans is the web typeface of choice. It is a dynamic, approachable typeface designed by Colorado typographer Steve Matteson. It is available through Google Fonts.</p>
			</div>
		</div>
	</div>
	<div class="page-section__sub-section">
		<h4>Scale</h4>
		<div class="row">
			<div class="col-md-12 col-lg-8">
				<p>
					<strong>Sub-text</strong><br />
					Micro (10pt)<br />
					Mini (12pt)<br />
				</p>
			</div>
		</div>
	</div>
</div>