<section class="page-section">
	<div class="container-fluid narrow">
		<h4>Basic Example</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
		<div class="markup-panel">
			<div class="panel">
<div class="card">
	<div class="card__body">
		<div class="heading-5 card__title">This is a card title</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
		<a href="#" class="button button--default">Do Something</a>
	</div>
</div>
			</div>
			<pre><code class="language-markup"></code></pre>
		</div>
	</div>
</section>
<section class="page-section">
	<div class="container-fluid narrow">
		<h4>Grid Example</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
		<div class="markup-panel">
			<div class="panel">
<div class="row">
	<div class="col-xs-12 col-sm-6">
		<div class="card">
			<div class="card__body">
				<div class="heading-5 card__title">This is a card title</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
				<a href="#" class="button button--default">Do Something</a>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6">
		<div class="card">
			<div class="card__body">
				<div class="heading-5 card__title">This is a card title</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
				<a href="#" class="button button--default">Do Something</a>
			</div>
		</div>
	</div>
</div>
			</div>
			<pre><code class="language-markup"></code></pre>
		</div>
	</div>
</section>
<section class="page-section">
	<div class="container-fluid narrow">
		<h4>Card With Image &amp; Footer</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
		<div class="markup-panel">
			<div class="panel">
<div class="row">
	<div class="col-xs-12 col-sm-6">
		<div class="card">
			<div class="card__image card__image--top max-height-5">
				<img src="/images/placeholder.jpg" width="" height="" alt="" />
			</div>
			<div class="card__body">
				<div class="heading-5 card__title">This is a card title</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
			</div>
			<div class="card__footer text-right">
				<ul class="list-inline--right">
					<li><a class="button button--icon" href="#"><i class="fas fa-ellipsis-h"></i></a></li>
					<li><a class="button button--icon" href="#"><i class="far fa-heart"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
			</div>
			<pre><code class="language-markup"></code></pre>
		</div>
	</div>
</section>