<div class="page-section__sub-section">
	<h4>Basic Example</h4>
	<p>Basic cards are created with the <code>.ter-card</code> class. The </p>
	<div class="markup-panel">
		<div class="markup-panel__example">
<div class="ter-card">
	<div class="ter-card__body">
		<div class="ter-card__title">This is a card title</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
		<a href="#" class="ter-button ter-button--primary">Do Something</a>
	</div>
</div>
		</div>
		<pre><code class="language-markup"></code></pre>
	</div>
</div>
<div class="page-section__sub-section">
	<h4>Grid Example</h4>
	<p>Cards are block elements, so they easily be used with the Terra grid system.</p>
	<div class="markup-panel">
		<div class="markup-panel__example">
<div class="row">
	<div class="col-xs-12 col-sm-6">
		<div class="ter-card">
			<div class="ter-card__body">
				<div class="ter-card__title">This is a card title</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
				<a href="#" class="ter-button ter-button--primary">Do Something</a>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6">
		<div class="ter-card">
			<div class="ter-card__body">
				<div class="ter-card__title">This is a card title</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
				<a href="#" class="ter-button ter-button--primary">Do Something</a>
			</div>
		</div>
	</div>
</div>
		</div>
		<pre><code class="language-markup"></code></pre>
	</div>
</div>
<div class="page-section__sub-section">
	<h4>Even Height Cards</h4>
	<p>By using Terra's <a href="/documentation/layout/flexbox">flexbox utility classes</a> and <a href="#">height utility classes</a>, you can easily evenly distribute height across cards.</p>
	<div class="markup-panel">
		<div class="markup-panel__example">
<div class="row d-flex">
	<div class="col-xs-12 col-sm-6 flex-1">
		<div class="ter-card height-100">
			<div class="ter-card__body">
				<div class="ter-card__title">This is a card title</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				<a href="#" class="ter-button ter-button--primary">Do Something</a>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6">
		<div class="ter-card height-100">
			<div class="ter-card__body">
				<div class="ter-card__title">This is a card title</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
				<a href="#" class="ter-button ter-button--primary">Do Something</a>
			</div>
		</div>
	</div>
</div>
		</div>
		<pre><code class="language-markup"></code></pre>
	</div>
</div>
<div class="page-section__sub-section">
	<h4>Card with Image</h4>
	<p>Cards are also capable of handling imagery. Card images are created with the <code>.ter-card__image</code> class, and variants can be chosen for direction. Currently, only <code>.ter-card__image--top</code> is supported.</p>
	<div class="markup-panel">
		<div class="markup-panel__example">
<div class="row">
	<div class="col-xs-12 col-sm-6">
		<div class="ter-card">
			<div class="ter-card__image card__image--top">
				<img src="/images/placeholder.jpg" width="" height="" alt="" />
			</div>
			<div class="ter-card__body">
				<div class="ter-card__title">This is a card title</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
				<a href="#" class="ter-button ter-button--primary ter-button--block">Default Action</a>
			</div>
		</div>
	</div>
</div>
		</div>
		<pre><code class="language-markup"></code></pre>
	</div>
</div>