<div class="page-section__sub-section">
	<h4>Basic Example</h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
	<div class="markup-panel">
		<div class="markup-panel__example">
<div class="card">
	<div class="card__body">
		<div class="card__title">This is a card title</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
		<a href="#" class="button button--default">Do Something</a>
	</div>
</div>
		</div>
		<pre><code class="language-markup"></code></pre>
	</div>
</div>
<div class="page-section__sub-section">
	<h4>Grid Example</h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
	<div class="markup-panel">
		<div class="markup-panel__example">
<div class="row">
	<div class="col-xs-12 col-sm-6">
		<div class="card">
			<div class="card__body">
				<div class="card__title">This is a card title</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
				<a href="#" class="button button--default">Do Something</a>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6">
		<div class="card">
			<div class="card__body">
				<div class="card__title">This is a card title</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
				<a href="#" class="button button--default">Do Something</a>
			</div>
		</div>
	</div>
</div>
		</div>
		<pre><code class="language-markup"></code></pre>
	</div>
</div>
<div class="page-section__sub-section">
	<h4>Card With Image &amp; Footer</h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
	<div class="markup-panel">
		<div class="markup-panel__example">
<div class="row">
	<div class="col-xs-12 col-sm-6">
		<div class="card">
			<div class="card__image card__image--top max-height-5">
				<img src="/images/placeholder.jpg" width="" height="" alt="" />
			</div>
			<div class="card__body">
				<div class="card__title">This is a card title</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
				<a href="#" class="button button--default button--block">Default Action</a>
			</div>
			<div class="card__footer text-right">
				<ul class="list-inline--right">
					<li><button class="button button--icon"><i class="fas fa-ellipsis-h"></i></button></li>
					<li><button class="button button--icon"><i class="far fa-heart"></i></button></li>
				</ul>
			</div>
		</div>
	</div>
</div>
		</div>
		<pre><code class="language-markup"></code></pre>
	</div>
</div>