<div class="page-section__sub-section">
	<h4>Basic Example</h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
	<div class="markup-panel">
		<div class="markup-panel__example">
<div class="ter-card">
	<div class="ter-card__body">
		<div class="ter-card__title">This is a card title</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
		<a href="#" class="ter-button ter-button--primary">Do Something</a>
	</div>
</div>
		</div>
		<pre><code class="language-markup"></code></pre>
	</div>
</div>
<div class="page-section__sub-section">
	<h4>Grid Example</h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
	<div class="markup-panel">
		<div class="markup-panel__example">
<div class="row">
	<div class="col-xs-12 col-sm-6">
		<div class="ter-card">
			<div class="ter-card__body">
				<div class="ter-card__title">This is a card title</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
				<a href="#" class="ter-button ter-button--primary">Do Something</a>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6">
		<div class="ter-card">
			<div class="ter-card__body">
				<div class="ter-card__title">This is a card title</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
				<a href="#" class="ter-button ter-button--primary">Do Something</a>
			</div>
		</div>
	</div>
</div>
		</div>
		<pre><code class="language-markup"></code></pre>
	</div>
</div>
<div class="page-section__sub-section">
	<h4>Card With Image &amp; Footer</h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
	<div class="markup-panel">
		<div class="markup-panel__example">
<div class="row">
	<div class="col-xs-12 col-sm-6">
		<div class="ter-card">
			<div class="ter-card__image card__image--top max-height-5">
				<img src="/images/placeholder.jpg" width="" height="" alt="" />
			</div>
			<div class="ter-card__body">
				<div class="ter-card__title">This is a card title</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
				<a href="#" class="ter-button ter-button--primary ter-button--block">Default Action</a>
			</div>
			<div class="ter-card__footer text-right">
				<ul class="list-inline list-inline--right">
					<li><button class="ter-button ter-button--icon"><i class="far fa-heart"></i></button></li>
					<li class="ter-dropdown">
						<button class="ter-button ter-button--icon" data-toggle="ter-dropdown__menu" role="button"><i class="fas fa-ellipsis-h"></i></button>
						<ul class="ter-dropdown__menu" data-direction="up">
							<li class="ter-dropdown__item ter-dropdown__item--no-link">My Account</li>
							<li class="ter-dropdown__item"><a href="#">Preferences</a></li>
							<li class="ter-dropdown__item"><a href="#">Subscriptions</a></li>
							<li class="ter-dropdown__item ter-dropdown__item--separator"></li>
							<li class="ter-dropdown__item"><a href="#">Logout</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
		</div>
		<pre><code class="language-markup"></code></pre>
	</div>
</div>