/*

  BUTTONS

*/

@mixin button-base($bgColor, $color, $borderColor: $bgColor, $bgHoverColor: null, $colorHover: $color) {
    @include type-setting(0,0);
    @include border-radius(1);
    background-color: $bgColor;
    border: .05rem solid darken($borderColor, 8%);
    color: $color;
    padding: var(--spacing-extra-small) var(--spacing-small);
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    transition: background-color 200ms ease-in-out, border-color 200ms ease-in-out, box-shadow 100ms ease-in-out;
    &:hover {
        @if ($borderColor == $bgColor) {
            cursor: pointer;
            background-color: darken($bgColor, 10%);
            border-color: darken($borderColor, 10%);
        } @else if ($bgHoverColor) {
            cursor: pointer;
            background-color: $bgHoverColor;
            border-color: $bgHoverColor;
        } @else {
            cursor: pointer;
            background-color: $borderColor;
            border-color: $borderColor;
        }
        color: $colorHover;
        text-decoration: none;
    }
    &:active {
        box-shadow: inset 2px 2px 5px rgba(0,0,0,0.2);
    }
}

[class*="button"] {
    i {
        padding-left: .5rem;
    }
}

a.button,
.button {
    @include button-base(
        map-get($colors, blue),
        map-get($colors, white)
    );
}

a.button--outline,
.button--outline {
    @include button-base(
        transparent,
        map-get($colors, gray-11),
        map-get($colors, gray-5),
        map-get($colors, gray),
        map-get($colors, white)
    );
}

a.button--danger,
.button--danger {
    @include button-base(
        map-get($colors, red),
        map-get($colors, white)
    );
}

a.button--outline--white,
.button--white {
    @include button-base(
        transparent,
        map-get($colors, white),
        map-get($colors, white),
        map-get($colors, white),
        map-get($colors, gray)
    );
}

a.button--success,
.button--success {
    @include button-base(
        map-get($colors, green),
        map-get($colors, white)
    );
}

a.button--alert,
.button--alert {
    @include button-base(
        map-get($colors, yellow),
        map-get($colors, gray)
    );
}

a.button--light,
.button--light {
    @include button-base(
        map-get($colors, gray-2),
        map-get($colors, gray)
    );
}

a.button--dark,
.button--dark {
    @include button-base(
        map-get($colors, gray),
        map-get($colors, white)
    );
}

a.button--link,
.button--link {
    @include button-base(
        transparent,
        map-get($colors, blue)
    );
    &:hover {
        text-decoration: underline;
    }
    &:active {
        box-shadow: none;
    }
}

a.button--large,
.button--large {
    @include type-setting(1,0);
}

a.button--small,
.button--small {
    @include type-setting(-1,0);
    \padding: var(--spacing-extra-extra-small) var(--spacing-small);
}

a.button--block,
.button--block {
    display: block;
    width: 100%;
}
