/*

  DROPDOWNS

*/

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: var(--spacing-extra-small);
  vertical-align: middle;
  border-top: 4px solid var(--color-trimble-gray-10);
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-bottom: 0 solid var(--color-trimble-gray-10);
  overflow: hidden;
  transition: 200ms ease;
}

.dropdown {
  position: relative;
  > .dropdown-menu {
    @include box-shadow-1;
    @include border-radius(1);
    // border: 1px solid var(--color-trimble-gray-3);
    width: 12.5em;
    position: absolute;
    top: 100%;
    padding: var(--spacing-small);
    left: 0;
    visibility: hidden;
    opacity: 0;
    float: left;
    text-align: left;
    list-style: none;
    transform: translateY(-20px);
    transition: all 225ms;
    background: var(--color-white);
    li {
      padding-top: var(--spacing-extra-small);
      padding-bottom: var(--spacing-extra-small);
      a {
        color: var(--color-trimble-gray-10);
        &:hover {
          color: var(--color-trimble-gray-10--darker);
        }
      }
      ul {
      }
    }
    &.show {
      display: block;
    }
  }
  &.open {
    > .dropdown-menu {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
      @include box-shadow-2;
    }
  }
}