// .effect-16 {
//     border: 0;
//     padding: 4px 0;
//     border-bottom: 1px solid var(--color-trimble-gray-4);
//     background-color: transparent;
//     position: relative;
//     z-index: 1;
// }

// .effect-16 ~ .focus-border {
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     width: 0;
//     height: 2px;
//     background-color: var(--color-trimble-light-blue);
//     transition: 0.4s;
//     z-index: 1;
// }

// .effect-16:focus ~ .focus-border,
// .has-content.effect-16 ~ .focus-border {
//     width: 100%;
//     transition: 0.4s;
// }

// .effect-16 ~ label {
//     position: absolute;
//     left: 0;
//     width: 100%;
//     top: var(--spacing-extra-small);
//     color: var(--color-trimble-gray-10);
//     transition: 0.3s;
//     z-index: 0;
//     letter-spacing: 0.5px;
//     text-align: left;
// }

// input[type="text"] {
//     line-height: 2em;
//     color: var(--color-trimble-gray-10);
//     width: 100%;
//     box-sizing: border-box;
//     letter-spacing: 1px;
// }

.input-group {
    position: relative;
    margin: var(--spacing-small) 0 var(--spacing-medium) 0;
    input[type="text"] {
        line-height: 2em;
        color: var(--color-trimble-gray-10);
        width: 100%;
        box-sizing: border-box;
        letter-spacing: 1px;
        border: 0;
        padding: 4px 0;
        border-bottom: 1px solid var(--color-trimble-gray-4);
        background-color: transparent;
        position: relative;
        z-index: 1;
        ~ .focus-border {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 2px;
            background-color: var(--color-trimble-light-blue);
            transition: 0.4s;
            z-index: 1;
        }
        ~ label {
            position: absolute;
            left: 0;
            width: 100%;
            top: var(--spacing-extra-small);
            color: var(--color-trimble-gray-10);
            transition: 0.3s;
            z-index: 0;
            letter-spacing: 0.5px;
            text-align: left;
        }
        &:focus,
        &.has-content {
            ~ label {
                @include font-size(-1);
                top: calc(var(--spacing-small) * -1);
                color: var(--color-trimble-light-blue);
                transition: 0.3s;
            }
            ~ .focus-border {
                width: 100%;
                transition: 0.4s;
            }
        }
    }
    .input-lg {
        @include font-size(1);
    }
}

// .effect-16:focus ~ label,
// .effect-16.has-content ~ label {
//     @include font-size(-1);
//     top: calc(var(--spacing-small) * -1);
//     color: var(--color-trimble-light-blue);
//     // opacity: 0.5;
//     transition: 0.3s;
// }

.inverse {
    input[type="text"] {
        color: #ffffff;
        &.effect-16 ~ label {
            color: #ffffff;
        }
    }
}

:focus {
    outline: none;
}

select {
	color: var(--color-trimble-gray-10);
    background: #ffffff;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid var(--color-trimble-gray-4);
    display: block;
    padding: var(--spacing-extra-small) 0;
    width: 100%;
    border-radius: 0;
    -webkit-appearance: button;
}

textarea {
	display: block;
	width: 100%;
	padding: var(--spacing-extra-small);
	color: var(--color-trimble-gray-10);
	border: 1px solid var(--color-trimble-gray-4);
}