/*

  NAVIGATION

*/

// Mega Menu Mixin

@mixin mega-menu {
	.mega-menu-dropdown {
		> ul.mega-menu {
			@include list-unstyled;
			@include box-shadow-2;
			@include border-radius(1);
			position: absolute;
			top: 85px;
			left: 50%;
			transform: translate(-50%, -20px);
	    	transition: all 225ms;
			visibility: hidden;
	  		opacity: 0;
			width: 100%;
			padding: var(--spacing-medium);
			background: #ffffff;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			li {
				> ul {
					@include list-unstyled;
				}
			}
		}
		&:hover {
			> ul.mega-menu {
				visibility: visible;
	  			opacity: 1;
	  			transform: translate(-50%, -1px);
			}
		}
	}
}

.navbar {
	@include transition(all .5s ease);
	@include z-index(10);
	@include height(3);
	background: $navigation-bg;
	position: fixed;
	top: 0;
	display: block;
	width: 100%;
	border-bottom: 1px solid map-get($colors, gray-4);
	[class^='container'] {
		&:after {
			content: '';
			display: block;
			clear: both;
		}
		.logo {
			float: left;
			padding-top: var(--spacing-small);
			> a {
				color: map-get($colors, gray);
				> img {
					@extend .height-2;
				}
			}
		}
		> ul {
			@include height(3);
			float: right;
			margin: 0;
			padding: 0;
			display: table;
			> li {
				display: inline-block;
				padding: 0 var(--spacing-small);
				display: table-cell;
				vertical-align: middle;
				> a:not(.button) {
					margin: 0;
					line-height: 2.25rem;
					display: inline-block;
				}
				.input-group {
					margin: 0;
				}
			}
			> .user-account {
				margin: 0;
				padding-right: 0;
				a {
					.user-photo {
						width: 1.75rem;
						height: 1.75rem;
						border-radius: 50%;
						background: map-get($colors, gray);
						display: inline-block;
						margin: 0;
						padding: 0;
						position: relative;
						top: var(--spacing-extra-small);
						margin-top: calc(var(--spacing-small) * -1)
					}
					&:hover {
						text-decoration: none;
					}
				}
				span {
					line-height: 2.25rem;
				}
				> .dropdown-menu {
					right: -2rem;
				    left: unset;
				    width: 10em;
				}
			}
			@include mega-menu;
		}
	}
	&.is-hidden {
		transform: translateY(-100%);
	}
}

.side-nav {
	width: 20rem;
	position: fixed;
	left: 0;
	border-right: 1px solid map-get($colors, gray-4);
	min-height: 100%;
	background: map-get($colors, white);
	transform: translateX(-100%);
	transition: transform 500ms ease-in-out;
	@include for-size(tablet-portrait-up) {
		transform: translateX(0);
	}
	&__logo {
		margin-top: var(--spacing-medium);
		padding: 0 var(--spacing-medium);
	}
	&__section {
		padding: var(--spacing-small) var(--spacing-medium);
		border-bottom: 1px solid map-get($colors, gray-4);
	}
}

ul.tree-menu {
	@include type-setting(-1);
	margin-top: var(--spacing-medium);
	padding: 0 var(--spacing-medium);
	list-style: none;
	> li {
		position: relative;
		> a {
			@include border-radius(1);
			padding: var(--spacing-extra-small) 0;
			display: block;
		}
		> span {
			padding: var(--spacing-extra-small) 0;
		}
		&.active {
			> a {
				@include type-setting(-1,1);
				text-decoration: underline;
			}
		}
		&.expandable {
			i {
				position: absolute;
				top: .75rem;
				right: .75rem;
				transition: transform 200ms ease-in-out; 
				&:before {
					font-size: 0.75rem;
				}
			}
			> .expandable-menu {
				list-style: none;
				margin-left: var(--spacing-small);
				padding: 0;
				> li {
					> a {
						padding: var(--spacing-extra-small) 0;
						display: block;
					}
				}
			}
			&.expanded {
				> a {
					// background-color: map-get($colors, gray-2);
				}
				i {
					transform: rotate(-90deg);
				}
			}
		}
	}
}