/*

  NAVIGATION

*/

@mixin mega-menu {
	.mega-menu-dropdown {
		> ul.mega-menu {
			@include list-unstyled;
			@include box-shadow-2;
			position: absolute;
			top: 85px;
			left: 50%;
			transform: translate(-50%, -20px);
	    	transition: all 225ms;
			visibility: hidden;
	  		opacity: 0;
			width: 100%;
			padding: var(--spacing-medium);
			background: #ffffff;
			@include border-radius(1);
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			li {
				> ul {
					@include list-unstyled;
				}
			}
		}
		&:hover {
			> ul.mega-menu {
				visibility: visible;
	  			opacity: 1;
	  			transform: translate(-50%, -1px);
			}
		}
	}
}

.main-nav {
	@include transition(all .5s ease);
	@include z-index(10);
	background: $navigation-bg;
	position: fixed;
	top: 0;
	display: block;
	width: 100%;
	@extend .height-3;
	border-bottom: 1px solid var(--color-trimble-gray-3);
	[class^='container'] {
		&:after {
			content: '';
			display: block;
			clear: both;
		}
		.logo {
			float: left;
			padding-top: var(--spacing-small);
			> a {
				> img {
					@extend .height-2;
				}
			}
		}
		> ul {
			float: right;
			margin: 0;
			padding: 0;
			> li {
				display: inline-block;
				padding: var(--spacing-small);
				> a:not(.button) {
					margin: 0;
					line-height: 2.25rem;
					display: inline-block;
				}
			}
			> .user-account {
				// border-left: 1px solid var(--color-trimble-gray-3);
				margin: 0;
				padding-right: 0;
				a {
					.user-photo {
						width: 1.75rem;
						height: 1.75rem;
						border-radius: 50%;
						background: var(--color-trimble-gray);
						display: inline-block;
						margin: 0;
						padding: 0;
						position: relative;
						top: var(--spacing-extra-small);
						margin-top: calc(var(--spacing-small) * -1)
					}
				}
				span {
					line-height: 2.25rem;
				}
				> .dropdown-menu {
					right: -2rem;
				    left: unset;
				    width: 10em;
				}
			}
			@include mega-menu;
		}
	}
	&.is-hidden {
		transform: translateY(-100%);
	}
}

.side-nav {
	width: 14rem;
	position: fixed;
	left: 0;
	border-right: 1px solid var(--color-trimble-gray-4);
	min-height: 100%;
	&__logo {
		margin-top: var(--spacing-medium);
		padding: 0 var(--spacing-medium);
	}
	&__main-nav {
		@include type-setting(-1);
		margin-top: var(--spacing-medium);
		padding: 0 var(--spacing-medium);
		list-style: none;
		> li {
			> a {
				padding: var(--spacing-extra-small) 0;
				display: block;
			}
			&.expandable {
				> .expandable-menu {
					list-style: none;
					margin-left: var(--spacing-small);
					padding: 0;
					> li {
						> a {
							padding: var(--spacing-extra-small) 0;
							display: block;
						}
					}
				}
			}
		}
	}
}