<div class="page-section__sub-section">
	<h4>Overview</h4>
	<div class="row">
		<div class="col-md-12 col-lg-8">
			<p>A well-defined grid system gives web pages a strong sense of cohesion, which increases a users familiarity between different sites and products. Grid systems provide a base structure upon which designs are built, making it much easier for designers and developers to effectively adapt layouts to multiple screen sizes.</p>
		</div>
	</div>
</div>
<div class="page-section__sub-section">
	<h4>Flex Grid</h4>
	<p>Terra uses a responsive 12-column structure, that adapts to fluctuating screen sizes. Gutters are set at 16px, and margins are set at 32px.</p>
	<!-- 1 column -->
	<div class="row">
		<div class="col-xs-12">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
	</div>
	<!-- 2 columns -->
	<div class="row">
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
	</div>
	<!-- 3 columns -->
	<div class="row">
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
	</div>
	<!-- 4 columns -->
	<div class="row">
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
	</div>
	<!-- 5 columns -->
	<div class="row">
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
	</div>
	<!-- 6 columns -->
	<div class="row">
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
	</div>
	<!-- 7 columns -->
	<div class="row">
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
	</div>
	<!-- 8 columns -->
	<div class="row">
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
	</div>
	<!-- 9 columns -->
	<div class="row">
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
	</div>
	<!-- 10 columns -->
	<div class="row">
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
	</div>
	<!-- 11 columns -->
	<div class="row">
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
	</div>
	<!-- 12 columns -->
	<div class="row">
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm">
			<div class="grid-box">
				<span>1-col</span>
			</div>
		</div>
	</div>
</div>