{{> component/documentation-hero }}

<section class="page-section">
	<div class="container-fluid narrow">
		{{{ body }}}
		{{#if modifiers }}
			{{> component/modifiers }}
		{{/if}}
		{{#if mixins }}
			{{> component/mixins }}
		{{/if}}
	</div>
</section>