<section class="hero hero--slim bg-light-1 flush">
	<div class="container-fluid narrow">
		<div class="row">
			<div class="col-xs-12 col-lg-8">
				<h2>{{ page.name }}</h2>
				<p>
					{{ page.tagline }}
				</p>
			</div>
		</div>
	</div>
</section>