<section class="hero hero--slim bg-gray-2">
	<div class="container-fluid narrow">
		<div class="row">
			<div class="col-xs-12 col-lg-8">
				<h1>{{ name }}</h1>
				<p class="font-size-1">
					{{ tagline }}
				</p>
			</div>
		</div>
	</div>
</section>