<section class="page-section">
	<div class="container-fluid narrow">
		<h4>Modifiers</h4> 
		{{{ modifiers.content }}}
		<table class="table--border">
			<tr>
				<th>Name</th>
				<th>Description</th>
			</tr>
			{{#each modifiers.modifiers }}
			</tr>
			
				<td><pre>{{ name }}</pre></td>
				<td>{{ description }}</td>
			</tr>
			{{/each}}
		</table>
	</div>
</section>