<div class="page-section__sub-section">
	<h4>Modifiers</h4> 
	{{{ modifiers.content }}}
	<table class="ter-table">
		<tr>
			<th>Name</th>
			<th>Description</th>
		</tr>
		{{#each modifiers.modifiers }}
		</tr>
		
			<td><pre>{{ name }}</pre></td>
			<td>{{ description }}</td>
		</tr>
		{{/each}}
	</table>
</div>