@mixin border-radius-0 {
    border-radius: 0;
}

@mixin border-radius-1 {
    border-radius: .125rem;
}

@mixin border-radius-2 {
    border-radius: .25rem;
}

@mixin border-radius-3 {
    border-radius: .5rem;
}

@mixin border-radius-4 {
    border-radius: 1rem;
}