.pic-shadow {
	box-shadow:
		-1px 92px 99px -62px rgba(0,0,0,.26),
		0 25px 65px 0 rgba(0,0,0,.08)
	;
}

@mixin box-shadow-1 {
	box-shadow: 0 10px 20px rgba(36,50,66,0.19), 0 6px 6px rgba(36,50,66,0.23);
}

@mixin box-shadow-2 {
	box-shadow: 0 25px 30px 0 rgba(36,50,66,.08);
	// box-shadow: 0 15px 38px rgba(36, 50, 66, 0.08), 0 10px 20px rgba(36, 50, 66, 0.05);
}