:root {
  --spacing-none: 0;
  --spacing-extra-small: .4375rem;
  --spacing-small: .875rem;
  --spacing-medium: 1.75rem;
  --spacing-large: 3.5rem;
  --spacing-extra-large: 5.25rem;
  --spacing-extra-extra-large: 7rem;
  --spacing-extra-extra-extra-large: 8.75rem;
}