
.ter-accordion {
	margin-bottom: spacing('sm');
	border-color: $accordion-border-color;
	border-width: $accordion-border-width;
	border-style: solid;
	border-radius: $accordion-border-radius;
	transition: background 225ms ease-in-out;
	&__heading {
		@include button-reset();
		padding: spacing('xs') spacing('sm');
		position: relative;
		display: block;
		text-decoration: none;
		width: 100%;
		text-align: left;
		&:after {
			@include icon-base();
			position: absolute;
			top: 1em;
			right: spacing('sm');
			transform: rotate(0deg);
			transition: transform 200ms ease-in-out;
			content: "\f053";
			color: $accordion-arrow-color;
		}
		&:hover {
			cursor: pointer;
			text-decoration: none;
		}
	}
	&__content {
		display: none;
		padding: spacing('xs') spacing('sm');
	}
	&.is-expanded {
		background: $accordion-expanded-bg;
		.ter-accordion__heading {
			text-decoration: none;
			&:after {
				transform: rotate(-90deg);
			}
		}
	}
	&.is-shown {
		.ter-accordion__content {
			display: block;
		}
	}
}

.ter-accordion-group {
	margin-bottom: spacing('sm');
	.ter-accordion {
		margin-bottom: 0;
		&:first-child {
			border-top-left-radius: $accordion-border-radius;
			border-top-right-radius: $accordion-border-radius;
		}
		&:last-child {
			border-width: $accordion-border-width;
			border-bottom-left-radius: $accordion-border-radius;
			border-bottom-right-radius: $accordion-border-radius;
		}
	}
}