
.ter-accordion {
	border: 1px solid $accordion-border-color;
	margin-bottom: spacing(5);
	border-radius: $accordion-border-radius;
	transition: background 225ms ease-in-out;
	&__heading {
		@include button-reset();
		padding: spacing(4) spacing(5);
		position: relative;
		display: block;
		text-decoration: none;
		width: 100%;
		text-align: left;
		&:after {
			@include icon-base();
			position: absolute;
			top: 1em;
			right: spacing(5);
			transform: rotate(0deg);
			transition: transform 200ms ease-in-out;
			content: "\f053";
			color: $accordion-arrow-color;
		}
		&:hover {
			cursor: pointer;
			text-decoration: none;
		}
	}
	&__content {
		display: none;
		padding: spacing(4) spacing(5);
	}
	&.is-expanded {
		background: $accordion-expanded-bg;
		.ter-accordion__heading {
			text-decoration: none;
			&:after {
				transform: rotate(-90deg);
			}
		}
	}
	&.is-shown {
		.ter-accordion__content {
			display: block;
		}
	}
}

.ter-accordion-group {
	margin-bottom: spacing(5);
	.ter-accordion {
		margin-bottom: 0;
		border-bottom: 0;
		border-radius: 0px;
		&:first-child {
			border-top-left-radius: $accordion-border-radius;
			border-top-right-radius: $accordion-border-radius;
		}
		&:last-child {
			border-bottom: 1px solid $accordion-border-color;
			border-bottom-left-radius: $accordion-border-radius;
			border-bottom-right-radius: $accordion-border-radius;
		}
	}
}