
.accordion {
	border: 1px solid $accordion-border-color;
	margin-bottom: spacing(5);
	transition: background 225ms ease-in-out;
	&__heading {
		padding: spacing(4) spacing(5);
		position: relative;
		display: block;
		text-decoration: none;
		&:after {
			position: absolute;
			top: 1em;
			right: spacing(5);
			transform: rotate(0deg);
			transition: transform 200ms ease-in-out;
		    @include icon-base();
			content: "\f053";
		}
		&:hover {
			cursor: pointer;
			text-decoration: none;
		}
	}
	&__content {
		display: none;
		padding: spacing(4) spacing(5);
	}
	&.expanded {
		background: $accordion-expanded-bg;
		.accordion__heading {
			text-decoration: none;
			&:after {
				transform: rotate(-90deg);
			}
		}
	}
	&.show {
		.accordion__content {
			display: block;
		}
	}
}

.accordion-group {
	margin-bottom: spacing(5);
	.accordion {
		@include border-radius('all','none');
		margin-bottom: 0;
		border-bottom: 0;
		&:last-child {
			border-bottom: 1px solid $accordion-border-color;
		}
	}
}