/*

  ALERTS

*/

@mixin alert-base() {
    @include type-setting(0,0);
    @include border-radius(all, medium);
    padding: var(--spacing-small) var(--spacing-medium);
    display: block;
    margin-bottom: var(--spacing-medium);
    position: relative;
    height: 100%;
    &__icon {
        margin-right: var(--spacing-small);
        > i {
            width: auto;
            height: 100%;
            display: inline-block;
            &:before {
                opacity: 0.6;
            }
        }
    }
    &__close {
        position: absolute;
        top: 1rem;
        right: 1rem;
        opacity: 0.4;
        padding: 0;
        margin: 0;
        background: transparent;
        border: 0;
        i {
            padding: 0;
            margin: 0;
        }
        &:hover {
            opacity: 0.6;
            cursor: pointer;
        }
    }
}

@mixin alert-variant($color, $textColor: $color) {
    background-color: transparentize($color, .9);
    border: .05rem solid darken($color, 10%);
    @if $textColor == $color {
        color: darken($textColor, 30%);
    } @else {
        color: $textColor;
    }
    .alert__icon {
        > i {
            &:before {
                color: darken($color, 20%);
            }
        }
    }
    .alert__close {
        i {
            color: darken($color, 15%);
        }
    }
    hr {
        opacity: 0.4;
        background-color: darken($color, 10%);
    }
    a {
        color: darken($color, 20%);
        text-decoration: underline;
        &:hover {
            color: darken($color, 10%);
            text-decoration: underline;
        }
    }
}

.alert {
    @include alert-base();
}

@each $color, $value in $state-colors {
  .alert--#{$color} {
    @include alert-variant($value);
  }
}
