/*

  ALERTS

*/

@mixin alert-base($highlight, $color) {
    @include type-setting(0,0);
    background-color: $highlight;
    border-top: 0.25rem solid darken($highlight, 10%);
    color: $color;
    padding: var(--spacing-small) var(--spacing-medium);
    display: block;
    margin-bottom: var(--spacing-medium);
    position: relative;
    transition: all 200ms ease-in-out;
}

[class*="alert"] {
    .close {
        position: absolute;
        top: 0.5rem;
        right: 1rem;
        opacity: 0.2;
        i {
            padding: 0;
            margin: 0;
            color: map-get($colors, gray);
        }
        &:hover {
            opacity: 0.4;
            cursor: pointer;
        }
    }
}

.alert {
    @include alert-base(
        map-get($colors, blue),
        map-get($colors, white)
    );
}

.alert--danger {
    @include alert-base(
        map-get($colors, red),
        map-get($colors, white)
    );
}

.alert--success {
    @include alert-base(
        map-get($colors, green),
        map-get($colors, white)
    );
}

.alert--warning {
    @include alert-base(
        map-get($colors, yellow),
        map-get($colors, gray)
    );
}

.alert--light {
    @include alert-base(
        map-get($colors, gray-2),
        map-get($colors, gray)
    );
}

.alert--dark {
    @include alert-base(
        map-get($colors, gray),
        map-get($colors, white)
    );
}
