/*

  ALERTS

*/

@mixin alert-base() {
    @include type-setting(0,0);
    @include border-radius(all, medium);
    padding: var(--spacing-small) var(--spacing-medium);
    display: block;
    margin-bottom: var(--spacing-medium);
    position: relative;
    transition: all 200ms ease-in-out;
    display: flex;
    flex-direction: row;
    height: 100%;
    &__icon {
        margin-right: var(--spacing-small);
        > i {
            width: auto;
            height: 100%;
            display: inline-block;
            &:before {
                opacity: 0.6;
            }
        }
    }
    &__close {
        position: absolute;
        top: 1rem;
        right: 1rem;
        opacity: 0.4;
        padding: 0;
        margin: 0;
        background: transparent;
        border: 0;
        i {
            padding: 0;
            margin: 0;
        }
        &:hover {
            opacity: 0.6;
            cursor: pointer;
        }
    }
}

@mixin alert-colors($highlight, $color) {
    background-color: $highlight;
    border: .05rem solid darken($highlight, 8%);
    color: $color;
    .alert__icon {
        > i {
            &:before {
                color: $color;
            }
        }
    }
    .alert__close {
        i {
            color: $color;
        }
    }
    hr {
        opacity: 0.4;
        background-color: $color;
    }
}

.alert {
    @include alert-base();
}

.alert--default {
    @include alert-colors(
        map-get($colors, blue),
        map-get($colors, white)
    );
}

.alert--danger {
    @include alert-colors(
        map-get($colors, red),
        map-get($colors, white)
    );
}

.alert--success {
    @include alert-colors(
        map-get($colors, green),
        map-get($colors, white)
    );
}

.alert--warning {
    @include alert-colors(
        map-get($colors, yellow),
        map-get($colors, gray)
    );
}

.alert--light {
    @include alert-colors(
        map-get($colors, gray-2),
        map-get($colors, gray)
    );
}

.alert--dark {
    @include alert-colors(
        map-get($colors, gray),
        map-get($colors, white)
    );
}
