.breadcrumb {
    &__list {
        @include border-radius(all, small);
        padding: spacing('none');
        margin-top: 0;
        margin-bottom: spacing('xs');
        list-style: none;
        > li + li::before {
            @include icon-base();
            content: "\f054";
            color: rgb(204, 204, 204);
            padding: spacing('none') spacing('mini');
            font-size: 75%;
        }
    }
    &__list-item {
        display: inline-block;
        a {
            text-decoration: none;
        }
    }
}