.breadcrumb {
    &__list {
        @include border-radius(all, small);
        padding: spacing(0);
        margin-top: 0;
        margin-bottom: spacing(4);
        list-style: none;
        > li + li::before {
            @include icon-base();
            content: "\f054";
            color: rgb(204, 204, 204);
            padding: spacing(0) spacing(2);
            font-size: 75%;
        }
    }
    &__list-item {
        display: inline-block;
        a {
            text-decoration: none;
        }
    }
}