
/* BUTTONS */

//
// mixins
//

@mixin button-base() {
    @include type-setting(-1,0);
    padding: spacing(2) spacing(4);
    border-radius: $button-border-radius;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    transition: background-color 200ms ease-in-out, border-color 200ms ease-in-out, box-shadow 100ms ease-in-out;
    display: inline-block;
    text-align: center;
    &[href] {
        &:hover,
        &:visited,
        &:active,
        &:focus,
        a:active {
            cursor: pointer;
            text-decoration: none;
        }
        &:active {
            box-shadow: inset 2px 2px 5px rgba(0,0,0,0.2);
        }
    }
    i {
        margin-left: spacing(3);
        &:before {
            font-size: 75%;
            transition: color 200ms ease-in-out;
        }
    }
}

@mixin button-variant($bg, $color: $bg, $borderColor: $bg, $bgHover: $bg) {
    background-color: $bg;
    border: $button-border-size solid $borderColor;
    @if $bg == $color {
        color: yiq-contrast-color($bg);
    }
    @else {
        color: $color;
    }
    &:visited,
    &:active,
    &:focus {
        @if $bg == $color {
            color: yiq-contrast-color($bg);
        }
        @else {
            color: $color;
        }
    }
    &:hover {
        @if $bg == $color {
            color: yiq-contrast-color($bg);
        }
        @else {
            color: $color;
        }
        text-decoration: none;
        @if $bg == $bgHover {
            background-color: darken($bg, 10%);
        }
        @else {
            background-color: $bgHover;
        }
        border-color: darken($borderColor, 10%);
        cursor: pointer;
    }
    &:active {
        background-color: darken($bg, 20%);
    }
    i {
        &:before {
            @if $bg == $color {
                color: yiq-contrast-color($bg);
            }
            @else {
                color: $color;
            }
        }
    }
}

.button,
a.button {
    @include button-base();
}

@each $color, $value in $emotive-colors {
  .button--#{$color},
  a.button--#{$color} {
    @include button-variant($value);
  }
}

.button--outline,
a.button--outline {
    @include button-variant(
        transparent,
        brand-color('accent-1'),
        grayscale('gray-4'),
    );
}

.button--ghost,
a.button--ghost {
    @include button-variant(
        transparent,
        $link-color,
        brand-color("brand-1"),
    );
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px solid transparent;
    &[href] {
        &:hover {
            color: $link-hover-color;
            text-decoration: none;
            border-bottom-color: brand-color("brand-1");
        }
        &:active {
            box-shadow: none;
        }
    }
}

.button--large,
a.button--large {
    @include type-setting(0,0);
}

.button--small,
a.button--small {
    @include type-setting(-2,0);
    padding: spacing(1) spacing(4);
}

.button--block,
a.button--block {
    padding: spacing(3) 0;
    display: block;
    width: 100%;
}

.button--icon,
a.button--icon {
    @include button-variant(
        transparent,
        $button-icon-color
    );
    padding: spacing(1) spacing(2);
    margin: spacing(0);
    outline: none;
    border: 0;
    i {
        margin-left: 0;
        &:before {
            font-size: 125%;
        }
    }
    &:hover {
        text-decoration: underline;
        i {
            &:before {
                color: $button-icon-hover !important;
            }
        }
    }
    &:active {
        box-shadow: none;
    }
}

.split-button {
    position: relative;
    button {
        display: inline-block;
        float: left;
        margin-right: 1px;
        &:last-child {
            margin-right: 0px;
        }
        &:only-of-type {
            margin-right: 0px;
        }
    }
    .dropdown {
        position: unset;
        &:after {
            @include icon-base();
            content: "\f078";
            margin: 0;
            padding: 0;
            font-size: 75%;
        }
    }
}