.card {
	@include depth(1);
    background: #ffffff;
    position: relative;
    margin-bottom: map-get($spacing-scale, medium);
	&__body {
		padding: spacing(medium);
		&__heading {
			@include heading-5;
			margin-bottom: spacing(extra-extra-small);
		}
	}
	&__footer {
		border-top: 1px solid theme-color(ui-3);
		padding: spacing(small) spacing(medium);
	}
	&__image {
		overflow: hidden;
		&--top {
			@include border-radius('top-left','none');
			@include border-radius('top-right','none');
			max-width: 100%;
		}
		&--left {
			@include border-radius('top-left','none');
			@include border-radius('bottom-left','none');
			max-width: 100%;
		}
		> img {
			width: 100%;
			height: auto;
		}
	}
}