/*

  DROPDOWNS

*/

@mixin dropdown-menu-base() {
  @include depth(1);
  border: 1px solid theme-color(ui-5);
  width: 12.5em;
  position: absolute;
  top: calc(100%);
  padding: spacing(extra-small) 0;
  left: 0;
  float: left;
  text-align: left;
  list-style: none;
  transform: translateY(-10px);
  opacity: 0;
  // display: none;
  visibility: hidden;
  background: theme-color(ui-1);
  z-index: 10;
  margin: 0;
  transition: transform 225ms, opacity 225ms, visibility 225ms;
  li {
    padding: 0;
    a {
      color: theme-color(ui-5);
      padding: spacing(extra-extra-small) spacing(small);
      display: block;
      &:hover {
        color: darken(theme-color(ui-5), 10%);
        background: theme-color(ui-2);
        text-decoration: none;
      }
    }
    ul {
    }
    &.separator {
      display: block;
      padding: spacing(extra-small) 0 0 0;
      margin-bottom: spacing(extra-small);
      border-bottom: 1px solid theme-color(ui-5);
    }
  }
  &.show {
    display: block;
  }
}

@mixin dropdown-parent() {
  position: relative;
  > a {
    position: relative;
    i {
      padding-left: .5rem;
      // transition: transform 200ms ease-in-out; 
      &:before {
        font-size: 0.75rem;
      }
    }
  }
}

@mixin dropdown-menu() {
  @include dropdown-parent();
  > .dropdown-menu {
    @include dropdown-menu-base();
    &--left {
      left: unset;
      right: 0;
    }
  }
  &.open {
    > .dropdown-menu {
      visibility: visible;
      // display: block;
      opacity: 1;
      transform: translateY(1px);
    }
  }
}

.dropdown {
  @include dropdown-menu();
}

.dropbutton {
  @include dropdown-menu-base();
  transform: none;
  display: block;
  visibility: visible;
  opacity: 1;
  position: relative;
  left: unset;
  top: unset;
}