@mixin input-base() {
    @include border-radius('all','small');
    @include type-setting(0,0);
    line-height: 1;
    color: $text-2;
    box-sizing: border-box;
    padding: var(--spacing-extra-small) var(--spacing-small);
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
    border: .05rem solid $ui-4;
    background-color: transparent;
}

.input-group {
    position: relative;
    padding: var(--spacing-small) 0;
    > label {
        @include type-setting(-1,0);
        display: block;
        padding-bottom: var(--spacing-extra-small);
    }
    .input-wrap {
        position: relative;
        i {
            position: absolute;
            top: 50%;
            right: .75rem;
            transform: translateY(-50%);
        }
        > label {
            @include type-setting(-1,0);
            display: block;
            padding-bottom: var(--spacing-extra-small);
        }
        input[type="text"] {
            @include input-base();
            position: relative;
            z-index: 1;
            transition: box-shadow 200ms ease-in-out;
            &:focus {
                box-shadow: inset 2px 2px 5px rgba(0,0,0,0.1),
                            0 0 0 2px rgba($brand-1,.2);
            }
            &.focus-effect {
                margin-top: var(--spacing-extra-small);
                ~ label {
                    @include type-setting(0,0);
                    position: absolute;
                    left: .75rem;
                    width: 100%;
                    top: 50%;
                    transform: translateY(-50%);
                    color: $text-2;
                    transition: 0.3s;
                    z-index: 0;
                    text-align: left;
                    padding-bottom: 0;
                }
                &:focus,
                &.has-content,
                &.success,
                &.error {
                    ~ label {
                        @include font-size(-1);
                        top: -1.5rem;
                        transform: translateY(0);
                        transition: 0.3s;
                        left: 0;
                    }
                    ~ .focus-border {
                        width: 100%;
                        transition: 0.4s;
                    }
                }
                &.success {
                    border-color: $state-success;
                    ~ label {
                        color: $state-success;
                    }
                    ~ .focus-border {
                        background-color: $state-success;
                    }
                    ~ i {
                        &:before {
                            color: $state-success;
                        }
                    }
                }
                &.error {
                    border-color: $state-danger;
                    ~ label {
                        color: $state-danger;
                    }
                    ~ .focus-border {
                        background-color: $state-danger;
                    }
                    ~ i {
                        &:before {
                            color: $state-danger;
                        }
                    }
                }
            }
        }
    }
    .input-lg {
        @include font-size(1);
    }
    .input-help {
        @include type-setting(-1,0);
        padding-top: var(--spacing-small);
        display: block;
    }
}

.inverse {
    input[type="text"] {
        color: #ffffff;
        &.focus-effect ~ label {
            color: #ffffff;
        }
    }
}

:focus {
    outline: none;
}

select {
    @include input-base(); 
    -webkit-appearance: button;
    position: relative;
    i {
        position: absolute;
        top: 50%;
        right: .75rem;
        transform: translateY(-50%);
    }
}

textarea {
	display: block;
	width: 100%;
	padding: var(--spacing-extra-small);
	color: var(--color-trimble-gray-10);
	border: 1px solid var(--color-trimble-gray-4);
}