.hero {
	padding-top: spacing(8);
	padding-bottom: spacing(8);
	&--intro {
		padding-top: spacing(9);
		padding-bottom: spacing(9);
		background-size: cover;
		background-position: center center;
		position: relative;
		.dimensional-asset {
			position: absolute;
			bottom: -15em;
			right: 0;
			max-width: 40%;
			z-index: 6;
			img {
				max-width: 100%;
				height: auto;
			}
		}
	}
	&--slim {
		padding-top: spacing(7);
		padding-bottom: spacing(7);
	}
}