@mixin list-inline() {
	margin: 0;
	padding: 0;
	&:after {
		content: '';
		display: block;
		clear: both;
	}
	> li {
	    display: inline-block;
	    list-style: none;
	}
	&--left {
		text-align: left;
		> li {
			margin-left: 0;
			margin-right: spacing('xxs');
			padding: 0;
		}
	}
	&--center {
		text-align: center;
		> li {
			margin-left: spacing('xxs');
			margin-right: 0;
			padding: 0;
		}
	}
	&--right {
		text-align: right;
		> li {
			display: inline-block;
			margin-left: spacing('xxs');
			margin-right: 0;
			padding: 0;
		}
	}
}

ul.list-inline {
	@include list-inline();
}

@mixin list-base {
	margin: 0 0 $base-line-height 0;
	> li {
		padding: spacing('xxs') 0;
	}
}

@mixin list-unstyled {
	@include list-base();
	padding: 0;
	margin: 0;
	list-style: none;
}

.list-unstyled {
	@include list-unstyled();
}

.list-condensed {
	li {
		padding: 0;
	}
}

ul,
ol {
	@include type-setting();
	margin: 0 0 $base-line-height 0;
	li {
		padding: spacing('micro') 0;
	}
}

.item-list {
	@include list-unstyled();
	li {
		margin: spacing('md') 0;
	}
}

.list-group {
	@include list-unstyled();
	&--flush {
		> li {
			border-top: 1px solid;
			padding: spacing('xxs') spacing('sm');
			&:first-child {
				border-top: 0px;
			}
		}
	}
}