@mixin list-inline($alignment: left) {
	margin: 0;
	padding: 0;
	&:after {
		content: '';
		display: block;
		clear: both;
	}
	> li {
	    display: list-item;
	    list-style: none;
		@if $alignment == 'left' {
			float: left;
			margin-left: 0;
			margin-right: var(--spacing-extra-small);
			padding: 0;
		}
		@elseif $alignment == 'right' {
			float: right;
			margin-left: var(--spacing-extra-small);
			margin-right: 0;
			padding: 0;
		}
	}
}

ul.list-inline {
	@include list-inline();
}

ul.list-inline--left {
	@include list-inline(left);
}

ul.list-inline--right {
	@include list-inline(right);
}

ul.list-inline--center {
	@include list-inline(center);
}

@mixin list-base {
	> li {
		padding: var(--spacing-extra-small) 0;
	}
}

@mixin list-unstyled {
	@include list-base();
	padding: 0;
	list-style: none;
}

ul,
ol {
	@include type-setting(0,'normal');
	li {
		padding: var(--spacing-extra-small) 0;
	}
}