@mixin list-inline($alignment: left) {
	margin: 0;
	padding: 0;
	&:after {
		content: '';
		display: block;
		clear: both;
	}
	> li {
	    display: list-item;
	    list-style: none;
		@if $alignment == 'left' {
			float: left;
			margin-left: 0;
			margin-right: spacing(3);
			padding: 0;
		}
		@elseif $alignment == 'right' {
			float: right;
			margin-left: spacing(3);
			margin-right: 0;
			padding: 0;
		}
	}
}

ul.list-inline {
	@include list-inline();
}

ul.list-inline--left {
	@include list-inline(left);
}

ul.list-inline--right {
	@include list-inline(right);
}

ul.list-inline--center {
	@include list-inline(center);
}

@mixin list-base {
	margin: spacing(4) 0;
	> li {
		padding: spacing(3) 0;
	}
}

@mixin list-unstyled {
	@include list-base();
	padding: 0;
	margin: 0;
	list-style: none;
}

ul,
ol {
	@include type-setting(0,'normal');
	li {
		padding: spacing(3) 0;
	}
}

.item-list {
	@include list-unstyled();
	li {
		margin: map-get($spacing-scale, medium) 0;
	}
}

.list-group {
	@include list-unstyled();
	&--flush {
		> li {
			border-top: 1px solid brand-color(ui-3);
			padding: spacing(3) spacing(5);
			&:first-child {
				border-top: 0px;
			}
		}
	}
}