/**
 * Terra Design System
 * _mega-menu.scss
 */

 .ter-mega-menu {
	@include for-size(tablet-landscape-up) {
		@include type-setting('sm','normal');
		@include depth(2);
		position: absolute;
		top: $navbar-height;
		left: 50%;
		transform: translate(-50%, -20px);
		transition: visibility 225ms ease-in-out, opacity 225ms ease-in-out, transform 225ms ease-in-out;
		visibility: hidden;
		opacity: 0;
		width: 100%;
		background-color: $mega-menu-bg;
		box-sizing: border-box;
		&:hover {
			visibility: visible;
			opacity: 1;
			transform: translate(-50%, $mega-menu-offset);
		}
		&__list {
			@include list-unstyled;
			@include border-radius('all','small');
			padding: spacing('xs');
			margin-left: spacing('md');
			margin-right: spacing('md');
			li {
				> ul {
					@include list-unstyled;
					> li {
						padding: spacing('micro') 0;
						display: block;
						> a:not(.ter-button) {
							@include type-setting('sm','normal');
							color: $mega-menu-link-hover;
							margin: 0;
							text-decoration: none;
							&:hover {
								color: $mega-menu-link-hover;
								text-decoration: none;
							}
							@include for-size(tablet-landscape-down) {
								@include type-setting(0,'normal');
								display: block;
							}
							.inverse-color & {
								color: $mega-menu-link-color;
								&:hover {
									color: $mega-menu-link-hover;
								}
							}
						}
						.inverse-color & {
							color: $mega-menu-type-color !important;
						}
					}
				}
			}
		}
		&__list-head {
			@include type-setting('micro', 'bold');
            padding: spacing('mini') spacing('xs');
            text-transform: uppercase;
            color: $mega-menu-type-color !important;
            .inverse-color & {
                color: $mega-menu-type-color !important;
            }
		}
	}
	// disable on mobile
	@include for-size(tablet-landscape-down) {
		&__list {
			@include list-unstyled();
			.container,
			.container-fluid,
			.row {
				margin: 0;
				padding: 0;
			}
			[class^="col"] {
				margin: 0;
				padding: 0;
				display: block;
				width: 100%;
			}
			ul {
				@include list-unstyled();
			}
		}
	}
	&__trigger {
		@include for-size(tablet-landscape-up) {
			&:after {
	            @include icon-base;
	            content: "\f078";
	            font-size: 75%;
	            margin-left: spacing('xxs');
	        }
			&:hover {
				~ .ter-mega-menu {
					visibility: visible;
		  			opacity: 1;
		  			transform: translate(-50%, $mega-menu-offset);
				}
			}
		}
		// disable on mobile
		@include for-size(tablet-landscape-down) {
		}
	}
}