/*

  NAVIGATION

*/

// Mega Menu Mixin

@mixin mega-menu {
	.mega-menu-dropdown {
		> ul.mega-menu {
			@include list-unstyled;
			@include box-shadow(2);
			@include border-radius('all','small');
			position: absolute;
			top: 85px;
			left: 50%;
			transform: translate(-50%, -20px);
	    	transition: all 225ms;
			visibility: hidden;
	  		opacity: 0;
			width: 100%;
			padding: var(--spacing-medium);
			background: #ffffff;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			li {
				> ul {
					@include list-unstyled;
				}
			}
		}
		&:hover {
			> ul.mega-menu {
				visibility: visible;
	  			opacity: 1;
	  			transform: translate(-50%, -1px);
			}
		}
	}
}

.navbar {
	@include z-index(10);
	@include height(3);
	background: $nav-bg;
	transition: transform .5s ease;
	position: fixed;
	top: 0;
	display: block;
	width: 100%;
	border-bottom: 1px solid $ui-3;
	&__toggle {
		@include height(3);
		float: right;
		display: none;
		padding: 0;
		margin: 0;
		border: 0;
		background: transparent;
		@include for-size(phone-only) {
			display: inline-block;
		}
		.line {
			width: 25px;
			height: 2px;
			background-color: $ui-5;
			display: block;
			margin: 5px auto;
			transition: all 0.3s ease-in-out;
		}
		&.is-active .line:nth-child(1){
			transform: translateY(7px);
		}
		&.is-active .line:nth-child(3){
			transform: translateY(-7px);
		}
		&:hover{
			cursor: pointer;
		}
	}
	&__branding {
		float: left;
		padding-top: var(--spacing-small);
		> a {
			> img {
				@include height(2);
			}
		}
	}
	[class^='container'] {
		&:after {
			content: '';
			display: block;
			clear: both;
		}
	}
	&__nav {
		float: right;
		> ul {
			@include height(3);
			margin: 0;
			padding: 0;
			display: table;
			> li {
				display: inline-block;
				padding: 0 var(--spacing-small);
				display: table-cell;
				vertical-align: middle;
				> a:not(.button) {
					color: $nav-link-color;
					margin: 0;
					line-height: 2.25rem;
					display: inline-block;
					&:hover {
						color: $nav-link-hover;
					}
					@include for-size(phone-only) {
						display: block;
					}
				}
				.input-group {
					margin: 0;
				}
			}
			@include for-size(tablet-portrait-up) {
		        > li.dropdown {
					@include dropdown-menu();
					&.open {
						> .dropdown-menu {
							transform: translateY(-1rem);
						}
					}
				}
		    }
		    @include for-size(phone-only) {
		    	> li.dropdown {
					@include dropdown-parent();
					li.separator {
						display: none;
					}
					> .dropdown-menu {
						@include list-unstyled();
						display: none;
						position: unset;
						border: 0;
						box-shadow: unset;
						margin: 0;
						padding-left: var(--spacing-small);
					    float: none;
						> li {
							padding: 0;
							a {
								margin: 0;
								padding: 0;
								line-height: 2.25rem;
								display: inline-block;
								&:hover {
									background-color: transparent;
								}
							}
						}
					}
					&.open {
						> .dropdown-menu {
							display: block;
						}
					}
				}
		    }
			// > .user-account {
			// 	margin: 0;
			// 	padding-right: 0;
			// 	a {
			// 		.user-photo {
			// 			width: 1.75rem;
			// 			height: 1.75rem;
			// 			border-radius: 50%;
			// 			background: $ui-6;
			// 			display: inline-block;
			// 			margin: 0;
			// 			padding: 0;
			// 			position: relative;
			// 			top: var(--spacing-extra-small);
			// 			margin-top: calc(var(--spacing-small) * -1);
			// 		}
			// 		&:hover {
			// 			text-decoration: none;
			// 		}
			// 	}
			// 	span {
			// 		line-height: 2.25rem;
			// 	}
			// 	> .dropdown-menu {
			// 		right: -2rem;
			// 	    left: unset;
			// 	    width: 10em;
			// 	}
			// }
			@include mega-menu;
		}
		&--collapse {
			@include for-size(phone-only) {
				@include box-shadow(2);
		        position: absolute;
		        top: map-get($height-scale, 3);
		        left: 0;
		        width: 100%;
		        display: block;
		        background: $nav-bg;
		        display: none;
		    }
		    > ul {
		    	@include for-size(phone-only) {
		    		@include container();
			        display: block;
			        width: 100%;
			        height: auto;
			        padding-top: var(--spacing-small);
			        padding-bottom: var(--spacing-small);
			    }
	        	> li {
	        		@include for-size(phone-only) {
				        display: block;
				        width: 100%;
				        padding: 0;
				    }
	        	}
	        }
		}
	}
	&.is-hidden {
		transform: translateY(-100%);
	}
}

.side-nav {
	width: 20rem;
	position: fixed;
	left: 0;
	border-right: 1px solid $ui-3;
	height: 100%;
	background: $ui-1;
	transform: translateX(-100%);
	transition: transform 500ms ease-in-out;
	overflow-y: auto;
	@include for-size(tablet-portrait-up) {
		transform: translateX(0);
	}
	&__logo {
		margin-top: var(--spacing-medium);
		padding: 0 var(--spacing-medium);
	}
	&__section {
		padding: var(--spacing-small) var(--spacing-medium);
		border-bottom: 1px solid $ui-3;
	}
}

ul.tree-menu {
	@include type-setting(-1,'normal');
	margin-top: var(--spacing-medium);
	padding: 0 var(--spacing-medium);
	list-style: none;
	> li {
		position: relative;
		padding: 0 0 0 var(--spacing-small);
		> a {
			@include border-radius('all','small');
			padding: var(--spacing-extra-small) 0;
			display: block;
		}
		> span {
			padding: var(--spacing-extra-small) 0;
		}
		&.active {
			> a {
				text-decoration: underline;
			}
		}
		&.expandable {
			i {
				position: absolute;
				top: .7rem;
				left: -.25rem;
				transition: transform 200ms ease-in-out; 
				&:before {
					font-size: 0.75rem;
				}
			}
			> .expandable-menu {
				@include type-setting(-1,'normal');
				list-style: none;
				margin-left: var(--spacing-small);
				padding: 0;
				display: none;
				> li {
					padding: 0;
					> a {
						padding: var(--spacing-extra-small) 0;
						display: block;
					}
					&.active {
						> a {
							text-decoration: underline;
						}
					}
				}
			}
			&.expanded {
				> a {
				}
				i {
					transform: rotate(90deg);
				}
				> .expandable-menu {
					display: block;
				}
			}
		}
	}
}