/*

  NAVIGATION

*/

//
// mega menu

@mixin mega-menu {
	.mega-menu-dropdown {
		> ul.mega-menu {
			@include list-unstyled;
			@include box-shadow(2);
			@include border-radius('all','small');
			position: absolute;
			top: 85px;
			left: 50%;
			transform: translate(-50%, -20px);
	    	transition: all 200ms;
			visibility: hidden;
	  		opacity: 0;
			width: 100%;
			padding: spacing(5);
			background: #ffffff;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			li {
				> ul {
					@include list-unstyled;
				}
			}
		}
		&:hover {
			> ul.mega-menu {
				visibility: visible;
	  			opacity: 1;
	  			transform: translate(-50%, -1px);
			}
		}
	}
}


//
// navigation bar

// fix for body top-margin

body.has-nav {
	padding-top: $navbar-height;
}

// .navbar {
// 	@include z-index(9);
// 	height: $navbar-height;
// 	background: $navbar-bg;
// 	transition: transform .5s ease;
// 	position: fixed;
// 	top: 0;
// 	display: flex;
// 	justify-content: space-between;
// 	width: stretch;
// 	border-bottom: $navbar-border-width solid $navbar-border-color;
// 	padding-left: var(--outer-margin);
// 	padding-right: var(--outer-margin);
// 	&__toggle {
// 		height: $navbar-height;
// 		float: right;
// 		display: inline-block;
// 		padding: 0;
// 		margin: 0;
// 		border: 0;
// 		background: transparent;
// 		@include for-size(tablet-landscape-up) {
// 			display: none;
// 		}
// 		.line {
// 			width: 25px;
// 			height: 2px;
// 			background-color: $navbar-menu-icon-color;
// 			display: block;
// 			margin: 5px auto;
// 			transition: all 0.3s ease-in-out;
// 		}
// 		&.is-active .line:nth-child(1){
// 			transform: translateY(7px);
// 		}
// 		&.is-active .line:nth-child(3){
// 			transform: translateY(-7px);
// 		}
// 		&:hover{
// 			cursor: pointer;
// 		}
// 	}
// 	&__brand {
// 		height: $navbar-height;
// 	    display: inline-block;
// 		> a {
// 			@include type-setting(0,'normal');
// 			text-decoration: none;
// 			line-height: $navbar-height;
// 			> img {
// 				@include height(2);
// 				padding: spacing(4) 0;
// 			}
// 		}
// 	}
// 	[class^='container'] {
// 		&:after {
// 			content: '';
// 			display: block;
// 			clear: both;
// 		}
// 	}
// 	&__nav {
// 		> ul {
// 			height: calc($navbar-height - $navbar-border-width);
// 			margin: 0;
// 			padding: 0;
// 			display: table;
// 			@include for-size(tablet-landscape-up) {
// 				-webkit-box-orient: horizontal;
// 				-webkit-box-direction: normal;
// 				-ms-flex-direction: row;
// 				flex-direction: row;
// 			}
// 			> li {
// 				display: inline-block;
// 				padding: 0 spacing(3);
// 				display: table-cell;
// 				vertical-align: middle;
// 				height: 100%;
// 				> a:not(.ter-button) {
// 					@include type-setting(-1,'normal');
// 					color: $navbar-link-color;
// 					margin: 0;
// 					text-decoration: none;
// 					display: inline-block;
// 					&:hover {
// 						color: $navbar-link-hover;
// 						text-decoration: none;
// 					}
// 					@include for-size(tablet-portrait-down) {
// 						display: block;
// 					}
// 				}
// 				.input-group {
// 					margin: 0;
// 				}
// 			}
// 			@include for-size(tablet-portrait-down) {
// 		        > li.dropdown {
// 					// @include dropdown-menu();
// 					&.open {
// 						> .dropdown-menu {
// 							transform: translateY(-1rem);
// 						}
// 					}
// 				}
// 		    }
// 		    @include for-size(tablet-landscape-down) {
// 		    	> li.dropdown {
// 					position: relative;
// 					display: inline-block;
// 					> a {
// 						position: relative;
// 						&:after {
// 							@include icon-base();
// 							content: "\f078";
// 							font-size: 75%;
// 							margin-left: spacing(3);
// 						}
// 					}
// 					li.separator {
// 						display: none;
// 					}
// 					> .dropdown-menu {
// 						@include list-unstyled();
// 						display: none;
// 						position: unset;
// 						border: 0;
// 						box-shadow: unset;
// 						margin: 0;
// 						padding-left: spacing(4);
// 					    float: none;
// 						> li {
// 							padding: 0;
// 							a {
// 								margin: 0;
// 								padding: 0;
// 								line-height: 2.25rem;
// 								display: inline-block;
// 								&:hover {
// 									background-color: transparent;
// 								}
// 							}
// 						}
// 						@include for-size(tablet-landscape-down) {
// 							background: transparent;
// 							padding: 0 0 0 spacing(4);
// 							li {
// 								a:not(.ter-button) {
// 									color: $navbar-link-color;
// 									margin: 0;
// 									line-height: 2.25rem;
// 									display: inline-block;
// 									&:hover {
// 										color: $navbar-link-hover;
// 										text-decoration: underline;
// 									}
// 									@include for-size(tablet-portrait-down) {
// 										display: block;
// 									}
// 								}
// 							}
// 						}
// 					}
// 				}
// 		    }
// 		}
// 		&--collapse {
// 			@include box-shadow(2);
// 	        position: absolute;
// 	        top: $navbar-height;
// 	        left: 0;
// 	        width: 100%;
// 	        display: block;
// 	        background: $navbar-bg;
// 	        display: none;
// 	        &.is-expanded {
// 	        	display: block;
// 	        }
// 			@include for-size(tablet-landscape-up) {
// 				@include box-shadow("none");
// 				display: inline-block;
// 				width: initial;
// 				position: static;
// 	        	top: unset;
// 	        	left: unset;
// 	        	display: flex !important;
// 		    }
// 		    > ul {
// 		        display: block;
// 		        width: 100%;
// 		        height: auto;
// 		        padding-top: spacing(4);
// 		        padding-bottom: spacing(4);
// 		    	@include for-size(tablet-landscape-up) {
// 		    		display: table;
// 		    		width: initial;
// 		    		padding-top: 0;
// 		    		padding-bottom: 0;
// 		    		height: $navbar-height;
// 			    }
// 	        	> li {
// 	        		display: block;
// 			        width: 100%;
// 			        padding-left: var(--outer-margin);
// 					padding-right: var(--outer-margin);
// 		    		padding-top: spacing(2);
// 		    		padding-bottom: spacing(2);
// 	        		@include for-size(tablet-landscape-up) {
// 	        			display: table-cell;
// 	        			width: initial;
// 	        			padding: 0 spacing(4);
// 	        			vertical-align: middle;
// 				    }
// 				    a:not(.ter-button) {
// 				    	@include for-size(tablet-landscape-down) {
// 				    		@include type-setting(0, 'normal');
// 				    	}
// 				    }
// 	        	}
// 	        }
// 		}
// 	}
// 	&.is-hidden {
// 		transform: translateY(-100%);
// 	}
// }

.navbar {
	@include z-index(9);
	height: $navbar-height;
	background: $navbar-bg;
	transition: transform .5s ease;
	position: fixed;
	top: 0;
	display: flex;
	justify-content: space-between;
	width: stretch;
	border-bottom: $navbar-border-width solid $navbar-border-color;
	padding-left: var(--outer-margin);
	padding-right: var(--outer-margin);
	&__toggle {
		height: $navbar-height;
		float: right;
		display: inline-block;
		padding: 0;
		margin: 0;
		border: 0;
		background: transparent;
		@include for-size(tablet-landscape-up) {
			display: none;
		}
		.line {
			width: 25px;
			height: 2px;
			background-color: $navbar-menu-icon-color;
			display: block;
			margin: 5px auto;
			transition: all 0.3s ease-in-out;
		}
		&.is-active .line:nth-child(1){
			transform: translateY(7px);
		}
		&.is-active .line:nth-child(3){
			transform: translateY(-7px);
		}
		&:hover{
			cursor: pointer;
		}
	}
	&__brand {
		height: $navbar-height;
	    display: inline-block;
		> a {
			@include type-setting(0,'normal');
			text-decoration: none;
			line-height: $navbar-height;
			> img {
				@include height(2);
				padding: spacing(4) 0;
			}
		}
	}
	[class^='container'] {
		&:after {
			content: '';
			display: block;
			clear: both;
		}
	}
	&__nav {
		@include box-shadow(2);
        position: absolute;
        top: $navbar-height;
        left: 0;
        width: 100%;
        background: $navbar-bg;
        display: none;
        // .is-expanded & {
        // 	display: block;
        // }
		@include for-size(tablet-landscape-up) {
			@include box-shadow("none");
			display: inline-block;
			width: initial;
			position: static;
        	top: unset;
        	left: unset;
        	display: flex !important;
	    }
	}
    &__menu {
        display: block;
        width: 100%;
        height: auto;
        padding-top: spacing(4);
        padding-bottom: spacing(4);
        margin: 0;
    	@include for-size(tablet-landscape-up) {
    		display: table;
    		width: initial;
    		padding-top: 0;
    		padding-bottom: 0;
    		height: $navbar-height;
	    }
	}
	&__menu-item {
		display: block;
        width: 100%;
        padding-left: var(--outer-margin);
		padding-right: var(--outer-margin);
		padding-top: spacing(2);
		padding-bottom: spacing(2);
		@include for-size(tablet-landscape-up) {
			display: table-cell;
			width: initial;
			padding: 0 spacing(4);
			vertical-align: middle;
	    }
	    > a:not(.ter-button) {
			@include type-setting(-1,'normal');
			color: $navbar-link-color;
			margin: 0;
			text-decoration: none;
			display: inline-block;
			&:hover {
				color: $navbar-link-hover;
				text-decoration: none;
			}
			@include for-size(tablet-portrait-down) {
				display: block;
			}
		}
	}
	&.is-hidden {
		transform: translateY(-100%);
	}
}


//
// tree menu

.tree-menu {
	margin: 0;
	padding: 0 0 0 spacing(3);
	list-style: none;
	li {
		@include type-setting(-1,'normal');
		i {
			position: absolute;
			top: .7em;
			left: -.25em;
			transition: transform 200ms ease-in-out;
			font-size: 75%;
		}
		a,
		a:visited,
		a:active,
		a:focus {
			color: $tree-menu-link-color;
			text-decoration: none;
			&:hover {
				color: $tree-menu-link-hover;
				cursor: pointer;
			}
		}
		&.active {
			> a {
				color: $tree-menu-link-hover;
			}
		}
	}
	> li {
		position: relative;
		padding: 0 0 0 $tree-menu-left-padding;
		> a {
			@include border-radius('all','small');
			padding: spacing(1) 0;
			display: block;
		}
		> span {
			padding: spacing(1) 0;
		}
		&.expandable {
			&:before {
				@include icon-base();
				content: "\f054";
				color: lighten($tree-menu-link-color, 10%);
				position: absolute;
				top: 1em;
				left: calc(-1 * #{$tree-menu-left-padding});
				transition: transform 200ms ease-in-out;
				font-size: 75%;
			}
			> .expandable-menu {
				list-style: none;
				margin-left: spacing(3);
				padding: 0;
				display: none;
				> li {
					padding: 0;
					> a {
						padding: spacing(1) 0;
						display: block;
					}
				}
			}
			&.expanded {
				> a {
					color: $tree-menu-link-hover;
				}
				&:before {
					transform: rotate(90deg);
				}
				> .expandable-menu {
					display: block;
				}
			}
		}
	}
}
