/*

  NAVIGATION

*/

//
// mega menu

@mixin mega-menu {
	.mega-menu-dropdown {
		> ul.mega-menu {
			@include list-unstyled;
			@include box-shadow(2);
			@include border-radius('all','small');
			position: absolute;
			top: 85px;
			left: 50%;
			transform: translate(-50%, -20px);
	    	transition: all 200ms;
			visibility: hidden;
	  		opacity: 0;
			width: 100%;
			padding: spacing(5);
			background: #ffffff;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			li {
				> ul {
					@include list-unstyled;
				}
			}
		}
		&:hover {
			> ul.mega-menu {
				visibility: visible;
	  			opacity: 1;
	  			transform: translate(-50%, -1px);
			}
		}
	}
}


//
// navigation bar

// fix for body top-margin

body.has-nav {
	padding-top: $navbar-height;
}

.navbar {
	z-index: 10;
	height: $navbar-height;
	background: $navbar-bg;
	transition: transform .5s ease;
	position: fixed;
	top: 0;
	display: block;
	width: 100%;
	border-bottom: $navbar-border-width solid $navbar-border-color;
	&__toggle {
		height: $navbar-height;
		float: right;
		display: inline-block;
		padding: 0;
		margin: 0;
		border: 0;
		background: transparent;
		@include for-size(tablet-landscape-up) {
			display: none;
		}
		.line {
			width: 25px;
			height: 2px;
			background-color: red;
			display: block;
			margin: 5px auto;
			transition: all 0.3s ease-in-out;
		}
		&.is-active .line:nth-child(1){
			transform: translateY(7px);
		}
		&.is-active .line:nth-child(3){
			transform: translateY(-7px);
		}
		&:hover{
			cursor: pointer;
		}
	}
	&__branding {
		float: left;
		// padding-top: spacing(3);
		> a {
			@include type-setting(0,'normal');
			text-decoration: none;
			line-height: $navbar-height;
			> img {
				@include height(3);
			}
		}
	}
	[class^='container'] {
		&:after {
			content: '';
			display: block;
			clear: both;
		}
	}
	&__nav {
		float: right;
		> ul {
			height: calc($navbar-height - $navbar-border-width);
			margin: 0;
			padding: 0;
			display: table;
			> li {
				display: inline-block;
				padding: 0 spacing(3);
				display: table-cell;
				vertical-align: middle;
				> a:not(.button) {
					@include type-setting(-1,'normal');
					color: $navbar-link-color;
					margin: 0;
					// line-height: 2.25rem;
					display: inline-block;
					&:hover {
						color: $navbar-link-hover;
					}
					@include for-size(tablet-portrait-down) {
						display: block;
					}
				}
				.input-group {
					margin: 0;
				}
			}
			@include for-size(tablet-portrait-down) {
		        > li.dropdown {
					@include dropdown-menu();
					&.open {
						> .dropdown-menu {
							transform: translateY(-1rem);
						}
					}
				}
		    }
		    @include for-size(tablet-landscape-down) {
		    	> li.dropdown {
					@include dropdown-parent();
					li.separator {
						display: none;
					}
					> .dropdown-menu {
						@include list-unstyled();
						display: none;
						position: unset;
						border: 0;
						box-shadow: unset;
						margin: 0;
						padding-left: spacing(4);
					    float: none;
						> li {
							padding: 0;
							a {
								margin: 0;
								padding: 0;
								line-height: 2.25rem;
								display: inline-block;
								&:hover {
									background-color: transparent;
								}
							}
						}
						@include for-size(tablet-landscape-down) {
							background: transparent;
							padding: 0 0 0 spacing(4);
							> li {
								> a:not(.button) {
									color: $navbar-link-color;
									margin: 0;
									line-height: 2.25rem;
									display: inline-block;
									&:hover {
										color: $navbar-link-hover;
										text-decoration: underline;
									}
									@include for-size(tablet-portrait-down) {
										display: block;
									}
								}
							}
						}
					}
					&.open {
						> .dropdown-menu {
							display: block;
						}
					}
				}
		    }
			@include mega-menu;
		}
		&--collapse {
			@include box-shadow(2);
	        position: absolute;
	        top: $navbar-height;
	        left: 0;
	        width: 100%;
	        display: block;
	        background: $navbar-bg;
	        display: none;
	        &.expanded {
	        	display: block;
	        }
			@include for-size(tablet-landscape-up) {
				@include box-shadow("none");
				display: inline-block;
				width: initial;
				position: static;
	        	top: unset;
	        	left: unset;
		    }
		    > ul {
		    	@include container();
		        display: block;
		        width: 100%;
		        height: auto;
		        padding-top: spacing(3);
		        padding-bottom: calc(spacing(3) - 1px);
		    	@include for-size(tablet-landscape-up) {
		    		display: inline-block;
		    		width: initial;
			    }
	        	> li {
	        		display: block;
			        width: 100%;
			        padding: 0;
	        		@include for-size(tablet-landscape-up) {
	        			display: inline-block;
	        			width: initial;
	        			padding: 0 spacing(4);
				    }
	        	}
	        }
		}
	}
	&.is-hidden {
		transform: translateY(-100%);
	}
}


//
// tree menu

.tree-menu {
	margin: 0;
	padding: 0 0 0 spacing(2);
	list-style: none;
	li {
		@include type-setting(-1,'normal');
		i {
			position: absolute;
			top: .7em;
			left: -.25em;
			transition: transform 200ms ease-in-out;
			font-size: 75%;
		}
		a,
		a:visited,
		a:active,
		a:focus {
			color: $tree-menu-link-color;
			text-decoration: none;
			&:hover {
				color: $tree-menu-link-hover;
				cursor: pointer;
			}
		}
		ul {
			padding: 0 0 0 spacing(3);
			list-style: none;
			li {
				padding: 0 0 0 spacing(2);
				> a {
					padding: spacing(3) 0;
					display: block;
				}
			}
		}
		&.active {
			> a {
				text-decoration: underline;
				color: $tree-menu-link-hover;
			}
		}
	}
	> li {
		position: relative;
		padding: 0 0 0 spacing(3);
		> a {
			@include border-radius('all','small');
			padding: spacing(2) 0;
			display: block;
		}
		> span {
			padding: spacing(2) 0;
		}
		&.expandable {
			i {
				color: lighten($tree-menu-link-color, 20%);
				position: absolute;
				top: .7rem;
				left: -.25rem;
				transition: transform 200ms ease-in-out; 
				&:before {
					font-size: 100%;
				}
			}
			> .expandable-menu {
				list-style: none;
				margin-left: spacing(3);
				padding: 0;
				display: none;
				> li {
					padding: 0;
					> a {
						padding: spacing(2) 0;
						display: block;
					}
				}
			}
			&.expanded {
				> a {
				}
				i {
					transform: rotate(90deg);
				}
				> .expandable-menu {
					display: block;
				}
			}
		}
	}
}


//
// nav tabs

.nav-tabs {
	@include list-unstyled();
	@include list-inline();
	display: flex;
	justify-content: space-between;
  	flex-wrap: wrap;
	margin-bottom: spacing(5);
	li {
		flex-grow: 1;
		padding: 0;
		margin: 0;
		a {
			@include button-base();
			@include border-radius(all,none);
			display: block;
			padding: spacing(3) spacing(4);
			border-bottom: 1px solid $nav-tabs-border-color;
		}
		&.active {
			a {
				border-left: 1px solid $nav-tabs-border-color;
		    	border-top: 1px solid $nav-tabs-border-color;
		    	border-right: 1px solid $nav-tabs-border-color;
				border-bottom: 0px;
			}
		}
	}
}