/*

  NAVIGATION

*/

// Mega Menu Mixin

@mixin mega-menu {
	.mega-menu-dropdown {
		> ul.mega-menu {
			@include list-unstyled;
			@include box-shadow(2);
			@include border-radius('all','small');
			position: absolute;
			top: 85px;
			left: 50%;
			transform: translate(-50%, -20px);
	    	transition: all 225ms;
			visibility: hidden;
	  		opacity: 0;
			width: 100%;
			padding: var(--spacing-medium);
			background: #ffffff;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			li {
				> ul {
					@include list-unstyled;
				}
			}
		}
		&:hover {
			> ul.mega-menu {
				visibility: visible;
	  			opacity: 1;
	  			transform: translate(-50%, -1px);
			}
		}
	}
}

.navbar {
	@include z-index(10);
	@include height(3);
	background: $navbar-bg;
	transition: transform .5s ease;
	position: fixed;
	top: 0;
	display: block;
	width: 100%;
	border-bottom: $navbar-border;
	&__toggle {
		@include height(3);
		float: right;
		display: inline-block;
		padding: 0;
		margin: 0;
		border: 0;
		background: transparent;
		@include for-size(tablet-landscape-up) {
			display: none;
		}
		.line {
			width: 25px;
			height: 2px;
			background-color: theme-color(ui-5);
			display: block;
			margin: 5px auto;
			transition: all 0.3s ease-in-out;
		}
		&.is-active .line:nth-child(1){
			transform: translateY(7px);
		}
		&.is-active .line:nth-child(3){
			transform: translateY(-7px);
		}
		&:hover{
			cursor: pointer;
		}
	}
	&__branding {
		float: left;
		padding-top: var(--spacing-small);
		> a {
			> img {
				@include height(2);
			}
		}
	}
	[class^='container'] {
		&:after {
			content: '';
			display: block;
			clear: both;
		}
	}
	&__nav {
		float: right;
		> ul {
			@include height(3);
			margin: 0;
			padding: 0;
			display: table;
			> li {
				display: inline-block;
				padding: 0 var(--spacing-small);
				display: table-cell;
				vertical-align: middle;
				> a:not(.button) {
					color: $navbar-link-color;
					margin: 0;
					line-height: 2.25rem;
					display: inline-block;
					&:hover {
						color: $navbar-link-hover;
					}
					@include for-size(tablet-portrait-down) {
						display: block;
					}
				}
				.input-group {
					margin: 0;
				}
			}
			@include for-size(tablet-portrait-down) {
		        > li.dropdown {
					@include dropdown-menu();
					&.open {
						> .dropdown-menu {
							transform: translateY(-1rem);
						}
					}
				}
		    }
		    @include for-size(tablet-landscape-down) {
		    	> li.dropdown {
					@include dropdown-parent();
					li.separator {
						display: none;
					}
					> .dropdown-menu {
						@include list-unstyled();
						display: none;
						position: unset;
						border: 0;
						box-shadow: unset;
						margin: 0;
						padding-left: var(--spacing-small);
					    float: none;
						> li {
							padding: 0;
							a {
								margin: 0;
								padding: 0;
								line-height: 2.25rem;
								display: inline-block;
								&:hover {
									background-color: transparent;
								}
							}
						}
						@include for-size(tablet-landscape-down) {
							background: transparent;
							padding: 0 0 0 spacing(small);
							> li {
								> a:not(.button) {
									color: $navbar-link-color;
									margin: 0;
									line-height: 2.25rem;
									display: inline-block;
									&:hover {
										color: $navbar-link-hover;
										text-decoration: underline;
									}
									@include for-size(tablet-portrait-down) {
										display: block;
									}
								}
							}
						}
					}
					&.open {
						> .dropdown-menu {
							display: block;
						}
					}
				}
		    }
			@include mega-menu;
		}
		&--collapse {
			@include box-shadow(2);
	        position: absolute;
	        top: map-get($height-scale, 3);
	        left: 0;
	        width: 100%;
	        display: block;
	        background: $navbar-bg;
	        display: none;
	        &.expanded {
	        	display: block;
	        }
			@include for-size(tablet-landscape-up) {
				@include box-shadow("none");
				display: inline-block;
				width: initial;
				position: static;
	        	top: unset;
	        	left: unset;
		    }
		    > ul {
		    	@include container();
		        display: block;
		        width: 100%;
		        height: auto;
		        padding-top: var(--spacing-small);
		        padding-bottom: var(--spacing-small);
		    	@include for-size(tablet-landscape-up) {
		    		display: inline-block;
		    		width: initial;
			    }
	        	> li {
	        		display: block;
			        width: 100%;
			        padding: 0;
	        		@include for-size(tablet-landscape-up) {
	        			display: inline-block;
	        			width: initial;
	        			padding: 0 spacing(small);
				    }
	        	}
	        }
		}
	}
	&.is-hidden {
		transform: translateY(-100%);
	}
}

.tree-menu {
	margin: 0;
	padding: 0 0 0 var(--spacing-extra-small);
	list-style: none;
	li {
		padding: 0 0 0 var(--spacing-extra-small);
		i {
			position: absolute;
			top: .7rem;
			left: -.25rem;
			transition: transform 200ms ease-in-out; 
			&:before {
				font-size: 0.75rem;
			}
		}
		a {
			&:hover {
				cursor: pointer;
			}
		}
		ul {
			padding: 0 0 0 var(--spacing-small);
			list-style: none;
			li {
				padding: 0 0 0 var(--spacing-extra-small);
				> a {
					@include border-radius('all','small');
					padding: var(--spacing-extra-small) 0;
					display: block;
				}
			}
		}
		&.active {
			> a {
				@include font-weight(bold);
				color: theme-color(text-2);
			}
		}
	}
	> li {
		position: relative;
		padding: 0 0 0 var(--spacing-small);
		> a {
			@include border-radius('all','small');
			padding: var(--spacing-extra-small) 0;
			display: block;
		}
		> span {
			padding: var(--spacing-extra-small) 0;
		}
		&.active {
			> a {
				text-decoration: underline;
			}
		}
		&.expandable {
			i {
				position: absolute;
				top: .7rem;
				left: -.25rem;
				transition: transform 200ms ease-in-out; 
				&:before {
					font-size: 0.75rem;
				}
			}
			> .expandable-menu {
				list-style: none;
				margin-left: var(--spacing-small);
				padding: 0;
				display: none;
				> li {
					padding: 0;
					> a {
						padding: var(--spacing-extra-small) 0;
						display: block;
					}
					&.active {
						> a {
							text-decoration: underline;
						}
					}
				}
			}
			&.expanded {
				> a {
				}
				i {
					transform: rotate(90deg);
				}
				> .expandable-menu {
					display: block;
				}
			}
		}
	}
}

.nav-tabs {
	@include list-unstyled();
	@include list-inline();
	display: flex;
	margin-bottom: spacing(medium);
	li {
		padding: 0;
		margin: 0;
		a {
			@include button-base();
			@include border-radius(all,none);
			padding: spacing(extra-small) spacing(small);
			border-bottom: 1px solid darken(theme-color(ui-3), 8%);
		}
		&.active {
			a {
				border-left: 1px solid darken(theme-color(ui-3), 8%);
		    	border-top: 1px solid darken(theme-color(ui-3), 8%);
		    	border-right: 1px solid darken(theme-color(ui-3), 8%);
				border-bottom: 0px;
			}
		}
	}
}