/*

  Notifications

*/

@mixin notification-base() {
    @include type-setting();
    @include depth(4);
    padding: spacing('sm');
    display: block;
    margin-bottom: spacing('sm');
    position: relative;
    &__close {
        position: absolute;
        top: 1rem;
        right: 1rem;
        opacity: 0.4;
        padding: 0;
        margin: 0;
        background: transparent;
        border: 0;
        i {
            padding: 0;
            margin: 0;
        }
        &:hover {
            opacity: 0.6;
            cursor: pointer;
        }
    }
}

@mixin notification-variant($color, $bg: transparent) {
    background-color: $color;
    border: .05rem solid darken($color, 10%);
    color: yiq-contrast-color($color);
    [class$="close"] {
        i {
            color: neutral-color('white');
        }
    }
    hr {
        opacity: 0.4;
        background-color: darken($color, 10%);
    }
    a {
        color: lighten($color, 20%);
        text-decoration: underline;
        &:hover {
            color: lighten($color, 10%);
            text-decoration: underline;
        }
    }
}

.ter-notification {
    @include notification-base();
}

@each $color, $value in $emotive-colors {
  .ter-notification--#{$color} {
    @include notification-variant($value);
  }
}
