.pagination {
	@include list-inline();
	margin-top: map-get($spacing-scale, medium);
	margin-bottom: map-get($spacing-scale, medium);
	display: flex;
	text-align: center;
    justify-content: center !important;
	li {
		margin: 0;
		padding: 0;
		a,
		> span {
			@include border-radius(all,small);
			padding: spacing(extra-small) spacing(small);
			border: 1px solid darken(theme-color(ui-3), 8%);
		    margin: 0;
		}
		&:not(:first-child):not(:last-child) {
			a,
			> span {
		    	border-radius: 0px;
		    	border-right: 0px;
		    }
		}
		&:first-child:not(:only-of-type) {
			a,
			> span {
				border-right: 0;
				border-top-right-radius: 0px;
				border-bottom-right-radius: 0px;
			}
		}
		&:last-child:not(:only-of-type) {
			a,
			> span {
				border-top-left-radius: 0px;
				border-bottom-left-radius: 0px;
			}
		}
		&:only-of-type {
			a,
			> span {
				border: 1px solid darken(theme-color(ui-3), 8%);
			}
		}
	}
}