.page-section {
	padding-top: var(--spacing-large);
	padding-bottom: var(--spacing-large);
	&__sub-section {
		padding-bottom: var(--spacing-large);
	}
	&__sub-section:last-child {
		padding-bottom: 0;
	}
}

// .page {
// 	.page-section:last-child {
// 		padding-bottom: var(--spacing-large);
// 	}
// }

footer.main-footer {
	@include background-color(trimble-gray-2);
	border-top: 1px solid $ui-3;
	background-color: $ui-2;
	padding: var(--spacing-medium) 0;
	.footer-links {
		@include list-unstyled;
	}
}