.page-section {
	padding-top: var(--spacing-large);
	padding-bottom: var(--spacing-large);
	&__sub-section {
		padding-bottom: var(--spacing-large);
	}
	&__sub-section:last-child {
		padding-bottom: 0;
	}
}