.page-section {
	padding-top: spacing('lg');
	padding-bottom: spacing('lg');
	&__sub-section {
		padding-bottom: spacing('lg');
	}
	&__sub-section:first-child {
		padding-top: calc(#{spacing('lg')} * 2);
	}
	&__sub-section:last-child {
		padding-bottom: calc(#{spacing('lg')} * 2);
	}
}