//
// nav tabs

.nav-tabs {
	&__list {
		@include list-unstyled();
		@include list-inline();
		display: flex;
		justify-content: space-between;
	  	flex-wrap: wrap;
		margin-bottom: spacing(5);
		> li {
			margin-right: 0;
		}
	}
	&__list-item {
		flex-grow: 1;
		padding: 0;
		margin: 0;
		border-left: 1px solid transparentize($nav-tabs-border-color, 0.75);
    	border-top: 1px solid transparentize($nav-tabs-border-color, 0.75);
    	border-right: 0px;
		border-bottom: 1px solid $nav-tabs-border-color;
		a {
			@include button-base();
			@include border-radius('all', 'none');
			color: $nav-tabs-link-color;
			display: block;
			padding: spacing(3) spacing(4);
			&:hover {
				color: $nav-tabs-link-hover;
			}
		}
		&.is-active {
			border-left: 1px solid $nav-tabs-border-color;
	    	border-top: 1px solid $nav-tabs-border-color;
	    	border-right: 1px solid $nav-tabs-border-color;
			border-bottom: 0px;
			a {
				color: $nav-tabs-link-hover;
			}
		}
		&.is-active + li > a {
			border-left: 0px;
		}
		&:last-child {
			a {
				border-right: 1px solid transparentize($nav-tabs-border-color, 0.75);
			}
		}
	}
}

//
// compact tabs

.compact-tabs {
	&__list {
		@include list-unstyled();
		@include list-inline();
		margin-bottom: spacing(5);
		> li {
			margin-right: 0;
		}
	}
	&__list-item {
		flex-grow: 1;
		padding: 0;
		margin: 0;
		a {
			@include button-base();
			@include border-radius('all', 'none');
			color: $compact-tabs-link-color;
			display: block;
			margin: spacing(2) spacing(3);
			padding: spacing(2) 0;
			&:hover {
				color: $compact-tabs-link-hover;
			}
		}
		&.is-active {
			a {
				color: $compact-tabs-link-hover;
				position: relative;
				&:after {
					content: '';
					display: block;
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 1px;
					background-color: $compact-tabs-underline-color;
				}
			}
		}
	}
}