table {
	width: 100%;
	border-collapse: collapse;
	tr {
		th {
			margin: 0;
			text-align: left;
			border-bottom: 1px solid theme-color(ui-3);
		}
		td {
			border-bottom: 1px solid theme-color(ui-3);
		}
	}
}

.table {
	tr {
		th {
			padding: spacing(extra-extra-small);
		}
		td {
			padding: spacing(extra-extra-extra-small);
		}
	}
}