<div class="page-section__sub-section">
	<div class="row">
		<div class="col-xs">
			<button type="button" class="ter-button ter-button--primary">Primary</button>
			<button type="button" class="ter-button ter-button--secondary">Secondary</button>
			<button type="button" class="ter-button ter-button--danger">Danger</button>
			<button type="button" class="ter-button ter-button--success">Success</button>
			<button type="button" class="ter-button ter-button--warning">Alert</button>
			<button type="button" class="ter-button ter-button--light">Light</button>
			<button type="button" class="ter-button ter-button--dark">Dark</button>
			<button type="button" class="ter-button ter-button--outline">Outline</button>
			<button type="button" class="ter-button ter-button--ghost">Ghost</button>
		</div>
	</div>
</div>
<div class="page-section__sub-section">
	<div class="row">
		<div class="col-xs">
			<div class="ter-accordion-group">
				<div class="ter-accordion is-expanded">
					<button class="ter-accordion__heading" data-toggle="collapse" data-target="#accordion-1">Customer Service</button>
					<div id="accordion-1" class="ter-accordion__content" style="display: block;">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
					</div>
				</div>
				<div class="ter-accordion">
					<button class="ter-accordion__heading" data-toggle="collapse" data-target="#accordion-2">Customer Service</button>
					<div id="accordion-2" class="ter-accordion__content">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
					</div>
				</div>
				<div class="ter-accordion">
					<button class="ter-accordion__heading" data-toggle="collapse" data-target="#accordion-3">Customer Service</button>
					<div id="accordion-3" class="ter-accordion__content">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="page-section__sub-section">
	<div class="row">
		<div class="col-xs">
			<div class="ter-alert ter-alert--primary" role="alert">
				<button type="button" class="ter-alert__close" aria-label="Close" data-close="alert">
					<span aria-hidden="true">Close Alert</span><i class="fas fa-times"></i>
				</button>
				<div class="ter-alert__content">
					This is a primary alert
				</div>
			</div>
			<div class="ter-alert ter-alert--success" role="alert">
				<button type="button" class="ter-alert__close" aria-label="Close" data-close="alert">
					<span aria-hidden="true">Close Alert</span><i class="fas fa-times"></i>
				</button>
				<div class="ter-alert__content">
					This is a success alert.<br>
				</div>
			</div>
			<div class="ter-alert ter-alert--warning" role="alert">
				<button type="button" class="ter-alert__close" aria-label="Close" data-close="alert">
					<span aria-hidden="true">Close Alert</span><i class="fas fa-times"></i>
				</button>
				<div class="ter-alert__content">
					This is a warning alert.<br>
				</div>
			</div>
			<div class="ter-alert ter-alert--danger" role="alert">
				<button type="button" class="ter-alert__close" aria-label="Close" data-close="alert">
					<span aria-hidden="true">Close Alert</span><i class="fas fa-times"></i>
				</button>
				<div class="ter-alert__content">
					This is a danger alert.<br>
				</div>
			</div>
			<div class="ter-alert ter-alert--dark" role="alert">
				<button type="button" class="ter-alert__close" aria-label="Close" data-close="alert">
					<span aria-hidden="true">Close Alert</span><i class="fas fa-times"></i>
				</button>
				<div class="ter-alert__content">
					This is a dark alert.<br>
				</div>
			</div>
			<div class="ter-alert ter-alert--light" role="alert">
				<button type="button" class="ter-alert__close" aria-label="Close" data-close="alert">
					<span aria-hidden="true">Close Alert</span><i class="fas fa-times"></i>
				</button>
				<div class="ter-alert__content">
					This is a light alert.<br>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="page-section__sub-section">
	<div class="row">
		<div class="col-xs">
		</div>
	</div>
</div>
<div class="page-section__sub-section">
	<div class="row">
		<div class="col-xs">
		</div>
	</div>
</div>
<div class="page-section__sub-section">
	<div class="row">
		<div class="col-xs">
		</div>
	</div>
</div>
<div class="page-section__sub-section">
	<div class="row">
		<div class="col-xs">
		</div>
	</div>
</div>
<div class="page-section__sub-section">
	<div class="row">
		<div class="col-xs">
		</div>
	</div>
</div>
<div class="page-section__sub-section">
	<div class="row">
		<div class="col-xs">
		</div>
	</div>
</div>
<div class="page-section__sub-section">
	<div class="row">
		<div class="col-xs">
		</div>
	</div>
</div>
<div class="page-section__sub-section">
	<div class="row">
		<div class="col-xs">
		</div>
	</div>
</div>
<div class="page-section__sub-section">
	<div class="row">
		<div class="col-xs">
		</div>
	</div>
</div>
<div class="page-section__sub-section">
	<div class="row">
		<div class="col-xs">
		</div>
	</div>
</div>
<div class="page-section__sub-section">
	<div class="row">
		<div class="col-xs">
		</div>
	</div>
</div>