<header class="hero intro bg-light-1">
	<div class="container-fluid narrow text-left text-center-xs">
		<div class="row">
			<div class="col-md-12 col-lg-8">
				<h2>Terra Design System</h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam accumsan massa in erat semper, non lobortis sapien porta.
				</p>
				<ul class="list-inline--left">
					<li><a href="#" class="button button--default button--large">Get Started</a></li>
					<li><a href="#" class="button button--outline button--large">Download<i class="fas fa-download"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</header>
<section class="page-section">
	<div class="container-fluid narrow">
		<div class="row">
			<div class="col-sm">
				<div class="card">
					<div class="card__body">
						<div class="heading-5 card__title">This is a card title</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
						<a href="#" class="button button--outline button--block">Download Repository</a>
					</div>
				</div>
			</div>
			<div class="col-sm">
				<div class="card">
					<div class="card__body">
						<div class="heading-5 card__title">This is a card title</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
						<a href="#" class="button button--outline button--block">Download Kit</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>