<header class="hero intro bg-light-1">
	<div class="container-fluid narrow text-center text-center-xs">
		<div class="row">
			<div class="col-md-12 col-lg-8 col-lg-offset-2">
				<h2>Terra Design System</h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam accumsan massa in erat semper, non lobortis sapien porta.
				</p>
				<ul class="list-inline list-inline--center">
					<li><a href="/documentation/getting-started" class="ter-button ter-button--primary ter-button--large">Get Started</a></li>
					<li><a href="https://bitbucket.org/creativestrategy/terra_design_system/src/master/" class="ter-button ter-button--outline ter-button--large">Download</a></li>
				</ul>
			</div>
		</div>
	</div>
</header>
<section class="page-section secondary-nav-trigger">
	<div class="container-fluid narrow">
		<div class="row flex">
			<div class="col-sm flex--vertical-stretch">
				<div class="card">
					<div class="card__body">
						<div class="heading-5 card__title">Terra Sketch UI Kit</div>
						<p>Download the latest UI libraries package from GitHub. </p>
						<a href="/marketing_theme.zip" class="ter-button ter-button--outline ter-button--block">Download Kit</a>
					</div>
				</div>
			</div>
			<div class="col-sm">
				<div class="card">
					<div class="card__body">
						<div class="heading-5 card__title">Code repository</div>
						<p>Download the SCSS and Javascript library from Bitbucket.</p>
						<a href="https://bitbucket.org/creativestrategy/terra_design_system/src/master/" class="ter-button ter-button--outline ter-button--block">Download Repository</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="page-section">
	<div class="container-fluid narrow">
		<div class="row flex">
			<div class="col-sm flex--vertical-stretch">
				<div class="card">
					<div class="card__body">
						<div class="heading-5 card__title">Terra Sketch UI Kit</div>
						<p>Download the latest UI libraries package from GitHub. </p>
						<a href="/marketing_theme.zip" class="ter-button ter-button--outline ter-button--block">Download Kit</a>
					</div>
				</div>
			</div>
			<div class="col-sm">
				<div class="card">
					<div class="card__body">
						<div class="heading-5 card__title">Code repository</div>
						<p>Download the SCSS and Javascript library from Bitbucket.</p>
						<a href="https://bitbucket.org/creativestrategy/terra_design_system/src/master/" class="ter-button ter-button--outline ter-button--block">Download Repository</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="page-section">
	<div class="container-fluid narrow">
		<div class="row flex">
			<div class="col-sm flex--vertical-stretch">
				<div class="card">
					<div class="card__body">
						<div class="heading-5 card__title">Terra Sketch UI Kit</div>
						<p>Download the latest UI libraries package from GitHub. </p>
						<a href="/marketing_theme.zip" class="ter-button ter-button--outline ter-button--block">Download Kit</a>
					</div>
				</div>
			</div>
			<div class="col-sm">
				<div class="card">
					<div class="card__body">
						<div class="heading-5 card__title">Code repository</div>
						<p>Download the SCSS and Javascript library from Bitbucket.</p>
						<a href="https://bitbucket.org/creativestrategy/terra_design_system/src/master/" class="ter-button ter-button--outline ter-button--block">Download Repository</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="page-section">
	<div class="container-fluid narrow">
		<div class="row flex">
			<div class="col-sm flex--vertical-stretch">
				<div class="card">
					<div class="card__body">
						<div class="heading-5 card__title">Terra Sketch UI Kit</div>
						<p>Download the latest UI libraries package from GitHub. </p>
						<a href="/marketing_theme.zip" class="ter-button ter-button--outline ter-button--block">Download Kit</a>
					</div>
				</div>
			</div>
			<div class="col-sm">
				<div class="card">
					<div class="card__body">
						<div class="heading-5 card__title">Code repository</div>
						<p>Download the SCSS and Javascript library from Bitbucket.</p>
						<a href="https://bitbucket.org/creativestrategy/terra_design_system/src/master/" class="ter-button ter-button--outline ter-button--block">Download Repository</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>