<section class="page-section">
	<div class="container-fluid narrow">
		<h4>Basic Example</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
		<div class="markup-panel">
			<div class="panel">
<button type="button" class="button">Default</button>
<button type="button" class="button--danger">Danger</button>
<button type="button" class="button--success">Success</button>
<button type="button" class="button--alert">Alert</button>
<button type="button" class="button--light">Light</button>
<button type="button" class="button--dark">Dark</button>
<button type="button" class="button--outline">Outline</button>
<button type="button" class="button--link">Link</button>
			</div>
			<pre><code class="language-markup"></code></pre>
		</div>
	</div>
</section>
<section class="page-section">
	<div class="container-fluid narrow">
		<h4>Large Button</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
		<div class="markup-panel">
			<div class="panel">
<button type="button" class="button button--large">Default Button</button>
<button type="button" class="button--outline button--large">Outline Button</button>
			</div>
<pre><code class="language-markup"></code></pre>
		</div>
	</div>
</section>
<section class="page-section">
	<div class="container-fluid narrow">
		<h4>Small Button</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
		<div class="markup-panel">
			<div class="panel">
<button type="button" class="button button--small">Default Button</button>
<button type="button" class="button--outline button--small">Outline Button</button>
			</div>
			<pre><code class="language-markup"></code></pre>
		</div>
	</div>
</section>
<section class="page-section">
	<div class="container-fluid narrow">
		<h4>Modifiers</h4> 
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
		<table class="table--border">
			<tr>
				<th>Name</th>
				<th>Description</th>
			</tr>
			<tr>
				<td><pre>.button--danger</pre></td>
				<td>Selector for the danger button styles</td>
			</tr>
			<tr>
				<td><pre>.button--success</pre></td>
				<td>Selector for the success button styles</td>
			</tr>
			<tr>
				<td><pre>.button--alert</pre></td>
				<td>Selector for the alert button styles</td>
			</tr>
			<tr>
				<td><pre>.button--light</pre></td>
				<td>Selector for the light button styles</td>
			</tr>
			<tr>
				<td><pre>.button--dark</pre></td>
				<td>Selector for the dark button styles</td>
			</tr>
			<tr>
				<td><pre>.button--outliner</pre></td>
				<td>Selector for the outline button styles</td>
			</tr>
			<tr>
				<td><pre>.button--link</pre></td>
				<td>Selector for the link button styles</td>
			</tr>
		</table>
	</div>
</section>
<section class="page-section">
	<div class="container-fluid narrow">
		<h4>Mixins</h4> 
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
		<table class="table--border">
			<tr>
				<th>Name</th>
				<th>Parameters</th>
				<th>Description</th>
			</tr>
			<tr>
				<td><pre>button-base()</pre></td>
				<td>bgColor, color, borderColor, bgHoverColor, colorHover</td>
				<td>Defines the base styles that create all buttons</td>
			</tr>
		</table>
	</div>
</section>