<div class="page-section__sub-section">
	<h4>Basic Examples</h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
	<div class="markup-panel">
		<div class="markup-panel__example">
<button type="button" class="ter-button ter-button--primary">Primary</button>
<button type="button" class="ter-button ter-button--danger">Danger</button>
<button type="button" class="ter-button ter-button--success">Success</button>
<button type="button" class="ter-button ter-button--warning">Alert</button>
<button type="button" class="ter-button ter-button--light">Light</button>
<button type="button" class="ter-button ter-button--dark">Dark</button>
<button type="button" class="ter-button ter-button--outline">Outline</button>
<button type="button" class="ter-button ter-button--ghost">Ghost</button>
		</div>
		<pre><code class="language-markup"></code></pre>
	</div>
</div>
<div class="page-section__sub-section">
	<h4>Large Button</h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
	<div class="markup-panel">
		<div class="markup-panel__example">
<button type="button" class="ter-button ter-button--primary ter-button--large">Default Button</button>
<button type="button" class="ter-button ter-button--outline ter-button--large">Outline Button</button>
		</div>
<pre><code class="language-markup"></code></pre>
	</div>
</div>
<div class="page-section__sub-section">
	<h4>Small Button</h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
	<div class="markup-panel">
		<div class="markup-panel__example">
<button type="button" class="ter-button ter-button--primary ter-button--small">Default Button</button>
<button type="button" class="ter-button ter-button--outline ter-button--small">Outline Button</button>
		</div>
		<pre><code class="language-markup"></code></pre>
	</div>
</div>
<div class="page-section__sub-section">
	<h4>Split Button Dropdown</h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
	<div class="markup-panel">
		<div class="markup-panel__example">
<div class="ter-split-button ter-dropdown">
	<button type="button" class="ter-button ter-button--light">Action</button>
	<button data-toggle="dropdown" role="button" class="ter-button ter-button--light dropdown">
		<span class="hidden">Toggle Dropdown</span>
	</button>
	<ul class="ter-dropdown__menu">
		<li class="ter-dropdown__item ter-dropdown__item--no-link">My Account</li>
		<li class="ter-dropdown__item"><a href="#">Preferences</a></li>
		<li class="ter-dropdown__item"><a href="#">Subscriptions</a></li>
		<li class="ter-dropdown__item ter-dropdown__item--separator"></li>
		<li class="ter-dropdown__item"><a href="#">Logout</a></li>
	</ul>
</div>
<div class="ter-split-button ter-dropdown">
	<button type="button" class="ter-button ter-button--outline">Action</button>
	<button data-toggle="dropdown" role="button" class="ter-button ter-button--outline dropdown">
		<span class="hidden">Toggle Dropdown</span>
	</button>
	<ul class="ter-dropdown__menu">
		<li class="ter-dropdown__item ter-dropdown__item--no-link">My Account</li>
		<li class="ter-dropdown__item"><a href="#">Preferences</a></li>
		<li class="ter-dropdown__item"><a href="#">Subscriptions</a></li>
		<li class="ter-dropdown__item ter-dropdown__item--separator"></li>
		<li class="ter-dropdown__item"><a href="#">Logout</a></li>
	</ul>
</div>
		</div>
		<pre><code class="language-markup"></code></pre>
	</div>
</div>