<div class="page-section__sub-section">
	<h4>Basic Example</h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
	<div class="markup-panel">
		<div class="panel">
<button type="button" class="button button--default">Default</button>
<button type="button" class="button button--info">Info</button>
<button type="button" class="button button--danger">Danger</button>
<button type="button" class="button button--success">Success</button>
<button type="button" class="button button--warning">Alert</button>
<button type="button" class="button button--light">Light</button>
<button type="button" class="button button--dark">Dark</button>
<button type="button" class="button button--outline">Outline</button>
<button type="button" class="button button--ghost">Ghost</button>
		</div>
		<pre><code class="language-markup"></code></pre>
	</div>
</div>
<div class="page-section__sub-section">
	<h4>Icon Button</h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
	<div class="markup-panel">
		<div class="panel">
<button type="button" class="button button--info">Save <i class="fas fa-save"></i></button>
<button type="button" class="button button--outline">Download <i class="fas fa-cloud-download-alt"></i></button>
		</div>
<pre><code class="language-markup"></code></pre>
	</div>
</div>
<div class="page-section__sub-section">
	<h4>Large Button</h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
	<div class="markup-panel">
		<div class="panel">
<button type="button" class="button button--default button--large">Default Button</button>
<button type="button" class="button button--outline button--large">Outline Button</button>
		</div>
<pre><code class="language-markup"></code></pre>
	</div>
</div>
<div class="page-section__sub-section">
	<h4>Small Button</h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
	<div class="markup-panel">
		<div class="panel">
<button type="button" class="button button--default button--small">Default Button</button>
<button type="button" class="button button--outline button--small">Outline Button</button>
		</div>
		<pre><code class="language-markup"></code></pre>
	</div>
</div>
<div class="page-section__sub-section">
	<h4>Split Button Dropdown</h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
	<div class="markup-panel">
		<div class="panel">
<div class="split-button dropdown">
	<button type="button" class="button button--info">Action</button>
	<button data-toggle="dropdown" role="button" class="button button--info dropdown">
		<span class="hidden">Toggle Dropdown</span>
	</button>
	<ul class="dropdown-menu">
		<li><a href="#">Dropdown Item</a></li>
		<li><a href="#">Another Item</a></li>
		<li class="separator"></li>
		<li><a href="#">Separated Item</a></li>
	</ul>
</div>
<div class="split-button dropdown">
	<button type="button" class="button button--outline">Action</button>
	<button data-toggle="dropdown" role="button" class="button button--outline dropdown">
		<span class="hidden">Toggle Dropdown</span>
	</button>
	<ul class="dropdown-menu">
		<li><a href="#">Dropdown Item</a></li>
		<li><a href="#">Another Item</a></li>
		<li class="separator"></li>
		<li><a href="#">Separated Item</a></li>
	</ul>
</div>
		</div>
		<pre><code class="language-markup"></code></pre>
	</div>
</div>