<div class="page-section__sub-section">
	<p>Notifications are used to display messages to the user, that will float on a higher pane on your app. These are generally used for status messages on the fly.
	<h4>Basic Examples</h4>
	<div class="markup-panel">
		<div class="markup-panel__example">
<div class="ter-notification ter-notification--primary" role="notification">
	<button type="button" class="ter-notification__close" aria-label="Close">
		<span aria-hidden="true"><i class="fas fa-times"></i></span>
	</button>
	<div class="ter-notification__body">
		This is a basic notification
	</div>
</div>
<div class="ter-notification ter-notification--secondary" role="notification">
	<button type="button" class="ter-notification__close" aria-label="Close">
		<span aria-hidden="true"><i class="fas fa-times"></i></span>
	</button>
	<div class="ter-notification__body">
		This is a secondary notification
	</div>
</div>
		</div>
		<pre><code class="language-markup"></code></pre>
	</div>
</div>

<div class="page-section__sub-section">
	<h4>Notification Variants</h4>
	<div class="markup-panel">
		<div class="markup-panel__example">
<div class="ter-notification ter-notification--danger" role="notification">
	<button type="button" class="ter-notification__close" aria-label="Close">
		<span aria-hidden="true"><i class="fas fa-times"></i></span>
	</button>
	<div class="ter-notification__body">
		This is a danger notification
	</div>
</div>
<div class="ter-notification ter-notification--success" role="notification">
	<button type="button" class="ter-notification__close" aria-label="Close">
		<span aria-hidden="true"><i class="fas fa-times"></i></span>
	</button>
	<div class="ter-notification__body">
		This is a success notification
	</div>
</div>
<div class="ter-notification ter-notification--warning" role="notification">
	<button type="button" class="ter-notification__close" aria-label="Close">
		<span aria-hidden="true"><i class="fas fa-times"></i></span>
	</button>
	<div class="ter-notification__body">
		This is a warning notification
	</div>
</div>
<div class="ter-notification ter-notification--dark" role="notification">
	<button type="button" class="ter-notification__close" aria-label="Close">
		<span aria-hidden="true"><i class="fas fa-times"></i></span>
	</button>
	<div class="ter-notification__body">
		This is a dark notification
	</div>
</div>
<div class="ter-notification ter-notification--light" role="notification">
	<button type="button" class="ter-notification__close" aria-label="Close">
		<span aria-hidden="true"><i class="fas fa-times"></i></span>
	</button>
	<div class="ter-notification__body">
		This is a light notification
	</div>
</div>
		</div>
		<pre><code class="language-markup"></code></pre>
	</div>
</div>