<div class="page-section__sub-section">
	<h4>Basic Example</h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
	<div class="markup-panel">
		<div class="markup-panel__example">
<div class="ter-notification ter-notification--primary" role="notification">
	<button type="button" class="ter-notification__close" aria-label="Close">
		<span aria-hidden="true"><i class="fas fa-times"></i></span>
	</button>
	<div class="ter-notification__body">
		This is a basic notification
	</div>
</div>
		</div>
		<pre><code class="language-markup"></code></pre>
	</div>
</div>

<div class="page-section__sub-section">
	<h4>Notification Variantions</h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
	<div class="markup-panel">
		<div class="markup-panel__example">
<div class="ter-notification ter-notification--danger" role="notification">
	<button type="button" class="ter-notification__close" aria-label="Close">
		<span aria-hidden="true"><i class="fas fa-times"></i></span>
	</button>
	<div class="ter-notification__body">
		This is a danger notification
	</div>
</div>
<div class="ter-notification ter-notification--success" role="notification">
	<button type="button" class="ter-notification__close" aria-label="Close">
		<span aria-hidden="true"><i class="fas fa-times"></i></span>
	</button>
	<div class="ter-notification__body">
		This is a success notification
	</div>
</div>
<div class="ter-notification ter-notification--warning" role="notification">
	<button type="button" class="ter-notification__close" aria-label="Close">
		<span aria-hidden="true"><i class="fas fa-times"></i></span>
	</button>
	<div class="ter-notification__body">
		This is a warning notification
	</div>
</div>
		</div>
		<pre><code class="language-markup"></code></pre>
	</div>
</div>