<div class="page-section__sub-section">
	<h4>Basic Example</h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
	<div class="markup-panel">
		<div class="panel">
<div class="notification notification--default" role="notification">
	<button type="button" class="notification__close" aria-label="Close">
		<span aria-hidden="true"><i class="fas fa-times"></i></span>
	</button>
	<div class="notification__content">
		This is a basic notification
		<hr />
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
	</div>
</div>
		</div>
		<pre><code class="language-markup"></code></pre>
	</div>
</div>

<div class="page-section__sub-section">
	<h4>Notification Variantions</h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
	<div class="markup-panel">
		<div class="panel">
<div class="notification notification--danger" role="notification">
	<button type="button" class="notification__close" aria-label="Close">
		<span aria-hidden="true"><i class="fas fa-times"></i></span>
	</button>
	<div class="notification__content">
		This is a danger notification
	</div>
</div>
<div class="notification notification--success" role="notification">
	<button type="button" class="notification__close" aria-label="Close">
		<span aria-hidden="true"><i class="fas fa-times"></i></span>
	</button>
	<div class="notification__content">
		This is a success notification
	</div>
</div>
<div class="notification notification--warning" role="notification">
	<button type="button" class="notification__close" aria-label="Close">
		<span aria-hidden="true"><i class="fas fa-times"></i></span>
	</button>
	<div class="notification__content">
		This is a warning notification
	</div>
</div>
		</div>
		<pre><code class="language-markup"></code></pre>
	</div>
</div>