<div class="page-section__sub-section">
	<h4>Color Palette</h4>
	<div class="row">
		<div class="col-md-12 col-lg-8">
			<p>Considering accessibility in web development is crucial to ensure that any visitor to a site, regardless of impairment, has access to the same content and information. There are </p>
		</div>
	</div>
</div>
<div class="page-section__sub-section">
	<h5>Brand Colors</h5>
	<div class="row">
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
			<div class="color-swatch">
				<div class="color-swatch__color bg-brand-1"></div>
				<div class="color-swatch__label">Brand 1</div>
				<div class="color-swatch__hex">#009AD9</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
			<div class="color-swatch">
				<div class="color-swatch__color bg-brand-2"></div>
				<div class="color-swatch__label">Brand 2</div>
				<div class="color-swatch__hex">#FFBE00</div>
			</div>
		</div>
	</div>
</div>
<div class="page-section__sub-section">
	<h5>Emotive Colors</h5>
	<div class="row">
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
			<div class="color-swatch">
				<div class="color-swatch__color bg-danger"></div>
				<div class="color-swatch__label">Danger</div>
				<div class="color-swatch__hex">#F57362</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
			<div class="color-swatch">
				<div class="color-swatch__color bg-success"></div>
				<div class="color-swatch__label">Success</div>
				<div class="color-swatch__hex">#C0F57A</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
			<div class="color-swatch">
				<div class="color-swatch__color bg-warning"></div>
				<div class="color-swatch__label">Warning</div>
				<div class="color-swatch__hex">#FFF172</div>
			</div>
		</div>
	</div>
</div>
<div class="page-section__sub-section">
	<h5>Grayscale</h5>
	<div class="row">
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
			<div class="color-swatch">
				<div class="color-swatch__color bg-white"></div>
				<div class="color-swatch__label">White</div>
				<div class="color-swatch__hex">#ffffff</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
			<div class="color-swatch">
				<div class="color-swatch__color bg-light-0"></div>
				<div class="color-swatch__label">Light 0</div>
				<div class="color-swatch__hex">#f9f9fb</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
			<div class="color-swatch">
				<div class="color-swatch__color bg-light-1"></div>
				<div class="color-swatch__label">Light 1</div>
				<div class="color-swatch__hex">#f3f3f7</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
			<div class="color-swatch">
				<div class="color-swatch__color bg-gray-0"></div>
				<div class="color-swatch__label">Gray 0</div>
				<div class="color-swatch__hex">#eaeaef</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
			<div class="color-swatch">
				<div class="color-swatch__color bg-gray-1"></div>
				<div class="color-swatch__label">Gray 1</div>
				<div class="color-swatch__hex">#e2e2e7</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
			<div class="color-swatch">
				<div class="color-swatch__color bg-gray-2"></div>
				<div class="color-swatch__label">Gray 2</div>
				<div class="color-swatch__hex">#d0d0d7</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
			<div class="color-swatch">
				<div class="color-swatch__color bg-gray-3"></div>
				<div class="color-swatch__label">Gray 3</div>
				<div class="color-swatch__hex">#bfbfc6</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
			<div class="color-swatch">
				<div class="color-swatch__color bg-gray-4"></div>
				<div class="color-swatch__label">Gray 4</div>
				<div class="color-swatch__hex">#aeaeb6</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
			<div class="color-swatch">
				<div class="color-swatch__color bg-gray-5"></div>
				<div class="color-swatch__label">Gray 5</div>
				<div class="color-swatch__hex">#9d9da6</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
			<div class="color-swatch">
				<div class="color-swatch__color bg-gray-6"></div>
				<div class="color-swatch__label">Gray 6</div>
				<div class="color-swatch__hex">#8c8b96</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
			<div class="color-swatch">
				<div class="color-swatch__color bg-gray-7"></div>
				<div class="color-swatch__label">Gray 7</div>
				<div class="color-swatch__hex">#7b7a86</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
			<div class="color-swatch">
				<div class="color-swatch__color bg-gray-8"></div>
				<div class="color-swatch__label">Gray 8</div>
				<div class="color-swatch__hex">#6a6976</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
			<div class="color-swatch">
				<div class="color-swatch__color bg-gray-9"></div>
				<div class="color-swatch__label">Gray 9</div>
				<div class="color-swatch__hex">#595868</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
			<div class="color-swatch">
				<div class="color-swatch__color bg-gray-10"></div>
				<div class="color-swatch__label">Gray 10</div>
				<div class="color-swatch__hex">#474655</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
			<div class="color-swatch">
				<div class="color-swatch__color bg-dark-0"></div>
				<div class="color-swatch__label">Dark 0</div>
				<div class="color-swatch__hex">#363545</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
			<div class="color-swatch">
				<div class="color-swatch__color bg-dark-1"></div>
				<div class="color-swatch__label">Dark 1</div>
				<div class="color-swatch__hex">#31393C</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
			<div class="color-swatch">
				<div class="color-swatch__color bg-dark-2"></div>
				<div class="color-swatch__label">Dark 2</div>
				<div class="color-swatch__hex">#1b1a26</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
			<div class="color-swatch">
				<div class="color-swatch__color bg-dark-3"></div>
				<div class="color-swatch__label">Dark 3</div>
				<div class="color-swatch__hex">#0b0a12</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
			<div class="color-swatch">
				<div class="color-swatch__color bg-black"></div>
				<div class="color-swatch__label">Black</div>
				<div class="color-swatch__hex">#000000</div>
			</div>
		</div>
	</div>
</div>