<div class="page-section__sub-section">
	<h4>Overview</h4>
	<div class="row">
		<div class="col-xs-12 col-lg-8">
			<p>This site provides a set of resources for designers and developers which includes:</p>
			<ul>
				<li>Sketch files with common components and grids</li>
				<li>Guidelines on structure and typographic rules</li>
				<li>CSS, HTML and JS files for our framework</li>
			</ul>
		</div>
	</div>
</div>