<section class="page-section">
  <div class="container-fluid narrow">
    <h4>Basic Example</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
    <div class="markup-panel">
      <div class="panel">
<nav role="navigation">
  <ol class="breadcrumb">
    <li><a href="/">Parent</a></li>
    <li><a href="/">Sub-page</a></li>
    <li><a href="/">Sub-sub-page</a></li>
  </ol>
</nav>
      </div>
      <pre><code class="language-markup"></code></pre>
    </div>
  </div>
</section>