<div class="page-section__sub-section">
	<h4>Basic Example</h4>
	<p>Modal's are structured with the <code>.ter-modal</code> class. There is a close button that will close the modal. Clicking outside of the modal will also close the component.</p>
	<div class="markup-panel">
		<div class="markup-panel__example">
<div class="ter-modal">
	<div class="ter-modal__wrap">
		<button type="button" class="ter-modal__close" aria-label="Close" data-close="modal"></button>
		<div class="ter-modal__content">
			<div class="ter-modal__title">Modal title</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
			<ul class="list-inline list-inline--left">
				<li><a href="#" class="ter-button ter-button--primary">Primary Action</a></li>
				<li><a href="#" class="ter-button ter-button--outline">Secondary Action</a></li>
			</ul>
		</div>
	</div>
</div>
		</div>
		<pre><code class="language-markup"></code></pre>
	</div>
</div>
<div class="page-section__sub-section">
	<h4>Live Preview</h4>
	<p>Modal triggers will take two attributes: <code>data-toggle="modal"</code> and <code>data-target</code>. <code>data-target</code> accepts a unique ID of the modal it will trigger.</p>
	<div class="markup-panel">
		<div class="markup-panel__example">
<!-- trigger -->
<button type="button" class="ter-button ter-button--primary" aria-label="Open" data-toggle="modal" data-target="#modal-1">Open Modal</button>

<!-- modal -->
<div class="ter-modal--full-page" role="dialog" id="modal-1">
	<div class="ter-modal">
		<div class="ter-modal__wrap">
			<button type="button" class="ter-modal__close" aria-label="Close" data-close="modal"></button>
			<div class="ter-modal__content">
				<div class="ter-modal__title">Modal title</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
				<ul class="list-inline list-inline--left">
					<li><a href="#" class="ter-button ter-button--primary">Primary Action</a></li>
					<li><a href="#" class="ter-button ter-button--outline">Secondary Action</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
		</div>
		<pre><code class="language-markup"></code></pre>
	</div>
</div>