<header class="hero hero--intro">
	<div class="container-fluid wrap">
		<div class="row">
			<div class="col-xs-12 col-sm-6 text-center-xs">
				<div class="heading-mega">Think in 3D.<br />Draw in 3D.</div>
				<p class="font-size-2">
					SketchUp Pro 2018.<br />
					Have some fun while you're at it.
				</p>
				<ul class="list-inline--left">
					<li><a href="/pricing" class="button button--large">Get SketchUp</a></li>
					<li><a href="#" class="button--outline button--large">What's New</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="dimensional-asset">
		<img src="/assets/sketchup/intro-3d-figure.png" alt="SketchUp" />
	</div>
</header>
<section class="featurette bg-trimble-gray-1">
	<div class="container-fluid wrap">
		<div class="row">
			<div class="featurette__showcase-image--left">
				<img src="/assets/sketchup/product/product-1.jpg" alt="SketchUp" />
			</div>
			<div class="featurette__content--right">
				<div class="heading-2">Get Good Fast</div>
				<p>There’s a reason SketchUp is synonymous with friendly and forgiving 3D modeling software: we don’t sacrifice usability for the sake of functionality. Start by drawing lines and shapes. Push and pull surfaces to turn them into 3D forms. Stretch, copy, rotate and paint to make anything you like</p>
				<ul class="list-inline--left">
					<li><a href="#" class="button">Learn More</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>
<section class="featurette inverse" style="background-image: url(/assets/sketchup/intro-bg--blue.jpg);">
	<div class="container-fluid wrap">
		<div class="row">
			<div class="col-sm-12 text-center">
				<div class="heading-2 color-white">Find a 3D model of anything</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<form>
					<div class="input-group">
						<div class="input-wrap input-lg">
				        	<input class="focus-effect" type="text" placeholder="">
				        	<label>Search</label>
				            <i class="fi flaticon-magnifying-glass"></i>
				            <span class="focus-border"></span>
				        </div>
			        </div>
				</form>
			</div>
		</div>
	</div>
</section>
<section class="featurette bg-trimble-gray-1">
	<div class="container-fluid wrap">
		<div class="row">
			<div class="featurette__showcase-image--right">
				<img src="/assets/sketchup/product/product-1.jpg" alt="SketchUp" />
			</div>
			<div class="featurette__content--left">
				<div class="heading-2">Turn Models Into Documents</div>
				<p>At some point in most 3D projects, you’ll need to turn your model into a drawing set that gets the point across. LayOut in SketchUp Pro lets you add model views to pages, choose drawing scales, adjust line weights, and add dimensions, callouts, and graphics. Make a change to your SketchUp model, and find it reflected automatically in LayOut. And when it’s time, export pages as PDFs, images and CAD files.</p>
				<ul class="list-inline--left">
					<li><a href="#" class="button">Learn More</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>