<header class="hero hero--intro">
	<div class="container-fluid wrap">
		<div class="row">
			<div class="col-xs-12 col-sm-6 text-center-xs">
				<div class="heading-mega">The easiest way to draw in 3D.</div>
				<p class="font-size-2">
					Say hello to SketchUp Free: 3D modeling in a web browser
				</p>
				<ul class="list-inline--left">
					<li><a href="/pricing" class="button">Start Modeling</a></li>
					<li><a href="#" class="button--outline">Explore SketchUp Shop</a></li>
				</ul>
			</div>
		</div>
	</div>
</header>
<section class="featurette">
	<div class="container-fluid wrap">
		<div class="row">
			<div class="featurette__showcase-image--left">
				<img src="/assets/sketchup/product/product-1.jpg" alt="SketchUp" />
			</div>
			<div class="featurette__content--right">
				<div class="heading-2">What is SketchUp Free?</div>
				<p>SketchUp Free is the easiest way to draw in 3D, now delivered in a web browser. Draw, orbit, push-pull: make anything you can imagine, however you envision it.</p>
			</div>
		</div>
	</div>
</section>
<section class="featurette inverse" style="background-image: url(/assets/sketchup/intro-bg--blue.jpg);">
	<div class="container-fluid wrap">
		<div class="row">
			<div class="col-sm-12 text-center">
				<div class="heading-2">Find a 3D model of anything <i class="flaticon-magnifying-glass"></i></div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<form>
					<div class="input-group">
			        	<input class="effect-16 input-lg" type="text" placeholder="">
			        	<label>Search 3D Warehouse</label>
			        	<i class="flaticon-magnifying-glass"></i>
			            <span class="focus-border"></span>
			        </div>
				</form>
			</div>
		</div>
	</div>
</section>
<section class="featurette">
	<div class="container-fluid wrap">
		<div class="row">
			<div class="featurette__showcase-image--right">
				<img src="/assets/sketchup/product/product-1.jpg" alt="SketchUp" />
			</div>
			<div class="featurette__content--left">
				<div class="heading-2">Simple is Powerful</div>
				<p>SketchUp is useful from the earliest stages of design to the end of construction. Programming, diagramming, design development, detailing, documentation, RFIs—wherever you need drawings, you need SketchUp Pro.</p>
			</div>
		</div>
	</div>
</section>
<section class="featurette inverse" style="background-image: url(/assets/sketchup/intro-bg--blue.jpg);">
	<div class="container-fluid wrap">
		<div class="row">
			<div class="col-sm-12 text-center">
				<div class="heading-2">Join the gang</div>
				<ul class="list-inline--left">
					<li><a href="/pricing" class="button">Buy SketchUp Pro</a></li>
					<li><a href="#" class="button--outline--white">Renew a license</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>