<div class="page-section__sub-section">
	<h4>Overview</h4>
	<div class="row">
		<div class="col-md-12 col-lg-8">
			<p>Considering accessibility in web development is crucial to ensure that any visitor to a site, regardless of impairment, has access to the same content and information. There are </p>
			<p>Websites and products must be accessible for all users, regardless of impairment.</p>
		</div>
	</div>
</div>
<div class="page-section__sub-section">
	<h4>Accessibility in Design</h4>
	<div class="row">
		<div class="col-md-12 col-lg-8">
			<p><b>Information Hierarchy</b></p>
			<p>Positioning content in a logical, consistent hierarchy ensures that users employing screen readers will be able to quickly move through different sections. The most important information should always be above the fold - users shouldn't have to search through a page to find key content.</p>
			<ul>
				<li>Headers should not skip levels: H3 should never appear before an H1 and so-on.</li>
				<li>Always provide a sitemap. It helps users visualize the structure of a complicated site, as well as provides an alternative form of navigation that may be more accessible for some users.</li>
				<li>Every web page should perform fully when used with a keyboard (or something similar), and no mouse.</li>
				<li>At the very least, always make sure that the most important tasks in a site or product are accessible for anyone.</li>
			</ul>
			<p><b>Typography</b></p>
			<p>If a site or product has poor readability, it loses much of its purpose and can leave users feeling lost. There are several universal guidelines to consider when deciding on font faces, type scales and other parts of typography on the web.</p>
			<ul>
				<li>Many users with visual impairments or disabilities use screen magnifiers in order to increase the readability of content. <b>Never</b> use absolute font sizes, as this defeats the purpose of using a magnifier.</li>
				<li>In general, sans-serif fonts are easier to distinguish, especially in long paragraphs of text.</li>
				<li>Condensed fonts should be used with caution, as they can quickly become less accessible when used in excess</li>
				<li>Body copy should never be less than 16px, and lines should never contain more than 75 characters for ease of readability</li>
			</ul>
		</div>
	</div>
</div>