<div class="page-section__sub-section">
	<h4>Overview</h4>
	<div class="row">
		<div class="col-md-12 col-lg-8">
			<p>There are four levels of z-depth used with molecules in Terra. The box shadows are represented and named below as: X Y Blur Spread rgba(0,0,0,0). Each shadow is actually comprised of two separate shadows, to create a more natural effect.</p>
		</div>
	</div>
</div>
<div class="page-section__sub-section">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
			<div class="depth-box depth-1">
				<span>.depth-1</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
			<div class="depth-box depth-2">
				<span>.depth-2</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
			<div class="depth-box depth-3">
				<span>.depth-3</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
			<div class="depth-box depth-4">
				<span>.depth-4</span>
			</div>
		</div>
	</div>
</div>