{{!-- <div class="page-section__sub-section">
	<h4>Basic Example</h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
	<div class="markup-panel">
		<div class="markup-panel__example">
<div class="ter-accordion">
    <a class="ter-accordion__heading" data-target="#accordion-1">Customer Service</a>
    <div id="accordion-1" class="ter-accordion__collapse">
        <div class="ter-accordion__collapse__content">
            <p>Lorem ipsum dolor amet fixie food truck before they sold out, iPhone hell of chia actually portland cliche whatever microdosing vice keffiyeh mustache. Banh mi mustache unicorn XOXO lyft palo santo yr polaroid next level literally microdosing tousled. Dreamcatcher squid stumptown activated charcoal poutine marfa meggings four loko single-origin coffee semiotics readymade hammock lumbersexual live-edge normcore. Gastropub salvia synth messenger bag. Adaptogen kale chips stumptown normcore vexillologist hoodie.</p>
        </div>
    </div>
</div>
		</div>
		<pre><code class="language-markup"></code></pre>
	</div>
</div> --}}
<div class="page-section__sub-section">
	<h4>Basic Example</h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
	<div class="markup-panel">
		<div class="markup-panel__example">
<div class="ter-accordion">
	<button class="ter-accordion__heading" data-toggle="collapse" data-target="#accordion-1">Customer Service</button>
	<div id="accordion-1" class="ter-accordion__content">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
	</div>
</div>
		</div>
		<pre><code class="language-markup"></code></pre>
	</div>
</div>
<div class="page-section__sub-section">
	<h4>Accordion Group</h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
	<div class="markup-panel">
		<div class="markup-panel__example">
<div class="ter-accordion-group">
	<div class="ter-accordion is-expanded">
		<button class="ter-accordion__heading" data-toggle="collapse" data-target="#accordion-1">Customer Service</button>
		<div id="accordion-1" class="ter-accordion__content">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
		</div>
	</div>
	<div class="ter-accordion">
		<button class="ter-accordion__heading" data-toggle="collapse" data-target="#accordion-2">Customer Service</button>
		<div id="accordion-2" class="ter-accordion__content">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
		</div>
	</div>
	<div class="ter-accordion">
		<button class="ter-accordion__heading" data-toggle="collapse" data-target="#accordion-3">Customer Service</button>
		<div id="accordion-3" class="ter-accordion__content">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
		</div>
	</div>
</div>
		</div>
		<pre><code class="language-markup"></code></pre>
	</div>
</div>