<section class="page-section">
	<div class="container-fluid narrow">
		<h4>Basic Example</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
		<div class="markup-panel">
			<div class="panel">
<div class="accordion">
    <a class="accordion__heading" data-target="#accordion-1">Customer Service</a>
    <div id="accordion-1" class="accordion__collapse">
        <div class="accordion__collapse__content">
            <p>Lorem ipsum dolor amet fixie food truck before they sold out, iPhone hell of chia actually portland cliche whatever microdosing vice keffiyeh mustache. Banh mi mustache unicorn XOXO lyft palo santo yr polaroid next level literally microdosing tousled. Dreamcatcher squid stumptown activated charcoal poutine marfa meggings four loko single-origin coffee semiotics readymade hammock lumbersexual live-edge normcore. Gastropub salvia synth messenger bag. Adaptogen kale chips stumptown normcore vexillologist hoodie.</p>
        </div>
    </div>
</div>
			</div>
			<pre><code class="language-markup"></code></pre>
		</div>
	</div>
</section>
<section class="page-section">
	<div class="container-fluid narrow">
		<h4>Accordion Group</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
		<div class="markup-panel">
			<div class="panel">
<div class="accordion-group">
	<div class="accordion expanded">
	    <a class="accordion__heading" data-target="#accordion-1">Customer Service</a>
	    <div id="accordion-1" class="accordion__collapse">
	        <div class="accordion__collapse__content">
	            <p>Lorem ipsum dolor amet fixie food truck before they sold out, iPhone hell of chia actually portland cliche whatever microdosing vice keffiyeh mustache. Banh mi mustache unicorn XOXO lyft palo santo yr polaroid next level literally microdosing tousled. Dreamcatcher squid stumptown activated charcoal poutine marfa meggings four loko single-origin coffee semiotics readymade hammock lumbersexual live-edge normcore. Gastropub salvia synth messenger bag. Adaptogen kale chips stumptown normcore vexillologist hoodie.</p>
	        </div>
	    </div>
	</div>
    <div class="accordion">
	    <a class="accordion__heading" data-target="#accordion-2">Customer Service</a>
	    <div id="accordion-2" class="accordion__collapse">
	        <div class="accordion__collapse__content">
	            <p>Lorem ipsum dolor amet fixie food truck before they sold out, iPhone hell of chia actually portland cliche whatever microdosing vice keffiyeh mustache. Banh mi mustache unicorn XOXO lyft palo santo yr polaroid next level literally microdosing tousled. Dreamcatcher squid stumptown activated charcoal poutine marfa meggings four loko single-origin coffee semiotics readymade hammock lumbersexual live-edge normcore. Gastropub salvia synth messenger bag. Adaptogen kale chips stumptown normcore vexillologist hoodie.</p>
	        </div>
	    </div>
	</div>
	<div class="accordion">
	    <a class="accordion__heading" data-target="#accordion-3">Customer Service</a>
	    <div id="accordion-3" class="accordion__collapse">
	        <div class="accordion__collapse__content">
	            <p>Lorem ipsum dolor amet fixie food truck before they sold out, iPhone hell of chia actually portland cliche whatever microdosing vice keffiyeh mustache. Banh mi mustache unicorn XOXO lyft palo santo yr polaroid next level literally microdosing tousled. Dreamcatcher squid stumptown activated charcoal poutine marfa meggings four loko single-origin coffee semiotics readymade hammock lumbersexual live-edge normcore. Gastropub salvia synth messenger bag. Adaptogen kale chips stumptown normcore vexillologist hoodie.</p>
	        </div>
	    </div>
	</div>
</div>
			</div>
			<pre><code class="language-markup"></code></pre>
		</div>
	</div>
</section>