<div class="page-section__sub-section">
	<h4>Basic Example</h4>
	<p>Accordions utilize the collapse module which allows triggers to toggle conrtent in a view. The <code>data-toggle</code> attribute enables the collapse module. The <code>data-target</code> attribute declares which element will be toggled. In this example, the <code>#accordion-1</code> element is being selected.</p>
	<div class="markup-panel">
		<div class="markup-panel__example">
<div class="ter-accordion">
	<button class="ter-accordion__heading" data-toggle="collapse" data-target="#accordion-1">Customer Service</button>
	<div id="accordion-1" class="ter-accordion__content">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
	</div>
</div>
		</div>
		<pre><code class="language-markup"></code></pre>
	</div>
</div>
<div class="page-section__sub-section">
	<h4>Accordion Group</h4>
	<p>By grouping accordions together, they will visually appear grouped, and functionally, only one will be able to appear opened at a time. Accordion groups are wrapped in a <code>.ter-accordion-group</code> element.</p>
	<p>To have an accordion open by default, add a <code>.is-expanded</code> class to the <code>.ter-accordion</code> element.
	<div class="markup-panel">
		<div class="markup-panel__example">
<div class="ter-accordion-group">
	<div class="ter-accordion is-expanded">
		<button class="ter-accordion__heading" data-toggle="collapse" data-target="#accordion-1">Customer Service</button>
		<div id="accordion-1" class="ter-accordion__content">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
		</div>
	</div>
	<div class="ter-accordion">
		<button class="ter-accordion__heading" data-toggle="collapse" data-target="#accordion-2">Customer Service</button>
		<div id="accordion-2" class="ter-accordion__content">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
		</div>
	</div>
	<div class="ter-accordion">
		<button class="ter-accordion__heading" data-toggle="collapse" data-target="#accordion-3">Customer Service</button>
		<div id="accordion-3" class="ter-accordion__content">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
		</div>
	</div>
</div>
		</div>
		<pre><code class="language-markup"></code></pre>
	</div>
</div>