<section class="page-section">
	<div class="container-fluid narrow">
		<h4>Basic Example</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
		<div class="markup-panel">
			<div class="panel">
				<div class="accordion" style="max-width: 350px;">
					<a class="accordion__heading" data-target="#example">Content Section</a>
					<div id="example" class="accordion__content">
						<p>test</p>
					</div>
		        </div>
			</div>
			<pre><code class="language-markup">&lt;div class=&quot;input-group&quot;&gt;
	&lt;div class=&quot;input-wrap&quot;&gt;
    	&lt;input class=&quot;focus-effect&quot; type=&quot;text&quot; placeholder=&quot;&quot;&gt;
        &lt;label&gt;Input Label&lt;/label&gt;
        &lt;span class=&quot;focus-border&quot;&gt;&lt;/span&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
		</div>
	</div>
</section>
<section class="page-section">
	<div class="container-fluid narrow">
		<h4>Mixins</h4> 
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
		<table class="table--border">
			<tr>
				<th>Name</th>
				<th>Parameters</th>
				<th>Description</th>
			</tr>
			<tr>
				<td><pre>input-base()</pre></td>
				<td>none</td>
				<td>Defines the base styles for all input fields</td>
			</tr>
		</table>
	</div>
</section>