/*

  DROPDOWNS

*/

.dropdown {
  position: relative;
  > .dropdown-menu {
    @include box-shadow-2;
    // border: 1px solid var(--color-trimble-gray-3);
    width: 12.5em;
    position: absolute;
    top: 100%;
    padding: var(--spacing-small);
    left: 0;
    visibility: hidden;
    opacity: 0;
    float: left;
    text-align: left;
    list-style: none;
    transform: translateY(-20px);
    transition: all 225ms;
    background: var(--color-white);
    li {
      a {
        color: var(--color-trimble-gray-10);
        &:hover {
          color: var(--color-trimble-gray-10--darker);
        }
      }
      ul {
      }
    }
    &.show {
      display: block;
    }
  }
  &.open {
    > .dropdown-menu {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }
  }
}