.hero {
	padding-top: var(--spacing-extra-extra-large);
	padding-bottom: var(--spacing-extra-extra-large);
	p {
		@include font-size(1)
	}
}

.hero.intro {
	padding-top: var(--spacing-extra-extra-extra-large);
	padding-bottom: var(--spacing-extra-extra-extra-large);
	background-size: cover;
	background-position: center center;
}