/*

  NAVIGATION

*/

.main-nav {
	@include transition(all .5s ease);
	@extend .bg-white;
	position: fixed;
	top: 0;
	display: block;
	width: 100%;
	height: 5.25rem;
	[class^='container'] {
		&:after {
			content: '';
			display: block;
			clear: both;
		}
		.logo {
			float: left;
			padding-top: 1.25rem;
			> a {
				> img {
					@extend .height-2;
				}
			}
		}
		> ul {
			float: right;
			margin-top: var(--spacing-small);
			margin-bottom: var(--spacing-small);
			> li {
				display: inline-block;
				padding-left: var(--spacing-small);
				padding-right: var(--spacing-small);
				> a {
					margin: 0;
					line-height: 3.5rem;
				}
			}
		}
	}
	&.is-hidden {
		transform: translateY(-100%);
	}
}