<div class="page-section__sub-section">
	<h4>Display Classes</h4>
	<p>Terra's responsive set of display utility classes allows full control over the display property of objects across various screen sizes.</p>
	<p>
		For all screen sizes: <code>.d-{property}</code><br />
		For <code>sm</code>, <code>md</code> and <code>lg</code> screens: <code>.d-{breakpoint}-{property}</code><br />
	</p>
	<p>Where <code>{breakpoint}</code> is one of the following:</p>
	<ul class="list-condensed">
		<li><code>sm</code> for small screen sizes and up</li>
		<li><code>md</code> for medium screen sizes and up</li>
		<li><code>lg</code> for large screen sizes and up</li>
	</ul>
	<p>Where <code>{property}</code> is one of the following:</p>
	<ul class="list-condensed">
		<li><code>inline</code></li>
		<li><code>inline-block</code></li>
		<li><code>block</code></li>
		<li><code>flex</code></li>
		<li><code>inline-flex</code></li>
		<li><code>table</code></li>
		<li><code>table-cell</code></li>
		<li><code>table-row</code></li>
		<li><code>none</code></li>
	</ul>
</div>
<div class="page-section__sub-section">
	<h4>Basic Usage</h4>
	<div class="markup-panel">
		<div class="markup-panel__example">
<div class="d-block pad-xs bg-dark color-light">
	.d-block
</div>
<div class="d-block pad-xs bg-light color-dark">
	.d-block
</div>
		</div>
		<pre><code class="language-markup"></code></pre>
	</div>
	<div class="markup-panel">
		<div class="markup-panel__example">
<div class="d-inline-block pad-xs bg-dark color-light">
	.d-inline-block
</div>
<div class="d-inline-block pad-xs bg-light color-dark">
	.d-inline-block
</div>
		</div>
		<pre><code class="language-markup"></code></pre>
	</div>
</div>
<div class="page-section__sub-section">
	<h4>Responsive Usage</h4>
	<div class="markup-panel">
		<div class="markup-panel__example">
<div class="d-block d-md-inline-block pad-xs bg-dark color-light">
	.d-block .d-md-inline-block
</div>
<div class="d-inline-block d-md-block pad-xs bg-light color-dark">
	.d-inline-block .d-md-block
</div>
		</div>
		<pre><code class="language-markup"></code></pre>
	</div>
</div>