<section class="featurette">
	<div class="container-fluid wrap">
		<div class="row">
			<div class="col-sm-12">
				<div class="text-center">
					<div class="heading-mega">404</div>
					<p class="font-size-1">You look lost. But there is another way out.</p>
					<a class="button" href="/documentation/getting-started">Get Started</a>
				</div>
			</div>
		</div>
	</div>
</section>