<section class="featurette">
	<div class="container-fluid wrap">
		<div class="row">
			<div class="col-sm-12">
				<div class="text-center">
					<h1>404</h1>
					<p>You look lost. But there is another way out.</p>
					<a class="button" href="/pricing">Get SketchUp</a>
				</div>
			</div>
		</div>
	</div>
</section>