<div class="page-section__sub-section">
	<h4>Overview</h4>
	<div class="row">
		<div class="col-md-12 col-lg-8">
			<p>Terra Structure is made up of two different types of spacing blocks. Molecule Blocks (green) are used to define margins and padding within indiviudal molecules and organisms. Page Blocks (multi-colored) define the spacing between multiple elements at a page level. Because we have not defined pages or themes yet, Page Blocks are not used anywhere in Terra but this page.</p>
		</div>
	</div>
</div>
<div class="page-section__sub-section">
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<p><b>Molecule Blocks</b></p>
			<div class="structure-block structure-block--molecule">
				<label>4px</label>
				<div class="structure-block__box" style="width: 4px; height: 4px;">
				</div>
			</div>
			<div class="structure-block structure-block--molecule">
				<label>8px</label>
				<div class="structure-block__box" style="width: 8px; height: 8px;">
				</div>
			</div>
			<div class="structure-block structure-block--molecule">
				<label>12px</label>
				<div class="structure-block__box" style="width: 12px; height: 12px;">
				</div>
			</div>
			<div class="structure-block structure-block--molecule">
				<label>16px</label>
				<div class="structure-block__box" style="width: 16px; height: 16px;">
				</div>
			</div>
			<div class="structure-block structure-block--molecule">
				<label>24px</label>
				<div class="structure-block__box" style="width: 24px; height: 24px;">
				</div>
			</div>
			<div class="structure-block structure-block--molecule">
				<label>32px</label>
				<div class="structure-block__box" style="width: 32px; height: 32px;">
				</div>
			</div>
			<div class="structure-block structure-block--molecule">
				<label>48px</label>
				<div class="structure-block__box" style="width: 48px; height: 48px;">
				</div>
			</div>
			<div class="structure-block structure-block--molecule">
				<label>64px</label>
				<div class="structure-block__box" style="width: 64px; height: 64px;">
				</div>
			</div>
			<div class="structure-block structure-block--molecule">
				<label>72px</label>
				<div class="structure-block__box" style="width: 72px; height: 72px;">
				</div>
			</div>
			<div class="structure-block structure-block--molecule">
				<label>80px</label>
				<div class="structure-block__box" style="width: 80px; height: 80px;">
				</div>
			</div>
			<div class="structure-block structure-block--molecule">
				<label>96px</label>
				<div class="structure-block__box" style="width: 96px; height: 96px;">
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6">
			<p><b>Page Blocks</b></p>
			<div class="structure-block structure-block--page">
				<label>8px</label>
				<div class="structure-block__box" style="width: 8px; height: 8px;">
				</div>
			</div>
			<div class="structure-block structure-block--page">
				<label>16px</label>
				<div class="structure-block__box" style="width: 16px; height: 16px;">
				</div>
			</div>
			<div class="structure-block structure-block--page">
				<label>24px</label>
				<div class="structure-block__box" style="width: 24px; height: 24px;">
				</div>
			</div>
			<div class="structure-block structure-block--page">
				<label>32px</label>
				<div class="structure-block__box" style="width: 32px; height: 32px;">
				</div>
			</div>
			<div class="structure-block structure-block--page">
				<label>48px</label>
				<div class="structure-block__box" style="width: 48px; height: 48px;">
				</div>
			</div>
			<div class="structure-block structure-block--page">
				<label>64px</label>
				<div class="structure-block__box" style="width: 64px; height: 64px;">
				</div>
			</div>
			<div class="structure-block structure-block--page">
				<label>72px</label>
				<div class="structure-block__box" style="width: 72px; height: 72px;">
				</div>
			</div>
			<div class="structure-block structure-block--page">
				<label>96px</label>
				<div class="structure-block__box" style="width: 96px; height: 96px;">
				</div>
			</div>
			<div class="structure-block structure-block--page">
				<label>120px</label>
				<div class="structure-block__box" style="width: 120px; height: 120px;">
				</div>
			</div>
			<div class="structure-block structure-block--page">
				<label>144px</label>
				<div class="structure-block__box" style="width: 144px; height: 144px;">
				</div>
			</div>
			<div class="structure-block structure-block--page">
				<label>176px</label>
				<div class="structure-block__box" style="width: 176px; height: 176px;">
				</div>
			</div>
			<div class="structure-block structure-block--page">
				<label>200px</label>
				<div class="structure-block__box" style="width: 200px; height: 200px;">
				</div>
			</div>
		</div>
	</div>
</div>