// header type setting
@mixin header-type-setting($font-size: 'base', $font-weight: 'extra-bold') {
	font-size: font-size($font-size);
	line-height: line-height('tight');
	font-weight: font-weight($font-weight);
	color: $header-font-color;
	display: block;
}

// general type setting
@mixin type-setting($font-size: 'base', $line-height: 'regular') {
	font-size: font-size($font-size);
	line-height: line-height($line-height);
}

// paragraph type setting
@mixin paragraph-type-setting {
	@include type-setting('base');
	margin: 0 0 1.5em 0;
}

// sets font-size
@mixin font-size($size) {
	@include type-setting($size);
}

// headings
@mixin heading-1 {
	@include header-type-setting('super');
	padding-bottom: spacing('sm');
	margin: 0;
}

@mixin heading-2 {
	@include header-type-setting('xl');
	padding-bottom: spacing('sm');
	margin: 0;
}

@mixin heading-3 {
	@include header-type-setting('lg');
	padding-bottom: spacing('sm');
	margin: 0;
}

@mixin heading-4 {
	@include header-type-setting('md');
	padding-bottom: spacing('xs');
	margin: 0;
}

@mixin heading-5 {
	@include header-type-setting('base');
	padding-bottom: spacing('mini');
	margin: 0;
}