// header type setting
@mixin header-type-setting($level: 'base', $weight: $header-font-weight) {
	font-size: map-get($type-scale, $level);
	line-height: 1.25;
	font-weight: $weight;
	color: $header-font-color;
	display: block;
}

// general type setting
@mixin type-setting($level: 'base') {
	font-size: map-get($type-scale, $level);
	line-height: 1.5;
}

// paragraph type setting
@mixin paragraph-type-setting {
	@include type-setting('base');
	margin: 0 0 $base-line-height 0;
}

// sets font-size
@mixin font-size($size) {
	@include type-setting($size);
}

// headings
@mixin heading-1 {
	@include header-type-setting('super');
	padding-bottom: spacing('sm');
	margin: 0;
}

@mixin heading-2 {
	@include header-type-setting('xl');
	padding-bottom: spacing('sm');
	margin: 0;
}

@mixin heading-3 {
	@include header-type-setting('lg');
	padding-bottom: spacing('sm');
	margin: 0;
}

@mixin heading-4 {
	@include header-type-setting('md');
	padding-bottom: spacing('xs');
	margin: 0;
}

@mixin heading-5 {
	@include header-type-setting('base');
	padding-bottom: spacing('mini');
	margin: 0;
}