<nav class="ter-navbar ter-navbar--top is-fixed z-10 is-inverse">
	<div class="container-fluid wrap justify-content-flex-end">
		<div class="pad-v-xs d-inline">
			<span class="font-size-sm margin-right-xs"><b>Select a theme</b></span>
		</div>
		<div class="pad-v-xs d-inline width-25">
			<select id="theme-switcher" class="ter-select">
				<option value="style">Terra</option>
				<option value="trimble">Trimble</option>
				<option value="origin">Origin</option>
			</select>
		</div>
	</div>
</nav>
<nav class="ter-navbar">
	<div class="container-fluid wrap">
		<div class="ter-navbar__brand">
			<a href="http://buildings.trimble.com/" title="Home" rel="home">
				<img src="http://buildings.trimble.com/themes/buildings_2019/logo.svg" alt="Home" />
			</a>
		</div>
		<button class="ter-navbar__toggle" type="button" data-toggle="collapse" data-target=".collapse">
			<span class="line"></span>
			<span class="line"></span>
			<span class="line"></span>
		</button>
		<div class="ter-navbar__nav">
			<ul class="menu nav ter-navbar__menu">
				<li class="ter-navbar__menu-item">
					<a href="http://buildings.trimble.com/where-to-buy" data-drupal-link-system-path="node/2276">Where To Buy</a>					
				</li>
				<li class="ter-navbar__menu-item is-active">
					<a href="http://buildings.trimble.com/product-catalog" data-drupal-link-system-path="node/2285">Product Catalog</a>
				</li>
				<li class="ter-navbar__menu-item">
					<a href="http://buildings.trimble.com/about-us" data-drupal-link-system-path="node/2296">About Us</a>
				</li>
				<li class="ter-navbar__menu-item">
					<a href="http://buildings.trimble.com/constructible-process" data-drupal-link-system-path="node/2401">Constructible Process</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<div class="main-wrapper">
	<div id="" class="paragraph--naming-layer paragraph--o-t1 pad-v-lg pad-v-md-mega bg-light-0">
		<div class="top-snow"></div>
		<div class="container-fluid wrap">
			<div class="row">
				<div class="col-xs-12 col-sm-8 col-md-6">
					<div class="ter-card box-shadow-3">
						<div class="ter-card__body">

							<div class="paragraph--m-header text-left">
								<h3>Layout solutions for every need</h3>
							</div><div class="paragraph--m-text text-left">
								<p>Find the construction layout solutions right for you.</p>
							</div>
							<div class="paragraph--m-cta-section text-left">
								<div class="cta-section--upper">
									<div class="block-display text-left">
										<a class="ter-button ter-button--primary ter-button--large" href="http://buildings.trimble.com/field-technology/request-demo">Request a Demo</a>
									</div>
								</div>
								<div class="cta-section--lower">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bot-snow"></div>
	</div>
	<div class="paragraph paragraph--naming-layer paragraph--o-a1 o-a1--default pad-v-lg pad-v-md-xl is-inverse bg-brand-1">
		<div class="top-snow"></div>
		<div class="paragraph--container-layer">
			<div class="container-fluid wrap">
				<div class="row">
					<div class="col-xs paragraph-content-section">
						<div class="paragraph--m-header text-center">
							<h3>Hardware</h3>
						</div>
						<div class="paragraph--m-text text-center">
							<p>Reliable, accurate tools that improve productivity and enhance results in a wide range of jobs.</p>
						</div>
						<div class="paragraph--m-text text-left">
							<div class="row d-flex">
								<div class="col-xs-12 col-sm-6 col-md flex-1">
									<a href="http://buildings.trimble.com/layout/rts" class="ter-card ter-card--accent box-shadow-3 height-100">
										<span class="ter-card__image card__image--top hardware">
											<img src="http://c110009.sketchup.com/sites/buildings.trimble.com/files/hardware/RTS573.png" width="" height="" alt="">
										</span>
										<span class="ter-card__body flex-1">
											<h5>RTS</h5>
											<p>Perform layout tasks faster and more efficiently than with conventional systems.</p>
											<span class="link d-block text-right link">See How It Works →</span>
										</span>
									</a>
								</div>
								<div class="col-xs-12 col-sm-6 col-md flex-1">
									<a href="http://buildings.trimble.com/layout/rpt" class="ter-card ter-card--accent box-shadow-3 height-100">
										<span class="ter-card__image card__image--top hardware">
											<img src="http://c110009.sketchup.com/sites/buildings.trimble.com/files/hardware/RPT600.png" width="" height="" alt="">
										</span>
										<span class="ter-card__body flex-1">
											<h5>RPT</h5>
											<p>Measure distances and find positions -- simply and easily.</p>
											<span class="link d-block text-right link">Explore Now →</span>
										</span>
									</a>
								</div>
								<div class="col-xs-12 col-sm-6 col-md flex-1">
									<a href="http://buildings.trimble.com/layout/gnss" class="ter-card ter-card--accent box-shadow-3 height-100">
										<span class="ter-card__image card__image--top hardware">
											<img src="http://c110009.sketchup.com/sites/buildings.trimble.com/files/hardware/GNSS.png" width="" height="" alt="">
										</span>
										<span class="ter-card__body flex-1">
											<h5>GNSS</h5>
											<p>All the features and benefits you need in one customizable, integrated receiver.</p>
											<span class="link d-block text-right link">Take a Look →</span>
										</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row normal-row">
					<div class="col-xs-12 col-sm-6 justify-content-center margin-bottom-lg margin-bottom-md-none paragraph-content-section">
					</div>
					<div class="col-xs-12 col-sm-6 justify-content-center paragraph-content-section">
					</div>
				</div>
			</div>
		</div>
		<div class="bot-snow"></div>
	</div>
	<div id=""  class="paragraph paragraph--naming-layer paragraph--o-a1 o-a1--default pad-v-lg pad-v-md-mega bg-light-0">
		<div class="top-snow"></div>
		<div class="paragraph--container-layer">
			<div class="container-fluid wrap">
				<div class="row">
					<div class="col-xs paragraph-content-section">	
					</div>
				</div>
				<div class="row normal-row">
					<div class="col-xs-12 col-sm-6 justify-content-center margin-bottom-lg margin-bottom-md-none paragraph-content-section">
						<div class="paragraph--m-image">
							<div class="paragraph--m-image__image">
								<img src="http://buildings.trimble.com/sites/buildings.trimble.com/files/molecule_image/Software%20Feature%20-%20Trimble_FieldLink.png" width="600" height="539" alt="Trimble Field Link" typeof="foaf:Image" />
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-5 col-sm-offset-1 justify-content-center paragraph-content-section">
						<div class="paragraph--m-list-item">
							<div class="paragraph--m-list-item-text">
								<div class="paragraph--m-list-item-header">
									<h5><a class="list-item-header-link" href="http://buildings.trimble.com/layout/trimble-field-link">Trimble Field Link</a></h5>

								</div>
								<div class="paragraph--m-list-item-description">
									<p>Extend layout capabilities, simplify tasks, and improve accuracy for crews in the field.</p>
								</div>
							</div>
						</div>
						<div class="paragraph--m-list-item">
							<div class="paragraph--m-list-item-text">
								<div class="paragraph--m-list-item-header">
									<h5><a class="list-item-header-link" href="http://buildings.trimble.com/layout/trimble-field-link-office">Trimble Field Link Office</a></h5>
								</div>
								<div class="paragraph--m-list-item-description">
									<p>Visualize, manage, and share your field data and results.</p>
								</div>
							</div>
						</div>
						<div class="paragraph--m-list-item">
							<div class="paragraph--m-list-item-text">
								<div class="paragraph--m-list-item-header">
									<h5><a class="list-item-header-link" href="http://buildings.trimble.com/layout/field-points">Trimble Field Points</a></h5>
								</div>
								<div class="paragraph--m-list-item-description">
									<p>Easily create field layout points in SketchUp, AutoCAD, or Revit.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bot-snow"></div>
	</div>
	<div id=""  class="paragraph paragraph--naming-layer paragraph--o-a1 o-a1--default pad-v-lg pad-v-md-mega is-inverse bg-brand-1">
		<div class="top-snow"></div>
		<div class="paragraph--container-layer">
			<div class="container-fluid wrap">
				<div class="row">
					<div class="col-xs paragraph-content-section">	
					</div>
				</div>
				<div class="row normal-row">
					<div class="col-xs-12 col-md-5 justify-content-center margin-bottom-lg margin-bottom-md-none paragraph-content-section">
						<div class="paragraph--m-header text-left">
							<h3>Trimble Field Link Office</h3>
						</div><div class="paragraph--m-text text-left">
							<p>Reduce the complexity of creating points and a plan on the job, or working directly from a 3D model or 2D drawing: Trimble Field Link Office fits your style and skill level.</p>
						</div>
					</div>
					<div class="col-xs-12 col-md-6 col-md-offset-1 justify-content-center paragraph-content-section">
						<div class="paragraph--m-video text-left">
							<div class="video-responsive box-shadow-3">
								<iframe width="560" height="315" src="https://www.youtube.com/embed/EdaiCvX93xU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bot-snow"></div>
	</div>
	<div id="" class="paragraph paragraph--naming-layer paragraph--o-a1 o-a1--default pad-v-lg pad-v-md-mega bg-light-0">
		<div class="top-snow"></div>
		<div class="paragraph--container-layer">
			<div class="container-fluid wrap">
				<div class="row">
					<div class="col-xs paragraph-content-section">						
						<div class="paragraph--m-header text-center">
							<h3>Interested in learning more?</h3>
						</div><div class="paragraph--m-text text-center">
							<p>Request a demo from one of our experts today.</p>
						</div>
						<div class="paragraph--m-cta-section text-center">
							<div class="cta-section--upper">
								<div class="block-display text-center">								
									<a class="ter-button ter-button--primary ter-button--large" href="http://buildings.trimble.com/request-a-demo">Request a Demo</a>
								</div>
							</div>
							<div class="cta-section--lower">
							</div>
						</div>
					</div>
				</div>
				<div class="row normal-row">
					<div class="col-xs-12 col-sm-6 justify-content-center margin-bottom-lg margin-bottom-md-none paragraph-content-section">					
					</div>
					<div class="col-xs-12 col-sm-6 justify-content-center paragraph-content-section">
					</div>
				</div>
			</div>
		</div>
		<div class="bot-snow"></div>
	</div>
	<footer class="footer" role="contentinfo">
		<section class="footer__bottom pad-v-md">
			<div class="container-fluid wrap">
				<div class="row">
					<div class="col-xs">
						<nav class="footer-links">
							<ul class="footer-links__list list-inline list-inline--left">
								<li class="footer-links__list-item"><a href="http://www.trimble.com/Corporate/Terms_of_Use.aspx">Terms of Use</a></li>
								<li class="footer-links__list-item"><a href="http://www.trimble.com/Corporate/Privacy.aspx">Privacy Statement</a></li>
								<li class="footer-links__list-item"><a href="http://www.trimble.com/trademarks.aspx">Trademark Information</a></li>
								<li>&copy; 2018, Trimble Inc.</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</section>
	</footer>
</div>