<section class="page-section">
  <div class="container-fluid narrow">
    <h4>Basic Example</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
    <div class="markup-panel">
      <div class="panel">
<nav role="navigation">
  <ul class="pagination">
    <li class="previous"><a href="/" rel="prev"><i class="fas fa-chevron-left"></i></a></li>
    <li><a href="/">1</a></li>
    <li class="active"><a href="/">2</a></li>
    <li><a href="/">3</a></li>
    <li class="next"><a href="/" rel="next"><i class="fas fa-chevron-right"></i></a></li>
  </ul>
</nav>
      </div>
      <pre><code class="language-markup"></code></pre>
    </div>
  </div>
</section>