<div class="page-section__sub-section">
	<h4>Basic Example</h4>
	<p>Pagination is a <code>&lt;nav&gt;</code> HTML item that includes a nested HTML list to display the pager links. The parent class is <code>.ter-pagination</code>, which is used at the top level.</p>
	<p>Active menu items can be notated by using the <code>.is-active</code> class on the active list item.</p>
	<div class="markup-panel">
		<div class="markup-panel__example">
<nav class="ter-pagination" role="navigation">
	<ul class="ter-pagination__list">
		<li class="ter-pagination__list-item"><a href="/" rel="prev"><i class="fas fa-chevron-left"></i></a></li>
		<li class="ter-pagination__list-item"><a href="/">1</a></li>
		<li class="ter-pagination__list-item is-active"><a href="/">2</a></li>
		<li class="ter-pagination__list-item"><a href="/">3</a></li>
		<li class="ter-pagination__list-item"><a href="/" rel="next"><i class="fas fa-chevron-right"></i></a></li>
	</ul>
</nav>
		</div>
		<pre><code class="language-markup"></code></pre>
	</div>
</div>