<div class="page-section__sub-section">
	<h4>Basic Example</h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
	<div class="markup-panel">
		<div class="markup-panel__example">
<nav class="pagination" role="navigation">
	<ul class="pagination__list">
		<li class="pagination__list-item pagination__list-item--previous"><a href="/" rel="prev"><i class="fas fa-chevron-left"></i></a></li>
		<li class="pagination__list-item"><a href="/">1</a></li>
		<li class="pagination__list-item is-active"><a href="/">2</a></li>
		<li class="pagination__list-item"><a href="/">3</a></li>
		<li class="pagination__list-item pagination__list-item--next"><a href="/" rel="next"><i class="fas fa-chevron-right"></i></a></li>
	</ul>
</nav>
		</div>
		<pre><code class="language-markup"></code></pre>
	</div>
</div>