
@function neutral-color($key: 14) {
  @return map-get($neutral-colors, $key);
}
$neutral-colors: () !default;
$neutral-colors: map-merge((
    'white':    #ffffff,
    'dark-1':   #31393C,
    'light-1':  #F9F9FB,
    'gray-1':   #AEAEB6,
    'gray-2':   #767683,
    'black':    #000000,
), $neutral-colors);

@function brand-color($key: 'brand-1') {
  @return map-get($brand-colors, $key);
}
$brand-colors: () !default;
$brand-colors: map-merge((
    'brand-1':  #009AD9,
    'brand-2':  #FFBE00,
    'accent-1': #4ECDC4,
), $brand-colors);

@function emotive-color($key: 'info') {
  @return map-get($emotive-colors, $key);
}
$emotive-colors: () !default;
$emotive-colors: map-merge((
    'default':  brand-color('brand-1'),
    'info':     brand-color('brand-1'),
    'danger':   #F57362,
    'success':  #C0F57A,
    'warning':  #FFF172,
    'light':    neutral-color('light-1'),
    'dark':     neutral-color('dark-1'),
), $emotive-colors);

@function map-collect($maps...) {
  $collection: ();
  @each $map in $maps {
    $collection: map-merge($collection, $map);
  }
  @return $collection;
}
$color-palette: map-collect($brand-colors, $emotive-colors, $neutral-colors); 

// font family
$font-sans-serif:
    'Open Sans',
    -apple-system, BlinkMacSystemFont,
    'avenir next', avenir,
    'helvetica neue', helvetica,
    ubuntu,
    roboto, noto,
    'segoe ui', arial,
    sans-serif;

// font weight
$font-weight: (
    'light': 300,
    'normal': 400,
    'bold': 600,
    'black': 800,
);

// type scale
$type-scale: (
    -2: 12px,
    -1: 16px,
    0: 20px,
    1: 28px,
    2: 36px,
    3: 44px,
    4: 52px,
    5: 72px
);

// type setting
$base-font-size: 16px;
$scale: 1.75;
$base-line-height: $base-font-size * $scale;
$line-height: (
    -1: $base-line-height,
    0: $base-line-height,
    1: $base-line-height * 1,
    2: $base-line-height * 1,
    3: $base-line-height * 2,
    4: $base-line-height * 2,
    5: $base-line-height * 2,
    6: $base-line-height * 2,
);

// border radius
$border-radius-scale: (
    'none': 0,
    'small': .125rem,
    'medium': .25rem,
    'large': .5rem,
    'mega': 1rem,
);

// heights
@function height($key) {
  @return map-get($height-scale, $key);
}
$height-scale: (
    1: 24px,
    2: 32px,
    3: 48px,
    4: 64px,
    5: 96px,
);

// spacing scale
@function spacing($key: medium) {
  @return map-get($spacing-scale, $key);
}
$spacing-scale: (
    0: 0rem,
    1: 4px,
    2: 8px,
    3: 12px,
    4: 16px,
    5: 24px,
    6: 32px,
    7: 40px,
    8: 48px,
    9: 64px,
    10: 96px,
);

// navigation bar
$navbar-height: height(4);
$navbar-bg: neutral-color('white');
$navbar-link-color: neutral-color('dark-1');
$navbar-link-hover: darken($navbar-link-color, 10%);
$navbar-border-width: 1px;
$navbar-border-color: neutral-color('light-1');

// navigation tabs
$nav-tabs-border-color: neutral-color('gray-1');

// tree menu
$tree-menu-link-color: neutral-color('gray-2');
$tree-menu-link-hover: darken($navbar-link-color, 10%);

// pagination
$pagination-border-color: neutral-color('gray-2');

// body
$body-bg-color: neutral-color('white');
$body-font-color: neutral-color('dark-1');

// headers
$header-font-color: neutral-color('dark-1');

// links
$link-color: brand-color('brand-1');
$link-hover-color: darken($link-color, 10%);
$link-highlight: true;
$link-highlight-color: lighten(brand-color('brand-1'), 30%);

// buttons
$button-border-radius: map-get($border-radius-scale, 'none');
$button-border-size: 1px;

// tooltips
$tooltip-bg: neutral-color('light-1');
$tooltip-text-color: neutral-color('dark-1');

// cards
$card-bg: neutral-color('white');
$card-border-radius: map-get($border-radius-scale, 'none');

// dropdowns
$dropdown-border-size: 1px;
$dropdown-border-color: neutral-color('dark-1');
$dropdown-bg: neutral-color('white');
$dropdown-link-color: neutral-color('dark-1');
$dropdown-link-hover-bg: neutral-color('light-1');

// panels
$panel-bg: neutral-color('white');
$panel-border-color: neutral-color('light-1');

// accordion
$accordion-bg: neutral-color('white');
$accordion-border-color: neutral-color('dark-1');

// form input
$input-bg: neutral-color('white');
$input-border-color: neutral-color('dark-1');
$input-label-color: neutral-color('dark-1');
$input-placeholder-color: neutral-color('gray-2');
$input-focus-border-color: brand-color('brand-1');

// YIQ contrast colors
/// The text color to be used when a background is determined to be 'light'
/// @type Color
$yiq-contrasted-dark-default: neutral-color('dark-1') !default;
/// The text color to be used when a background is determined to be 'dark'
/// @type Color
$yiq-contrasted-light-default: neutral-color('white') !default;
/// The YIQ lightness value that determines when the lightness of color changes from 'dark' to 'light'. Acceptable values are between 0 & 255.
/// @type Number
$yiq-contrasted-threshold: 128 !default;
/// Toggle diagnostic messages.
/// @type Boolean
$yiq-debug: false !default;
