// access any variable
@function v($name) {
  @return var(--#{$name});
}

@mixin skin($skin) {
  @if ($skin == 'inverse') {
    *,
    [class^="heading"] {
      color: #ffffff;
    }
  }
}

.inverse {
  @include skin(inverse);
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin highlight-link($color, $hoverColor) {
  @include transition(all .4s ease);
  box-shadow: inset 0 -0.25em 0 $color;
  line-height: 1;
  &:hover {
    box-shadow: inset 0 -0.2em 0 $hoverColor;
  }
}

@import 'variables';
@import 'style/colors';
@import 'style/backgrounds';
@import 'style/box-shadow';
@import 'style/border-radius';
@import 'style/flex';
@import 'style/font-family';
@import 'style/font-weight';
@import 'style/heights';
@import 'style/icons';
@import 'style/line-height';
@import 'style/media-queries';
@import 'style/normalize';
@import 'style/spacing';
@import 'style/text-align';
@import 'style/type-scale';
@import 'style/typography';
@import 'style/grid';
@import 'style/z-index';

.main-content {
  height: auto;
  @include for-size(tablet-portrait-up) {
    margin-left: 20rem;
  }
}

.markup-panel {
  .panel {
    margin-bottom: 0;
    border-bottom: 0;
  }
  pre[class*="language-"] {
    margin-top: 0;
  }
}

a,
a:visited,
a:active,
a:focus {
  @include transition(all .4s ease);
  font-weight: font-weight(0);
  color: map-get($colors, blue);
  text-decoration: none;
  &:hover {
    color: map-get($colors, blue);
    text-decoration: underline;
  }
}

.inverse {
  a,
  a:visited,
  a:active,
  a:focus {
    @include transition(all .4s ease);
    font-weight: font-weight(0);
    color: map-get($colors, white);
    text-decoration: none;
    &:hover {
      color: map-get($colors, white);
      text-decoration: underline;
    }
  }
}

body,
html {
  color: $body-font-color;
  background: $body-bg-color;
  height: 100%;
}

ul {
  li {

  }
}

body {
  padding-top: 4rem;
  &.no-nav {
    padding-top: 0;
  }
}

.main-content {
  @extend .height-100;
}

@import 'components/components';