/*

	Terra Design System
	http://terradesignsystem.com
	v.1.0.0

 */

// settings
@import 'functions';
@import 'mixins';
@import 'variables';

// structure
@import 'structure/flex';
@import 'structure/height';
@import 'structure/media-queries';
@import 'structure/spacing';
@import 'structure/text-align';
@import 'structure/grid';
@import 'structure/hidden';
@import 'structure/width';

// style
@import 'style/colors';
@import 'style/normalize';
@import 'style/backgrounds';
@import 'style/box-shadow';
@import 'style/border-radius';
@import 'style/depth';
@import 'style/font-family';
@import 'style/font-weight';
@import 'style/global';
@import 'style/icons';
@import 'style/line-height';
@import 'style/type-scale';
@import 'style/typography';

// components
@import 'components/alert';
@import 'components/accordion';
@import 'components/badge';
@import 'components/breadcrumb';
@import 'components/button';
@import 'components/card';
@import 'components/dropdown';
@import 'components/featurette';
@import 'components/forms';
@import 'components/list';
@import 'components/modal';
@import 'components/navigation';
@import 'components/notification';
@import 'components/pagination';
@import 'components/panel';
@import 'components/sections';
@import 'components/table';
@import 'components/tabs';
@import 'components/tooltip';