$colors: (
    red: #e23b43,
    purple: #674cb2,
    blue: #218cff,
    green: #24bf7c,
    yellow: #ffd416,
    white: #ffffff,
    gray: #363545,
    gray-1: #F9F9FB,
    gray-2: #F3F3F7,
    gray-3: #EAEAEF,
    gray-4: #E2E2E7,
    gray-5: #D0D0D7,
    gray-6: #BFBFC6,
    gray-7: #AEAEB6,
    gray-8: #9D9DA6,
    gray-9: #8C8B96,
    gray-10: #7B7A86,
    gray-11: #6A6976,
    gray-12: #595868,
    gray-13: #474655,
    gray-14: #363545,
    gray-15: #262533,
    gray-16: #1B1A26,
    gray-17: #0B0A12,
    black: #000000,
);

// color mapping

$brand-1: map-get($colors, blue);
$brand-2: map-get($colors, blue);
$brand-3: map-get($colors, blue);

$ui-1: map-get($colors, white);
$ui-2: map-get($colors, gray-2);
$ui-3: map-get($colors, gray-4);
$ui-4: map-get($colors, gray-8);
$ui-5: map-get($colors, gray-10);
$ui-6: map-get($colors, gray-12);

$text-1: map-get($colors, gray);
$text-2: map-get($colors, gray-12);
$text-inverse: map-get($colors, white);
$text-light: map-get($colors, white);

$state-default: map-get($colors, blue);
$state-danger: map-get($colors, red);
$state-success: map-get($colors, green);
$state-alert: map-get($colors, yellow);

// navigation
$nav-bg: map-get($colors, white);
$nav-link-color: map-get($colors, gray-10);
$nav-link-hover: map-get($colors, gray);

// body
$body-bg-color: map-get($colors, white);
$body-font-color: map-get($colors, gray-11);

// headers
$header-font-color: map-get($colors, gray-13);

// links
$link-color: map-get($colors, blue);
$link-hover-color: darken($link-color, 10%);

// font family
$font-sans-serif:
    'Lato',
    -apple-system, BlinkMacSystemFont,
    'avenir next', avenir,
    'helvetica neue', helvetica,
    ubuntu,
    roboto, noto,
    'segoe ui', arial,
    sans-serif;

// font weight
$font-weight: (
    'light': 300,
    'normal': 400,
    'bold': 600,
    'black': 800,
);

// type scale
$type-scale: (
    -1: 0.875rem,
    0: 1rem,
    1: 1.25rem,
    2: 1.5rem,
    3: 2.0rem,
    4: 2.5rem,
    5: 3.0rem,
    6: 4.0rem
);

// type setting
$base-font-size: 1rem;
$scale: 1.75;
$base-line-height: $base-font-size * $scale;
$line-height: (
    -1: $base-line-height,
    0: $base-line-height,
    1: $base-line-height * 1,
    2: $base-line-height * 1,
    3: $base-line-height * 2,
    4: $base-line-height * 2,
    5: $base-line-height * 2,
);

// heights
$height-scale: (
    1: 1.75rem,
    2: 2.25rem,
    3: 4rem,
    4: 8rem,
    5: 16rem,
);

// spacing scale
$spacing-scale: (
    'none': 0rem,
    'extra-extra-small': .21875rem,
    'extra-small': .4375rem,
    'small': .875rem,
    'medium': 1.75rem,
    'large': 3.5rem,
    'extra-large': 5.25rem,
    'extra-extra-large': 7rem,
    'extra-extra-extra-large': 8.75rem,
);