<header class="hero iso-bg--dark inverse">
	<div class="container-fluid wrap text-center">
		<div class="row">
			<div class="col-sm-12 col-lg-8 col-lg-offset-2">
				<div class="heading-2">Buy SketchUp Pro 2018</div>
				<p class="font-size-2">
					Purchase a non-expiring license to access SketchUp Pro and LayOut.
				</p>
				<div class="text-center">
					<a class="button button--large" href="#">Sign-in to buy SketchUp Pro</a>
				</div>
			</div>
		</div>
	</div>
</header>
<section class="page-section">
	<div class="container-fluid wrap">
		<div class="row">
			<div class="col-lg-3">
				<a class="heading-4" href="#">License Upgrades and Support Renewals</a>
				<p>Update an existing license to the latest version of SketchUp Pro, or sign up to automatically update your license.</p>
			</div>
			<div class="col-lg-3">
				<a class="heading-4" href="#">Educational Licenses</a>
				<p>We have aggressive discounts for students and educators.</p>
			</div>
			<div class="col-lg-3">
				<a class="heading-4" href="#">Find a Distributor</a>
				<p>Purchase from a local distributor for language specific support.</p>
			</div>
			<div class="col-lg-3">
				<a class="heading-4" href="#">Corporate Purchasing</a>
				<p>Interested in Enterprise or network license purchasing? Get more information or <a href="#">request a quote</a>.</p>
			</div>
		</div>
	</div>
</div>