<header class="hero hero--intro">
	<div class="container-fluid wrap">
		<div class="row">
			<div class="col-xs-12 col-sm-6 text-center-xs">
				<div class="heading-mega">SketchUp Pro</div>
				<p class="font-size-2">
					The most intuitive way to design, document and communicate your ideas in 3D.
				</p>
				<ul class="list-inline--left">
					<li><a href="/pricing" class="button">Buy SketchUp Pro</a></li>
					<li><a href="#" class="button--outline">Download Free Trial</a></li>
				</ul>
			</div>
		</div>
	</div>
</header>
<section class="featurette">
	<div class="container-fluid wrap">
		<div class="row">
			<div class="featurette__showcase-image--left">
				<img src="/assets/sketchup/product/product-1.jpg" alt="SketchUp" />
			</div>
			<div class="featurette__content--right">
				<div class="heading-2">Make Everything Easier</div>
				<p>SketchUp is useful from the earliest stages of design to the end of construction. Programming, diagramming, design development, detailing, documentation, RFIs—wherever you need drawings, you need SketchUp Pro.</p>
			</div>
		</div>
	</div>
</section>
<section class="featurette inverse" style="background-image: url(/assets/sketchup/intro-bg--blue.jpg);">
	<div class="container-fluid wrap">
		<div class="row">
			<div class="col-sm-12 text-center">
				<div class="heading-2">Find a 3D model of anything <i class="flaticon-magnifying-glass"></i></div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<form>
					<div class="input-group">
						<div class="input-wrap">
				        	<input class="effect-16 input-lg" type="text" placeholder="">
				        	<label>Search 3D Warehouse</label>
				        	<i class="flaticon-magnifying-glass"></i>
				            <span class="focus-border"></span>
				        </div>
			        </div>
				</form>
			</div>
		</div>
	</div>
</section>
<section class="featurette">
	<div class="container-fluid wrap">
		<div class="row">
			<div class="featurette__showcase-image--right">
				<img src="/assets/sketchup/product/product-1.jpg" alt="SketchUp" />
			</div>
			<div class="featurette__content--left">
				<div class="heading-2">Simple is Powerful</div>
				<p>SketchUp is useful from the earliest stages of design to the end of construction. Programming, diagramming, design development, detailing, documentation, RFIs—wherever you need drawings, you need SketchUp Pro.</p>
			</div>
		</div>
	</div>
</section>
<section class="featurette inverse" style="background-image: url(/assets/sketchup/intro-bg--blue.jpg);">
	<div class="container-fluid wrap">
		<div class="row">
			<div class="col-sm-12 text-center">
				<div class="heading-2">Join the gang</div>
				<ul class="list-inline--left">
					<li><a href="/pricing" class="button">Buy SketchUp Pro</a></li>
					<li><a href="#" class="button--outline--white">Renew a license</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>