<section class="page-section bg-trimble-gray-1">
	<div class="container-fluid wrap">
		<div class="row text-center">
			<div class="col-sm-12 col-md-8 col-md-offset-2">
				<h2>Welcome to the License Manager</h2>
				<p class="font-size-2">
					Lookup your license, renew Maintenance &amp; Support, and upgrade to the latest version of SketchUp Pro.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3">
				<div class="panel">
					<div class="panel-body">
						<form>
							<div class="input-group">
								<div class="input-wrap">
						        	<input class="effect-16" type="text" placeholder="">
						            <label>Serial Number</label>
						            <span class="focus-border"></span>
						        </div>
						        <a href="#" class="input-help">
						        	<i class="fi flaticon-info"></i>
						        	Help me find my serial number
						        </a>
					        </div>
					        <div class="input-group">
					        	<div class="input-wrap">
						        	<input class="effect-16" type="text" placeholder="">
						            <label>Email Address</label>
						            <span class="focus-border"></span>
						        </div>
					        </div>
					        <div class="input-group">
					        	<input class="button" type="submit" value="Lookup License(s)" />
					        </div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-sm-12">
				<a href="#"><i class="fi flaticon-info"></i> Pricing &amp; Other Frequently Asked Questions</a>
			</div>
		</div>
	</div>
</section>