<div class="page-section__sub-section">
	<h4>Basic Example</h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
	<div class="markup-panel">
		<div class="markup-panel__example">
<div class="ter-dropdown">
	<button data-toggle="ter-dropdown__menu" role="button" class="ter-dropdown__toggle ter-button ter-button--primary">Default</button>
	<ul class="ter-dropdown__menu">
		<li class="ter-dropdown__item ter-dropdown__item--no-link">My Account</li>
		<li class="ter-dropdown__item"><a href="#">Preferences</a></li>
		<li class="ter-dropdown__item"><a href="#">Subscriptions</a></li>
		<li class="ter-dropdown__item ter-dropdown__item--separator"></li>
		<li class="ter-dropdown__item"><a href="#">Logout</a></li>
	</ul>
</div>
<div class="ter-dropdown">
	<button data-toggle="ter-dropdown__menu" role="button" class="ter-dropdown__toggle ter-button ter-button--outline">Default</button>
	<ul class="ter-dropdown__menu">
		<li class="ter-dropdown__item ter-dropdown__item--no-link">My Account</li>
		<li class="ter-dropdown__item"><a href="#">Preferences</a></li>
		<li class="ter-dropdown__item"><a href="#">Subscriptions</a></li>
		<li class="ter-dropdown__item ter-dropdown__item--separator"></li>
		<li class="ter-dropdown__item"><a href="#">Logout</a></li>
	</ul>
</div>
		</div>
		<pre><code class="language-markup"></code></pre>
	</div>
</div>