<section class="page-section">
	<div class="container-fluid narrow">
		<h4>Basic Example</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
		<div class="markup-panel">
			<div class="panel">
<div class="dropdown">
	<a data-toggle="dropdown" role="button" class="button button--default">Default <i class="fas fa-chevron-down"></i></a>
	<ul class="dropdown-menu">
		<li><a href="#">Dropdown Item</a></li>
		<li><a href="#">Another Item</a></li>
		<li class="separator"></li>
		<li><a href="#">Separated Item</a></li>
	</ul>
</div>
			</div>
			<pre><code class="language-markup"></code></pre>
		</div>
	</div>
</section>