<div class="page-section__sub-section">
	<h4>Basic Example</h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
	<div class="markup-panel">
		<div class="markup-panel__example">
<div class="dropdown">
	<a data-toggle="dropdown" role="button" class="button button--default">Default</a>
	<ul class="dropdown-menu">
		<li><a href="#">Dropdown Item</a></li>
		<li><a href="#">Another Item</a></li>
		<li class="separator"></li>
		<li><a href="#">Separated Item</a></li>
	</ul>
</div>
<div class="dropdown">
	<a data-toggle="dropdown" role="button" class="button button--outline">Default</a>
	<ul class="dropdown-menu">
		<li><a href="#">Dropdown Item</a></li>
		<li><a href="#">Another Item</a></li>
		<li class="separator"></li>
		<li><a href="#">Separated Item</a></li>
	</ul>
</div>
<div class="dropdown">
	<a data-toggle="dropdown" role="button" class="button button--ghost">Default</a>
	<ul class="dropdown-menu">
		<li><a href="#">Dropdown Item</a></li>
		<li><a href="#">Another Item</a></li>
		<li class="separator"></li>
		<li><a href="#">Separated Item</a></li>
	</ul>
</div>
		</div>
		<pre><code class="language-markup"></code></pre>
	</div>
</div>