<div class="page-section__sub-section">
	<h4>Basic Example</h4>
	<p>Many different elements can be turned into dropdowns by wrapping the element in a <code>.ter-dropdown</code> class. In this case, we are using buttons, but you can use links as well.</p>
	<div class="markup-panel">
		<div class="markup-panel__example">
<div class="ter-dropdown">
	<button role="button" class="ter-dropdown__toggle ter-button ter-button--primary">Default</button>
	<ul class="ter-dropdown__menu">
		<li class="ter-dropdown__item ter-dropdown__item--no-link">My Account</li>
		<li class="ter-dropdown__item"><a href="#">Preferences</a></li>
		<li class="ter-dropdown__item"><a href="#">Subscriptions</a></li>
		<li class="ter-dropdown__item ter-dropdown__item--separator"></li>
		<li class="ter-dropdown__item"><a href="#">Logout</a></li>
	</ul>
</div>
<div class="ter-dropdown">
	<button role="button" class="ter-dropdown__toggle ter-button ter-button--outline">Default</button>
	<ul class="ter-dropdown__menu">
		<li class="ter-dropdown__item ter-dropdown__item--no-link">My Account</li>
		<li class="ter-dropdown__item"><a href="#">Preferences</a></li>
		<li class="ter-dropdown__item"><a href="#">Subscriptions</a></li>
		<li class="ter-dropdown__item ter-dropdown__item--separator"></li>
		<li class="ter-dropdown__item"><a href="#">Logout</a></li>
	</ul>
</div>
		</div>
		<pre><code class="language-markup"></code></pre>
	</div>
</div>
<div class="page-section__sub-section">
	<h4>Directions</h4>
	<p>By default, dropdowns will dropdown below the trigger element. By utilizing the <code>data-direction</code> attribute, we can change the direction of the dropdow to <code>left</code>, <code>right</code> or <code>up</code>.</p>
	<div class="markup-panel">
		<div class="markup-panel__example">
<div class="ter-dropdown" data-direction="left">
	<button role="button" class="ter-dropdown__toggle ter-button ter-button--dark">Drop Left</button>
	<ul class="ter-dropdown__menu">
		<li class="ter-dropdown__item ter-dropdown__item--no-link">My Account</li>
		<li class="ter-dropdown__item"><a href="#">Preferences</a></li>
		<li class="ter-dropdown__item"><a href="#">Subscriptions</a></li>
		<li class="ter-dropdown__item ter-dropdown__item--separator"></li>
		<li class="ter-dropdown__item"><a href="#">Logout</a></li>
	</ul>
</div>
<div class="ter-dropdown" data-direction="right">
	<button role="button" class="ter-dropdown__toggle ter-button ter-button--dark">Drop Right</button>
	<ul class="ter-dropdown__menu">
		<li class="ter-dropdown__item ter-dropdown__item--no-link">My Account</li>
		<li class="ter-dropdown__item"><a href="#">Preferences</a></li>
		<li class="ter-dropdown__item"><a href="#">Subscriptions</a></li>
		<li class="ter-dropdown__item ter-dropdown__item--separator"></li>
		<li class="ter-dropdown__item"><a href="#">Logout</a></li>
	</ul>
</div>
<div class="ter-dropdown" data-direction="up">
	<button role="button" class="ter-dropdown__toggle ter-button ter-button--dark">Drop Up</button>
	<ul class="ter-dropdown__menu">
		<li class="ter-dropdown__item ter-dropdown__item--no-link">My Account</li>
		<li class="ter-dropdown__item"><a href="#">Preferences</a></li>
		<li class="ter-dropdown__item"><a href="#">Subscriptions</a></li>
		<li class="ter-dropdown__item ter-dropdown__item--separator"></li>
		<li class="ter-dropdown__item"><a href="#">Logout</a></li>
	</ul>
</div>
		</div>
		<pre><code class="language-markup"></code></pre>
	</div>
</div>