<div class="page-section__sub-section">
	<h4>Spacing Scale</h4>
	<p>The spacing scale is a set of predefined values that can be utilized across interfaces and components to keep spacing consistent between and within components.</p>
	<p>By default, the spacing scale is as follows:</p>
	<ul class="list-unstyled list-condensed">
		<li><b>none:</b> 0px</li>
		<li><b>micro:</b> 4px</li>
		<li><b>mini:</b> 8px</li>
		<li><b>xxs:</b> 12px</li>
		<li><b>xs:</b> 16px</li>
		<li><b>sm:</b> 24px</li>
		<li><b>md:</b> 32px</li>
		<li><b>lg:</b> 48px</li>
		<li><b>xl:</b> 64px</li>
		<li><b>xxl:</b> 72px</li>
		<li><b>super:</b> 96px</li>
		<li><b>mega:</b> 144px</li>
	</ul>
</div>
<div class="page-section__sub-section">
	<h4>Padding</h4>
	<p>Padding classes can define padding on all sides <code>.pad-*</code>, vertical padding <code>.pad-v-*</code>, horizontal padding <code>.pad-h-*</code>, or you can also specify top <code>.pad-top-*</code>, left <code>.pad-left-*</code>, bottom <code>.pad-bottom-*</code> and right <code>.pad-right-*</code>.</p>
	<p>The <code>*</code> will be replaced with whichever number from the spacing scale. For example, to have xxs padding on all sides of an object, you would add the class: <code>.pad-all-xxs</code>.
	<div class="markup-panel">
		<div class="markup-panel__example">
<div class="box pad-xxs">
	.pad-3
</div>
		</div>
		<pre><code class="language-markup"></code></pre>
	</div>
</div>
<div class="page-section__sub-section">
	<h4>Margin</h4>
	<p>Margin classes follow the same pattern as padding. Margin classes can define margin on all sides <code>.margin-*</code>, vertical margin <code>.margin-v-*</code>, horizontal margin <code>.margin-h-*</code>, or you can also specify top <code>.margin-top-*</code>, left <code>.margin-left-*</code>, bottom <code>.margin-bottom-*</code> and right <code>.margin-right-*</code>.</p>
	<p>To have an lg margin on the left side of an object, you would add the class: <code>.margin-left-lg</code>.
	<div class="markup-panel">
		<div class="markup-panel__example">
<div class="box pad-xxs margin-left-lg">
	.margin-left-lg
</div>
		</div>
		<pre><code class="language-markup"></code></pre>
	</div>
</div>