<footer class="main-footer">
	<div class="container-fluid wrap">
		<div class="row">
			<div class="col-xs-12 col-sm">
				<ul class="footer-links">
					<li class="footer-links__header">About Us</li>
					<li><a href="#">The SketchUp Story</a></li>
					<li><a href="#">The SketchUp Team</a></li>
					<li><a href="#">SketchUp Blog</a></li>
					<li><a href="#">Trimble Buildings</a></li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm">
				<ul class="footer-links">
					<li class="footer-links__header">Programs</li>
					<li><a href="#">3D Content Developer</a></li>
					<li><a href="#">Educational Grants</a></li>
					<li><a href="#">Visiting Professionals</a></li>
					<li><a href="#">Non-Profit Organizations</a></li>
					<li><a href="#">Project Spectrum</a></li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm">
				<ul class="footer-links">
					<li class="footer-links__header">Developers</li>
					<li><a href="#">Developer Center</a></li>
					<li><a href="#">SketchUp Ruby API</a></li>
					<li><a href="#">SketchUp SDK</a></li>
					<li><a href="#">Extensions</a></li>
					<li><a href="#">Developer Forum</a></li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm">
				<ul class="footer-links">
					<li class="footer-links__header">Help</li>
					<li><a href="#">Help Center</a></li>
					<li><a href="#">Forum</a></li>
					<li><a href="#">Contact Us</a></li>
					<li><a href="#">Retrieve SketchUp License</a></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-xs">
				<span>Copyright &copy; SketchUp 2018</span>
			</div>
		</div>
	</div>
</footer>