<section class="page-section">
	<div class="container-fluid narrow">
		<h4>Text Input</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
		<div class="markup-panel">
			<div class="panel">
<div class="input-group" style="max-width: 350px;">
	<div class="input-wrap">
    	<input class="focus-effect" type="text" placeholder="">
        <span class="focus-border"></span>
        <label>Label</label>
    </div>
</div>
<div class="input-group" style="max-width: 350px;">
	<div class="input-wrap">
    	<input class="focus-effect success" type="text" value="Success State" placeholder="">
    	<label>Label</label>
        <i class="fas fa-check"></i>
        <span class="focus-border"></span>
    </div>
</div>
<div class="input-group" style="max-width: 350px;">
	<div class="input-wrap">
    	<input class="focus-effect error" type="text" value="Error State" placeholder="">
    	<label>Label</label>
        <i class="fas fa-times"></i>
        <span class="focus-border"></span>
    </div>
</div>
			</div>
			<pre><code class="language-markup">&lt;div class=&quot;input-group&quot;&gt;
	&lt;div class=&quot;input-wrap&quot;&gt;
    	&lt;input class=&quot;focus-effect&quot; type=&quot;text&quot; placeholder=&quot;&quot;&gt;
        &lt;label&gt;Input Label&lt;/label&gt;
        &lt;span class=&quot;focus-border&quot;&gt;&lt;/span&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
		</div>
	</div>
</section>
<section class="page-section">
	<div class="container-fluid narrow">
		<h4>Without Focus Effect</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
		<div class="markup-panel">
			<div class="panel">
<div class="input-group" style="max-width: 350px;">
	<div class="input-wrap">
		<label>Label</label>
    	<input type="text" placeholder="">
    </div>
</div>
			</div>
			<pre><code class="language-markup"></code></pre>
		</div>
	</div>
</section>
<section class="page-section">
	<div class="container-fluid narrow">
		<h4>Text Input with Icon</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
		<div class="markup-panel">
			<div class="panel">
<div class="input-group" style="max-width: 350px;">
	<div class="input-wrap">
    	<input class="focus-effect" type="text" placeholder="">
    	<label>Search</label>
        <i class="fi flaticon-magnifying-glass"></i>
        <span class="focus-border"></span>
    </div>
</div>
			</div>
			<pre><code class="language-markup"></code></pre>
		</div>
	</div>
</section>