<div class="page-section__sub-section">
	<h4>Text Input</h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
	<div class="markup-panel">
		<div class="markup-panel__example">
<div class="input-group">
	<label>Label</label>
	<div class="input-wrap">
		<input type="text" placeholder="">
	</div>
</div>
<div class="input-group success">
	<label>Label</label>
	<div class="input-wrap">
		<input type="text" value="Success State" placeholder="">
	</div>
	<div class="input-message">
		This is a success message
	</div>
</div>
<div class="input-group error">
	<label>Label</label>
	<div class="input-wrap">
		<input type="text" value="Error State" placeholder="">
	</div>
	<div class="input-message">
		This is an error message
	</div>
</div>
<div class="input-group">
	<label>Disabled Input</label>
	<div class="input-wrap">
		<input type="text" value="Disabled State" placeholder="Disabled" disabled>
	</div>
</div>
		</div>
	</div>
	<pre><code class="language-markup"></code></pre>
</div>
<div class="page-section__sub-section">
	<h4>Basic Form</h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
	<div class="markup-panel">
		<div class="markup-panel__example">
<form>
	<div class="input-group">
		<label>Name</label>
		<div class="input-wrap">
	    	<input type="text" placeholder="">
	    </div>
	</div>
	<div class="input-group">
		<label>Email</label>
		<div class="input-wrap">
	    	<input type="email" placeholder="">
	    </div>
	</div>
	<div class="radio-group">
		<label>This is a question</label>
		<div class="input-radio">
			<input type="radio" name="radio" value="1" placeholder="">
			<label>Yes</label>
		</div>
		<div class="input-radio">
			<input type="radio" name="radio" value="2"placeholder="">
			<label>No</label>
		</div>
		<div class="input-radio">
			<input type="radio" name="radio" value="3" placeholder="">
			<label>Maybe</label>
		</div>
	</div>
	<div class="input-group">
		<div class="input-wrap">
			<label>Message</label>
	    	<textarea></textarea>
	    </div>
	</div>
	<div class="input-checkbox">
		<input type="checkbox" placeholder="" name="subscribe" value="1">
		<label>Subscribe to our newsletter</label>
	</div>
	<div class="input-group">
		<button class="button button--info">Send Message</button>
	</div>
</form>
		</div>
	</div>
	<pre><code class="language-markup"></code></pre>
</div>
<div class="page-section__sub-section">
	<h4>Search Bar</h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
	<div class="markup-panel">
		<div class="markup-panel__example">
<div class="search-bar input-group">
	<div class="search-bar__input">
		<div class="input-wrap">
	    	<input type="text" placeholder="">
	    </div>
    </div>
	<button class="search-bar__submit"><i class="fi flaticon-magnifying-glass"></i></button>
</div>
		</div>
		<pre><code class="language-markup"></code></pre>
	</div>
</div>