<div class="page-section__sub-section">
	<h4>Spacing Classes</h4>
	<p>The Terra spacing scale is a set of predefined values that can be utilized across interfaces and components to keep spacing consistent between and within components.</p>
	<p>
		For spacing on all sides, the class follows this pattern: <code>.{property}-{size}</code><br />
		With a direction, the classes follow this pattern: <code>.{property}-{direction}-{size}</code><br />
		Responsive spacing classes follow this pattern: <code>.{property}-{direction}-{breakpoint}-{size}</code>
	</p>
	<p>Where <code>{property}</code> is one of the following:</p>
	<ul class="list-condensed">
		<li><code>pad</code> for padding</li>
		<li><code>margin</code> for margin</li>
	</ul>
	<p>Where <code>{breakpoint}</code> is one of the following:</p>
	<ul class="list-condensed">
		<li><code>sm</code> for small screen sizes and up</li>
		<li><code>md</code> for medium screen sizes and up</li>
		<li><code>lg</code> for large screen sizes and up</li>
	</ul>
	<p>Where <code>{direction}</code> is one of the following:</p>
	<ul class="list-condensed">
		<li><code>t</code> for top</li>
		<li><code>r</code> for right</li>
		<li><code>b</code> for bottom</li>
		<li><code>l</code> for left</li>
		<li><code>h</code> for horizontal, or left and right</li>
		<li><code>v</code> for vertical, or top and bottom</li>
	</ul>
	<p>Where <code>{size}</code> is one of the following:</p>
	<ul class="list-condensed">
		<li><code>none</code> for 0px</li>
		<li><code>micro</code> for 4px</li>
		<li><code>mini</code> for 8px</li>
		<li><code>xxs</code> for 12px</li>
		<li><code>xs</code> for 16px</li>
		<li><code>sm</code> for 24px</li>
		<li><code>md</code> for 32px</li>
		<li><code>lg</code> for 48px</li>
		<li><code>xl</code> for 64px</li>
		<li><code>xxl</code> for 72px</li>
		<li><code>super</code> for 96px</li>
		<li><code>mega</code> for 144px</li>
	</ul>
</div>
<div class="page-section__sub-section">
	<h4>Padding</h4>
	<p>Padding classes can define padding on all sides <code>.pad-*</code>, vertical padding <code>.pad-v-*</code>, horizontal padding <code>.pad-h-*</code>, or you can also specify top <code>.pad-top-*</code>, left <code>.pad-left-*</code>, bottom <code>.pad-bottom-*</code> and right <code>.pad-right-*</code>.</p>
	<p>The <code>*</code> will be replaced with whichever number from the spacing scale. For example, to have xxs padding on all sides of an object, you would add the class: <code>.pad-all-xxs</code>.
	<div class="markup-panel">
		<div class="markup-panel__example">
<div class="box pad-xxs">
	.pad-3
</div>
		</div>
		<pre><code class="language-markup"></code></pre>
	</div>
</div>
<div class="page-section__sub-section">
	<h4>Margin</h4>
	<p>Margin classes follow the same pattern as padding. Margin classes can define margin on all sides <code>.margin-*</code>, vertical margin <code>.margin-v-*</code>, horizontal margin <code>.margin-h-*</code>, or you can also specify top <code>.margin-top-*</code>, left <code>.margin-left-*</code>, bottom <code>.margin-bottom-*</code> and right <code>.margin-right-*</code>.</p>
	<p>To have an lg margin on the left side of an object, you would add the class: <code>.margin-left-lg</code>.
	<div class="markup-panel">
		<div class="markup-panel__example">
<div class="box pad-xxs margin-left-lg">
	.margin-left-lg
</div>
		</div>
		<pre><code class="language-markup"></code></pre>
	</div>
</div>