body,
html {
  color: $body-font-color;
  background: $body-bg-color;
  height: 100%;
}

body {
  // padding-top: 4rem;
  &.no-nav {
    padding-top: 0;
  }
}

a,
a:visited,
a:active,
a:focus,
.link,
.link:visited,
.link:active,
.link:focus {
  font-weight: font-weight(0);
  color: $link-color;
  transition: color 200ms ease;
  text-decoration: none;
  &:hover {
    color: $link-hover-color;
    text-decoration: none;
    cursor: pointer;
  }
  .is-inverse & {
    color: $link-inverse-color;
    &:hover {
      color: $link-inverse-hover-color;
    }
  }
}

hr {
  width: 100%;
  height: 1px;
  background-color: neutral-color('gray-1');
  border: 0;
}

.hidden,
[hidden],
[aria-hidden="true"] {
  display: none;
  visibility: hidden;
}

pre {
  margin: 0;
}

::selection {
  background: brand-color('brand-1');
}