//
// Typography
//

// body type settings
body, html {
	@include font-sans-serif;
	@include type-setting('base');
}

// paragraph type setting
p {
	@include paragraph-type-setting;
}

// heading type setting
h1,
.heading-1 {
	@include heading-1;
}

h2,
.heading-2 {
	@include heading-2;
}

h3,
.heading-3 {
	@include heading-3;
}

h4,
.heading-4 {
	@include heading-4;
}

h5,
.heading-5 {
	@include heading-5;
}