<section class="page-section">
	<div class="container-fluid narrow">
		<h4>Color Palette</h4>
		<div class="row">
			<div class="col-md-12 col-lg-8">
				<p>Considering accessibility in web development is crucial to ensure that any visitor to a site, regardless of impairment, has access to the same content and information. There are </p>
			</div>
		</div>
	</div>
</section>
<section class="page-section">
	<div class="container-fluid narrow">
		<h5>Brand Colors</h5>
		<div class="row">
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
				<div class="color-swatch">
					<div class="color-swatch__color bg-brand-1"></div>
					<div class="color-swatch__label">Brand 1</div>
					<div class="color-swatch__hex">#218cff</div>
				</div>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
				<div class="color-swatch">
					<div class="color-swatch__color bg-brand-2"></div>
					<div class="color-swatch__label">Brand 2</div>
					<div class="color-swatch__hex">#218cff</div>
				</div>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
				<div class="color-swatch">
					<div class="color-swatch__color bg-brand-3"></div>
					<div class="color-swatch__label">Brand 3</div>
					<div class="color-swatch__hex">#218cff</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="page-section">
	<div class="container-fluid narrow">
		<h5>State Colors</h5>
		<div class="row">
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
				<div class="color-swatch">
					<div class="color-swatch__color bg-state-danger"></div>
					<div class="color-swatch__label">Danger</div>
					<div class="color-swatch__hex">#218cff</div>
				</div>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
				<div class="color-swatch">
					<div class="color-swatch__color bg-state-success"></div>
					<div class="color-swatch__label">Success</div>
					<div class="color-swatch__hex">#218cff</div>
				</div>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
				<div class="color-swatch">
					<div class="color-swatch__color bg-state-alert"></div>
					<div class="color-swatch__label">Alert</div>
					<div class="color-swatch__hex">#218cff</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="page-section">
	<div class="container-fluid narrow">
		<h5>UI Colors</h5>
		<div class="row">
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
				<div class="color-swatch">
					<div class="color-swatch__color bg-ui-1"></div>
					<div class="color-swatch__label">UI 1</div>
					<div class="color-swatch__hex">#218cff</div>
				</div>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
				<div class="color-swatch">
					<div class="color-swatch__color bg-ui-2"></div>
					<div class="color-swatch__label">UI 2</div>
					<div class="color-swatch__hex">#218cff</div>
				</div>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
				<div class="color-swatch">
					<div class="color-swatch__color bg-ui-3"></div>
					<div class="color-swatch__label">UI 3</div>
					<div class="color-swatch__hex">#218cff</div>
				</div>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
				<div class="color-swatch">
					<div class="color-swatch__color bg-ui-4"></div>
					<div class="color-swatch__label">UI 4</div>
					<div class="color-swatch__hex">#218cff</div>
				</div>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
				<div class="color-swatch">
					<div class="color-swatch__color bg-ui-5"></div>
					<div class="color-swatch__label">UI 5</div>
					<div class="color-swatch__hex">#218cff</div>
				</div>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
				<div class="color-swatch">
					<div class="color-swatch__color bg-ui-6"></div>
					<div class="color-swatch__label">UI 6</div>
					<div class="color-swatch__hex">#218cff</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="page-section">
	<div class="container-fluid narrow">
		<h5>Type Colors</h5>
		<div class="row">
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
				<div class="color-swatch">
					<div class="color-swatch__color bg-text-1"></div>
					<div class="color-swatch__label">Text 1</div>
					<div class="color-swatch__hex">#218cff</div>
				</div>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
				<div class="color-swatch">
					<div class="color-swatch__color bg-text-2"></div>
					<div class="color-swatch__label">Text 2</div>
					<div class="color-swatch__hex">#218cff</div>
				</div>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
				<div class="color-swatch">
					<div class="color-swatch__color bg-text-inverse-1"></div>
					<div class="color-swatch__label">Text Inverse 1</div>
					<div class="color-swatch__hex">#218cff</div>
				</div>
			</div>
		</div>
	</div>
</section>