<section class="page-section">
	<div class="container-fluid narrow">
		<h4>Basic Example</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
		<div class="markup-panel">
			<div class="panel">
<div class="alert alert--default" role="alert">
	<button type="button" class="alert__close" aria-label="Close">
		<span aria-hidden="true"><i class="fas fa-times"></i></span>
	</button>
	<div class="alert__content">
		This is a basic alert
		<hr />
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
	</div>
</div>
			</div>
			<pre><code class="language-markup"></code></pre>
		</div>
	</div>
</section>
<section class="page-section">
	<div class="container-fluid narrow">
		<h4>Alert Variations</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
		<div class="markup-panel">
			<div class="panel">
<div class="alert alert--success" role="alert">
	<button type="button" class="alert__close" aria-label="Close">
		<span aria-hidden="true"><i class="fas fa-times"></i></span>
	</button>
	<div class="alert__content">
		<strong>This is a success alert.</strong><br />
	</div>
</div>
<div class="alert alert--warning" role="alert">
	<button type="button" class="alert__close" aria-label="Close">
		<span aria-hidden="true"><i class="fas fa-times"></i></span>
	</button>
	<div class="alert__content">
		<strong>This is a warning alert.</strong><br />
	</div>
</div>
<div class="alert alert--danger" role="alert">
	<button type="button" class="alert__close" aria-label="Close">
		<span aria-hidden="true"><i class="fas fa-times"></i></span>
	</button>
	<div class="alert__content">
		<strong>This is a danger alert.</strong><br />
	</div>
</div>
<div class="alert alert--dark" role="alert">
	<button type="button" class="alert__close" aria-label="Close">
		<span aria-hidden="true"><i class="fas fa-times"></i></span>
	</button>
	<div class="alert__content">
		<strong>This is a dark alert.</strong><br />
	</div>
</div>
<div class="alert alert--light" role="alert">
	<button type="button" class="alert__close" aria-label="Close">
		<span aria-hidden="true"><i class="fas fa-times"></i></span>
	</button>
	<div class="alert__content">
		<strong>This is a light alert.</strong><br />
	</div>
</div>
			</div>
			<pre><code class="language-markup"></code></pre>
		</div>
	</div>
</section>