<div class="page-section__sub-section">
	<h4>Basic Example</h4>
	<div class="markup-panel">
		<div class="markup-panel__example">
<div class="ter-alert ter-alert--primary" role="alert">
	<button type="button" class="ter-alert__close" aria-label="Close" data-close="alert">
		<span aria-hidden="true">Close Alert</span><i class="fas fa-times"></i>
	</button>
	<div class="ter-alert__content">
		This is a basic alert
	</div>
</div>
		</div>
		<pre><code class="language-markup"></code></pre>
	</div>
</div>
<div class="page-section__sub-section">
	<h4>Alert Variations</h4>
	<div class="markup-panel">
		<div class="markup-panel__example">
<div class="ter-alert ter-alert--success" role="alert">
	<button type="button" class="ter-alert__close" aria-label="Close" data-close="alert">
		<span aria-hidden="true">Close Alert</span><i class="fas fa-times"></i>
	</button>
	<div class="ter-alert__content">
		This is a success alert.<br />
	</div>
</div>
<div class="ter-alert ter-alert--warning" role="alert">
	<button type="button" class="ter-alert__close" aria-label="Close" data-close="alert">
		<span aria-hidden="true">Close Alert</span><i class="fas fa-times"></i>
	</button>
	<div class="ter-alert__content">
		This is a warning alert.<br />
	</div>
</div>
<div class="ter-alert ter-alert--danger" role="alert">
	<button type="button" class="ter-alert__close" aria-label="Close" data-close="alert">
		<span aria-hidden="true">Close Alert</span><i class="fas fa-times"></i>
	</button>
	<div class="ter-alert__content">
		This is a danger alert.<br />
	</div>
</div>
<div class="ter-alert ter-alert--dark" role="alert">
	<button type="button" class="ter-alert__close" aria-label="Close" data-close="alert">
		<span aria-hidden="true">Close Alert</span><i class="fas fa-times"></i>
	</button>
	<div class="ter-alert__content">
		This is a dark alert.<br />
	</div>
</div>
<div class="ter-alert ter-alert--light" role="alert">
	<button type="button" class="ter-alert__close" aria-label="Close" data-close="alert">
		<span aria-hidden="true">Close Alert</span><i class="fas fa-times"></i>
	</button>
	<div class="ter-alert__content">
		This is a light alert.<br />
	</div>
</div>
		</div>
		<pre><code class="language-markup"></code></pre>
	</div>
</div>