/**
 * Box Shadow
 */

$box-shadows: (
	"none": none,
	0: none,
    1: (
    	0px 4px 8px 0px rgba(54,53,69,.10),
    	0px 4px 8px 0px rgba(54,53,69,.10)
	),
    2:	( 
    	0px 4px 12px 0px rgba(54,53,69,.10),
    	0px 12px 16px 4px rgba(54,53,69,.05)
	),
    3: (
    	0px 8px 24px 0px rgba(54,53,69,.10),
    	0px 16px 20px 0px rgba(54,53,69,.05)
	),
	4: (
    	0px 16px 28px 0px rgba(54,53,69,.05),
    	0px 16px 40px 0px rgba(54,53,69,.10)
	)
);

@mixin showcase-shadow {
	box-shadow:
		-1px 92px 99px -62px rgba(0,0,0,.26),
		0 25px 65px 0 rgba(0,0,0,.08)
	;
}

@mixin box-shadow($level) {
	box-shadow: map-get($box-shadows, $level);
}