//
// Font size
//

.font-size-micro {
	@include font-size('micro');
}

.font-size-sm,
small {
	@include font-size('sm');
}

.font-size-md {
	@include font-size('md');
}

.font-size-lg {
	@include font-size('lg');
}

.font-size-xl {
	@include font-size('xl');
}

.font-size-super {
	@include font-size('super');
}

.font-size-mega {
	@include font-size('mega');
}