//
// Font family
//

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800');

@mixin font-sans-serif {
	font-family: $font-sans-serif;
}

@mixin font-serif {
	font-family:
		georgia,
		times,
		serif;
}

@mixin font-code {
	font-family:
		Consolas,
		Monaco,
		'Andale Mono',
		'Ubuntu Mono',
		monospace;
}