//
// Vertical align
//

.v-align-top {
	vertical-align: middle;
}

.v-align-middle {
	vertical-align: middle;
}

.v-align-bottom {
	vertical-align: middle;
}

.v-align-text-top {
	vertical-align: text-top;
}

.v-align-text-bottom {
	vertical-align: text-bottom;
}