<div class="page-section__sub-section">
	<h4>Basic Example</h4>
	<p>Terra, by default, does not style tables. To add styling to a table, add the <code>.ter-table</code> class to your <code>&lt;table&gt;</code> element.</p>
	<div class="markup-panel">
		<div class="markup-panel__example">
<table class="ter-table">
	<thead>
		<tr>
			<th>Table head</th>
			<th>Table head</th>
			<th>Table head</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Cell content</td>
			<td>Cell content</td>
			<td>Cell content</td>
		</tr>
		<tr>
			<td>Cell content</td>
			<td>Cell content</td>
			<td>Cell content</td>
		</tr>
		<tr>
			<td>Cell content</td>
			<td>Cell content</td>
			<td>Cell content</td>
		</tr>
	</tbody>
</table>
		</div>
		<pre><code class="language-markup"></code></pre>
	</div>
</div>