<div class="page-section__sub-section">
	<h4>Navigation Tabs</h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
	<div class="markup-panel">
		<div class="markup-panel__example">
<nav role="navigation">
	<ul class="nav nav-tabs">
		<li><a href="/">View</a></li>
		<li class="active"><a href="/">Edit</a></li>
		<li><a href="/">Outline</a></li>
		<li><a href="/">Delete</a></li>
		<li><a href="/">Manage display</a></li>
		<li><a href="/">Devel</a></li>
		<li><a href="/">Translate</a></li>
	</ul>
</nav>
		</div>
		<pre><code class="language-markup"></code></pre>
	</div>
</div>

<div class="page-section__sub-section">
	<h4>Compact Tabs</h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
	<div class="markup-panel">
		<div class="markup-panel__example">
<nav role="navigation">
	<ul class="nav compact-tabs">
		<li><a href="/">View</a></li>
		<li class="active"><a href="/">Edit</a></li>
		<li><a href="/">Outline</a></li>
		<li><a href="/">Delete</a></li>
		<li><a href="/">Manage display</a></li>
		<li><a href="/">Devel</a></li>
		<li><a href="/">Translate</a></li>
	</ul>
</nav>
		</div>
		<pre><code class="language-markup"></code></pre>
	</div>
</div>