<div class="page-section__sub-section">
	<h4>Navigation Tabs</h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
	<div class="markup-panel">
		<div class="markup-panel__example">
<nav class="ter-nav-tabs" role="navigation" data-controls="#tabs-content">
	<ul class="ter-nav-tabs__list">
		<li class="ter-nav-tabs__list-item"><a href="#" data-content="view">View</a></li>
		<li class="ter-nav-tabs__list-item is-active"><a href="#" data-content="edit">Edit</a></li>
		<li class="ter-nav-tabs__list-item"><a href="#" data-content="outline">Outline</a></li>
		<li class="ter-nav-tabs__list-item"><a href="#" data-content="delete">Delete</a></li>
		<li class="ter-nav-tabs__list-item"><a href="#" data-content="manage">Manage</a></li>
	</ul>
</nav>
<div id="tabs-content">
</div>
		</div>
		<pre><code class="language-markup"></code></pre>
	</div>
</div>

<div class="page-section__sub-section">
	<h4>Compact Tabs</h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
	<div class="markup-panel">
		<div class="markup-panel__example">
<nav class="ter-compact-tabs" role="navigation">
	<ul class="ter-compact-tabs__list">
		<li class="ter-compact-tabs__list-item"><a href="#" data-content="view">View</a></li>
		<li class="ter-compact-tabs__list-item is-active"><a href="#" data-content="edit">Edit</a></li>
		<li class="ter-compact-tabs__list-item"><a href="#" data-content="outline">Outline</a></li>
		<li class="ter-compact-tabs__list-item"><a href="#" data-content="delete">Delete</a></li>
		<li class="ter-compact-tabs__list-item"><a href="#" data-content="manage">Manage</a></li>
	</ul>
</nav>
		</div>
		<pre><code class="language-markup"></code></pre>
	</div>
</div>