<div class="page-section__sub-section">
	<h4>Navigation Tabs</h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
	<div class="markup-panel">
		<div class="markup-panel__example">
<nav class="ter-tabs__nav ter-nav-tabs" role="navigation" data-controls="#tabs-one">
	<ul class="ter-nav-tabs__list">
		<li class="ter-nav-tabs__list-item"><a href="#" data-content="view">View</a></li>
		<li class="ter-nav-tabs__list-item is-active"><a href="#" data-content="edit">Edit</a></li>
		<li class="ter-nav-tabs__list-item"><a href="#" data-content="outline">Outline</a></li>
		<li class="ter-nav-tabs__list-item"><a href="#" data-content="delete">Delete</a></li>
		<li class="ter-nav-tabs__list-item"><a href="#" data-content="manage">Manage</a></li>
	</ul>
</nav>
<ul class="ter-tabs__content" id="tabs-one">
	<li data-content="view">
		<h4>View</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</li>
	<li data-content="edit" class="is-active">
		<h4>Edit</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</li>
	<li data-content="outline">
		<h4>Outline</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</li>
	<li data-content="delete">
		<h4>Delete</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</li>
	<li data-content="manage">
		<h4>Manage</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</li>
</ul>
		</div>
		<pre><code class="language-markup"></code></pre>
	</div>
</div>

<div class="page-section__sub-section">
	<h4>Compact Tabs</h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu ultricies dolor.</p>
	<div class="markup-panel">
		<div class="markup-panel__example">
<nav class="ter-tabs__nav ter-compact-tabs" role="navigation" data-controls="#tabs-two">
	<ul class="ter-compact-tabs__list">
		<li class="ter-compact-tabs__list-item"><a href="#" data-content="view">View</a></li>
		<li class="ter-compact-tabs__list-item is-active"><a href="#" data-content="edit">Edit</a></li>
		<li class="ter-compact-tabs__list-item"><a href="#" data-content="outline">Outline</a></li>
		<li class="ter-compact-tabs__list-item"><a href="#" data-content="delete">Delete</a></li>
		<li class="ter-compact-tabs__list-item"><a href="#" data-content="manage">Manage</a></li>
	</ul>
</nav>
<ul class="ter-tabs__content" id="tabs-two">
	<li data-content="view">
		<h4>View</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</li>
	<li data-content="edit" class="is-active">
		<h4>Edit</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</li>
	<li data-content="outline">
		<h4>Outline</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</li>
	<li data-content="delete">
		<h4>Delete</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</li>
	<li data-content="manage">
		<h4>Manage</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</li>
</ul>
		</div>
		<pre><code class="language-markup"></code></pre>
	</div>
</div>